extends baseCatalouge

block content 
    h1.loader
        img.porti__of__img(src="/images/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    if (user)
        if (!company[0])
            .confirm__pg
                h1 You have not created your enterprise! Create one and come back
                a(href="/porti#crtCataloge") Create Enterprise
        else
            include ../_header
            .whole__menu__sec 
                .menu__section
                    if (catalouges.length === 0)
                        h2.banner.up__place__det You haven't Added Items to your Catalouge, Add Few Items!
                    #item__form
                        .itemform__head 
                            h2 Add Items To Catalouge
                            h2
                                a(href="#openCatalouge") Catalouge Link
                        form#addCatItem.upItem
                            .form__bod
                                label(for="item_name") Item Name:
                                input#catitemname(type="text" required placeholder="Graphite Tile")
                            .form__bod
                                label(for="item_price") Item Price: 
                                input#catitemprice(type="text" required placeholder="Rs. 400 per ft / $ 4 per piece")
                            .form__bod
                                label(for="item_serialno") Item Serial No. (optional): 
                                input#catitemsn(type="text" placeholder="CA10050")
                            .form__bod
                                label(for="item_category") Item Category: 
                                input#catitemcat(type="text", required placeholder="Tiles")
                            .form__bod
                                label(for="item_subcategory") Item Sub-Category (optional): 
                                input#subcatitemcat(type="text", placeholder="Japanese Tiles")
                            .form__bod
                                label(for="item_detail") Item Detail (optional):
                                textarea#catitemdetail(rows="4" cols="50" placeholder="You can Describe about your Item only if you want to, this field is optional...")
                            .form__bod.file_part
                                label(for="catcoverimage") Item Image:
                                input#catcoverimage(type="file" name="catcoverimage" accept="image/*"  required)
                            button#cataddItemBtn.blackbtn Add Item
                    .your__item__sec#CatalogeItemSec
                        h2.items__head Your Items 
                        p.currentuid.hidden= user._id
                        .your__item__bod
                            .your__items.sec__items
                        .paginate 
                            button.prev__catal Previous
                            button.next__catal.hidden Next
                    .share__catalouge#openCatalouge 
                        h2 Share your Catalouge 
                        p.uname__catal.hidden= user.name
                        p.share__catal__link
                    .qrcode__menu 
                        #catalqrcode 
                    .itemform__head 
                        h2 Update Enterprise Detail
                    form#upCompany.upItem
                        .form__bod
                            label(for="company_name") Company Name:
                            input#compname(type="text" required placeholder=company[0].name)
                        .form__bod
                            label(for="company_email") Company Email: 
                            input#compemail(type="email" required placeholder=company[0].email)
                        .form__bod
                            label(for="comapny_social_account") Company Social Account Link (optional): 
                            input#compsocial(type="text" placeholder=company[0].social)
                        .form__bod
                            label(for="company_address") Company Address: 
                            input#compaddress(type="text" required placeholder=company[0].Address)
                        .form__bod
                            label(for="company_address_link") Address Link (optional): 
                            input#complocationLink(type="text" placeholder=company[0].locationLink)
                        .form__bod
                            label(for="company_contact") Company Contact: 
                            input#compcontact(type="text" required placeholder=company[0].contact)
                        .form__bod
                            label(for="company_slogan") Company Slogan (optional): 
                            input#compslogan(type="text", placeholder=company[0].slogan)
                        .form__bod 
                            label(for="company_color") Pick a theme color (optional);
                            input#companyColor(type="color" value="#1A9ACC")
                        p.comp__len.hidden= company.length
                        if (company.length !== 0)
                            p.comp__id.hidden= company[0]._id
                        else 
                            p.comp__id.hidden
                        button#updateCompBtn.blackbtn Update now

                        //- button#addCompBtn.blackbtn Update
                    if (company.length !== 0)
                        .itemform__head 
                            h2 Update Enterprise Cover Image
                            p.compimg__id.hidden= company[0]._id
                        form#upCompanyImage.upItem
                            .form__bod.file_part
                                label(for="compcoverimage") Catalouge Cover Image:
                                input#compcoverimage(type="file" accept="image/*"  required)
                            button#compUpdateImgBtn.blackbtn Update Cover Image
                    else 
                        .compimg__id.hidden
                        #compcoverimage
                        #compUpdateImgBtn
    else 
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/login") Sign In
    script(src="/js/alert.js")
    script(src="/js/catalouge/additemtocat.js")
    script(src="/js/catalouge/qrCode.js")

