extends baseCatalouge 

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span vPor
            span.grn t
            span.nocaps i
    .pageCount.hidden= company.pageCount
    .pageName.hidden= company.name
    if (user)
        if (user.id !== company.user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= company.user.name
                    p.portiuserid.hidden= company.user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .msg__user__btn.hidden 
            .msg__dot.hidden
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= company.user.name 
            .portiuserid.hidden= company.user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= company.user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden 
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .custom_catal_sec
        .seccataluserid.hidden= company.user._id
        #thiscurrentcompusrname.hidden=company.user.name
        if (user)
            #uniquecompuserid.hidden= user.id
            #uniquecompusername.hidden= user.name
        else 
            #uniquecompuserid.hidden
            #uniquecompusername.hidden
        .custom__nav
            .custom__catal__nav 
                p= company.name 
                a.cusanc(href="#cusprod") Product 
                a.cusanc(href="#cusord") Order 
                a.cusanc(href="#cuscont") Contact Us 
        .custom__ham.hidden &#9776;
        .custom__ham__inside.hidden 
            .ham__head
                p.cusanc.hamanc= company.name 
                img.close__ham.point(src="/images/cancel.png", alt="", srcset="")
            a.cusanc.hamanc(href="#cusprod") Product 
            a.cusanc.hamanc(href="#cusord") Order 
            a.cusanc.hamanc(href="#cuscont") Contact Us
        .custom__catal__backpic 
            img.custom__dp(src="/images/doodle.jpg", alt="doodle image", srcset="")
        .custom__body
            .custom__body__mid
                .custom__body__sec 
                    .custom__body__top
                        .custom__search__sec
                            input.custom__searchbar(type="text", name="searchbar" placeholder="type here to search...")
                        .cntre
                            h2.getAllSecCatItem.point.seccatbtn All Items
                        h2 Your Products
                        .custom__prod__sec
                            for item in catalouges
                                .custom__products 
                                    .custom__prod__top     
                                        if (item.CoverImage)
                                            img(src=`${item.CoverImage}`, alt="")
                                        else
                                            img(src="/images/upload.png", alt="", srcset="")
                                    .custom__prod__bottom 
                                        h5= `Name : ${item.name}`
                                        h5= `Price : ${item.currency} ${item.price}` 
                                        if (item.applydiscount == true)
                                            if (banner[0].discountpercent || banner[0].discountpercent !== null)
                                                h5= `Discount : ${banner[0].discountpercent}%`
                                                .bannerdisc= banner[0].discountpercent
                                        if (item.stockQuantity === 0 || item.stockQuantity === null)
                                            h5.stock.rdstock= `Out Of Stock`
                                        else
                                            h5.stock= `Stock Quantity : ${item.stockQuantity}`
                                        if (item.stockQuantity === 0 || item.stockQuantity === null)
                                            .custom__grp
                                                button(name=item._id disabled).custom__btn.addToCart Add To Cart
                                                button(id=item._id name=`${item.category}`).custom__btn.viewProduct View
                                        else
                                            .custom__grp
                                                button(name=item._id).custom__btn.addToCart Add To Cart
                                                button(id=item._id name=`${item.category}`).custom__btn.viewProduct View
                    .productModal.hidden 
                        .productMidModal
                            .product__head#prodBod
                                p.productHead 
                                img.cancelProduct.point(src="/images/cancel.png" alt="cancel__btn")
                            .product__bod

                            h2 Similar Items
                            .similar__bod

                            if (user)
                                h2.txtcent Add A Comment
                                .thisuserid.hidden= user._id
                                form
                                    .form__cont__order
                                        textarea#newComment(type="text" placeholder="Add a comment" required) 
                                    .form__cont__order
                                        button#createComment.seccatbtn Comment
                                h3 Last Comments
                                .all__comment__sec
                            else 
                                h2.txtcent Add A Comment
                                .thisuserid.hidden
                                form
                                    .form__cont__order
                                        textarea#newComment(type="text" disabled required) Log In To Comment
                                    .form__cont__order
                                        button(disabled)#createComment.seccatbtn Comment
                                h3 Last Comments
                                .all__comment__sec
                    .paginate 
                        .seccataluserid.hidden= company.user._id
                        button(type="button").prev__seccatal.seccatbtn Previous
                        button(type="button").next__seccatal.seccatbtn Next
                    .custom__order__sec
                        h2.bodhead Your Orders
                        .custom__orders
                            .cusorders 
                                p Name: First Name
                                p Address: Your Address
                                p Order: Order Detail 
                                p Order confirmation detail
                            .cusorders 
                                p Name: Second Name
                                p Address: Your Address
                                p Order: Order Detail 
                                p Order confirmation detail
                            .cusorders 
                                p Name: Third Name
                                p Address: Your Address
                                p Order: Order Detail 
                                p Order confirmation detail
                .custom__footer
                    .footer__cont 
                        p Contact:
                            span= company.contact
                        p Email: 
                            span= company.email
                        p Terms and Conditions 
                        p Privacy Policies
    .resdetail(title="Product Categories") &#9776;
    .restro__info.hidden
        .catdeatilmidsec
            h1.txtcent.headFont= company.name
            .res__detail__head 
                h3 Categories 
                img.cancel__detail.point(src="/images/cancel.png" alt="cancel__btn")
            .restro__info__bod.sec__cat__catg 
        .sec__sub__item__modal
            .sec__sub__head.res__detail__head
                h3.sec__sub__head__info 
                img.cancel__sub.point(src="/images/cancel.png" alt="cancel__btn")
            .sec__cat__sub
    .customcatalvalsec.hidden 
        .navpos= customCatal.navpos
        .navfontsize= customCatal.navfontsize 
        .navfontfam= customCatal.navfontfam 
        .navvisibility= customCatal.navvisibility
        .hamnav= customCatal.hamnav 
        .navheight= customCatal.navheight 
        .navwidth= customCatal.navwidth 
        .navcontentpos= customCatal.navcontentpos 
        .navbackcol= customCatal.navbackcol 
        .navcol= customCatal.navcol 
        .covpos= customCatal.covpos 
        .covfilter= customCatal.covfilter 
        .covfilterper= customCatal.covfilterper 
        .covstyle= customCatal.covstyle 
        .covvisibility= customCatal.covvisibility 
        .covheight= customCatal.covheight 
        .covwidth= customCatal.covwidth 
        .covimg= customCatal.covimg 
        .bodbackcol= customCatal.bodbackcol 
        .bodcol= customCatal.bodcol 
        .bodfontfam= customCatal.bodfontfam 
        .bodalign= customCatal.bodalign 
        .bodfontsize= customCatal.bodfontsize 
        .bodwidth= customCatal.bodwidth 
        .bodpos= customCatal.bodpos 
        .searchvisibility= customCatal.searchvisibility 
        .searchpos= customCatal.searchpos 
        .searchwidth= customCatal.searchwidth 
        .searchcol= customCatal.searchcol 
        .itembackcol= customCatal.itembackcol 
        .itemfontcol= customCatal.itemfontcol 
        .flexitem= customCatal.flexitem 
        .alignitem= customCatal.alignitem 
        .itemfontsize= customCatal.itemfontsize 
        .itemwidth= customCatal.itemwidth 
        .itempos= customCatal.itempos 
        .buttonbackcol= customCatal.buttonbackcol 
        .buttoncol= customCatal.buttoncol 
        .buttonradius= customCatal.buttonradius
        .itemmargin= customCatal.itemmargin 
        .orderbackcol= customCatal.orderbackcol 
        .orderfontcol= customCatal.orderfontcol 
        .flexorder= customCatal.flexorder 
        .alignorder= customCatal.alignorder 
        .orderfontsize= customCatal.orderfontsize 
        .orderwidth= customCatal.orderwidth 
        .orderpos= customCatal.orderpos 
        .ordermargin= customCatal.ordermargin 
        .footerbackcol= customCatal.footerbackcol 
        .footerfontcol= customCatal.footerfontcol 
        .flexfooter= customCatal.flexfooter 
        .alignfooter= customCatal.alignfooter 
        .footerfontsize= customCatal.footerfontsize 
        .footerwidth= customCatal.footerwidth 
        .footerpos= customCatal.footerpos
        .footerpadding= customCatal.footerpadding 
        .footerradius= customCatal.footerradius 
    script(src="/js/alert.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/usermsg.js") 
    script(src="/js/catalouge/customCatalouge.js") 
