extends baseCatalouge 

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span vPor
            span.grn t
            span.nocaps i
    .pageCount.hidden= company.pageCount
    .pageName.hidden= company.name
    if (user)
        if (user.id !== company.user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= company.user.name
                    p.portiuserid.hidden= company.user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .msg__user__btn.hidden 
            .msg__dot.hidden
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= company.user.name 
            .portiuserid.hidden= company.user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= company.user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden 
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .sec__cat 
        .seccatThemeColor.hidden= company.themecolor
        .seccatFontColor.hidden= company.fontColor 
        .seccatFontFam.hidden= company.fontFam 
        .seccatHeadColor.hidden= company.headColor 
        .seccatSecHeadColor.hidden= company.secHeadColor 
        .seccatfocusColor.hidden= company.focusColor 
        .seccatPolygon.hidden= company.polygon
        .seccatCovWidth.hidden= company.covWidth 
        .seccatCovHeight.hidden= company.covHeight
        if (!user)
            #secCatid.hidden 
            #changesecCatTheme.hidden 
            #defaultsecCatTheme.hidden
            .cancel__edit__dummy.hidden
            .edit__sec__cat.hidden
        else
            if (user.id !== company.user.id)
                #secCatid.hidden 
                #changesecCatTheme.hidden 
                #defaultsecCatTheme.hidden
                .cancel__edit__dummy.hidden
                .edit__sec__cat.hidden
            else
                .edit__sec__cat(title="Edit Theme") &#9881;
                .edit__features__sec.hidden
                    .edit__feat__head 
                        h3 Edit Theme 
                        img.cancel__edit__dummy.point(src="/images/cancel.png" alt="cancel__edit")
                    .edit__feat__bod
                        #secCatid.hidden= company._id
                        form.feat_form_bod
                            .form__bod__cat 
                                label Background Color:
                                input#secCatBackColor(type="color" value="#ffffff")
                            .form__bod__cat 
                                label Cover Image Style:  
                                select#secCatPolygon
                                    option.opt(hidden selected) Full
                                    option.opt(value="crack") Crack 
                                    option.opt(value="full") Full
                                    option.opt(value="right") Right Angle
                                    option.opt(value="parallel") Parallel
                                    option.opt(value="hexa") Hexa
                            .form__bod__cat 
                                label Cover Image Height:  
                                select#secCatCovHeight
                                    option.opt(hidden selected) 70
                                    option.opt(value="hundred") 100 
                                    option.opt(value="seventy") 70
                                    option.opt(value="fifty") 50
                                    option.opt(value="thirty") 30
                                    option.opt(value="remove") 0
                            .form__bod__cat 
                                label Cover Image Width:  
                                select#secCatCovWidth
                                    option.opt(hidden selected) 100
                                    option.opt(value="hundred") 100 
                                    option.opt(value="seventy") 70
                                    option.opt(value="fifty") 50
                                    option.opt(value="thirty") 30
                                    option.opt(value="remove") 0
                            .form__bod__cat
                                label Font Color:
                                input#secCatFontColor(type="color" value="#808080")
                            .form__bod__cat 
                                label Heading text Color:
                                input#secCatHeadColor(type="color" value="#ffffff")
                            .form__bod__cat 
                                label Color Second:
                                input#secCatSecHeadColor(type="color" value="#674ea7")
                            .form__bod__cat 
                                label Focus Color:
                                input#secCatFocusColor(type="color" value="#F3F3F3")
                            .form__bod__cat 
                                label Font Family 
                                select#secCatFontFam
                                    option.opt(hidden selected) Cambria
                                    option.opt(value="cursive") Cursive 
                                    option.opt(value="monospace") Monospace
                                    option.opt(value="Arial") Arial
                                    option.opt(value="Impact") Impact
                                    option.opt(value="Cabin Sketch") Cabin Sketch
                            .grp_sec_cat_btn
                                button#changesecCatTheme.catbtn Update Theme
                                button#defaultsecCatTheme.catbtn Default Theme 
        .sec__cat__covimg__sec
            if (company.coverImage)
                img.sec__cat__coverpic(src=`${company.coverImage}`, alt="cover__img")
            else 
                img.sec__cat__coverpic(src="/images/catcov.jpg", alt="cover__img")
        .resdetail(title="Product Categories") &#9776;
        .restro__info.hidden
            .catdeatilmidsec
                h1.txtcent.headFont= company.name
                .res__detail__head 
                    h3 Categories 
                    img.cancel__detail.point(src="/images/cancel.png" alt="cancel__btn")
                .restro__info__bod.sec__cat__catg 
            .sec__sub__item__modal
                .sec__sub__head.res__detail__head
                    h3.sec__sub__head__info 
                    img.cancel__sub.point(src="/images/cancel.png" alt="cancel__btn")
                .sec__cat__sub
                    
        #thiscurrentcompid.hidden= company._id
        #thiscurrentcompusrname.hidden=company.user.name
        #thiscurrentcompuserid.hidden= company.user._id
        .resorder(title="order") &#128722;
        .resorderfill.hidden
        audio#seccompmsgalert.hidden
            source(src="/noti/msg.mp3")
        .resorder__info.hidden 
            .restromidsec
                .res__detail__head 
                    h2 Your Order 
                    img.cancel__order.point(src="/images/cancel.png" alt="cancel__btn")
                if (user)
                    #gotoLoginComp.hidden
                    .restro__info__bod
                        form
                            .form__cont__order
                                label.formFont Name :
                                input#userno(type="text", name="tableno", placeholder=`${user.name}`, disabled)
                                #uniquecompusername.hidden= user.name
                                #uniquecompuserid.hidden= user.id
                            .form__item__display__sec 
                                
                            .form__cont__order
                                textarea#comordermsg.hidden(type="text", placeholder="Product Detail") 
                                input#uniquecompname.hidden(type="text" value=`${company._id}`)
                            .form__cont__order 
                                label.formFont Address :
                                input#comordadd(type="text", placeholder="your address")
                            .form__cont__order 
                                label.formFont Phone Number :
                                input#comordphn(type="number", placeholder="976456132498")
                            .form__cont__order
                                button#sendcomorderreq.seccatbtn Order

                        p.smallfnt Your Recent Orders
                        .foods__order__his
                else 
                    .restro__info__bod 
                        h4 You are Not Logged In Please Log in to Order Food 
                        .lonbtn#gotoLoginComp Login || SignUp
                        #sendcomorderreq.hidden 
                        #uniquecompname.hidden
                        #uniquecompusername.hidden
                        #comordermsg.hidden
                        #uniquecompuserid.hidden
                        .form__item__display__sec.hidden 
                        .foods__order__his.hidden
        if (banner[0])
            .sec__menu__banner.hidden 
                p.bannerinfo= banner[0].bannerInfo
                p.bannerDisc.hidden= banner[0].discountpercent
                img.removebanner.point(src="/images/cancel.png", alt="cancel__btn")
        else 
            .sec__menu__banner.hidden
            .removebanner.hidden 
            .bannerDisc.hidden
            .bannerinfo.hidden
        
        .sec__search__items 
            input.secSearchInput(type="text" placeholder="Search")
        
        if (hotItems[0])
            h3.txtcent.headFont Hot Items
        .sec__cat__hotitems 
            for el in hotItems 
                .sec__cat__item__card 
                    if (el.coverImage)
                        img.sec__cat__img(src=`${el.coverImage}` alt="item__img")
                    else
                        img.sec__cat__img(src="/images/noimg.png" alt="item__img")
                    .sec__cat__item__info
                        h3= `Name : ${el.name}`
                        h3= `Price : ${el.currency} ${el.price}`
                        if (el.applydiscount == true)
                            if (banner[0].discountpercent || banner[0].discountpercent !== null)
                                h3= `Discount : ${banner[0].discountpercent}%`
                        if (el.stockQuantity === 0 || el.stockQuantity === null)
                            h3.stock.rdstock= `Out Of Stock`
                        else
                            h3.stock= `Stock Quantity : ${el.stockQuantity}`
                    if (el.stockQuantity === 0 || el.stockQuantity === null)
                        .sec__cat__btn__grp
                            button(name=el._id disabled).seccatbtn.addToCart Add To Cart
                            button(id=el._id name=`${el.category}`).seccatbtn.viewProduct View
                    else
                        .sec__cat__btn__grp
                            button(name=el._id).seccatbtn.addToCart Add To Cart
                            button(id=el._id name=`${el.category}`).seccatbtn.viewProduct View
        .cntre
            h1.getAllSecCatItem.point.seccatbtn All Items
        .sec__cat__items#secCatItems 
        .productModal.hidden 
            .productMidModal
                .product__head#prodBod
                    p.productHead 
                    img.cancelProduct.point(src="/images/cancel.png" alt="cancel__btn")
                .product__bod
                h2 Similar Items
                .similar__bod

                if (user)
                    h2.txtcent Add A Comment
                    .thisuserid.hidden= user._id
                    form
                        .form__cont__order
                            textarea#newComment(type="text" placeholder="Add a comment" required) 
                        .form__cont__order
                            button#createComment.seccatbtn Comment
                    h3 Last Comments
                    .all__comment__sec
                else 
                    h2.txtcent Add A Comment
                    .thisuserid.hidden
                    form
                        .form__cont__order
                            textarea#newComment(type="text" disabled required) Log In To Comment
                        .form__cont__order
                            button(disabled)#createComment.seccatbtn Comment
                    h3 Last Comments
                    .all__comment__sec
                    
        .paginate 
            .seccataluserid.hidden= company.user._id
            button(type="button").prev__seccatal.seccatbtn Previous
            button(type="button").next__seccatal.seccatbtn Next
        .contact__sec__catal__sec 
            if (company.Address !== "")
                p.headFont= company.Address
            if (company.locationLink !== "")
                a.headFont.comp__loc(href=`${company.locationLink}`)= `Open Location`
            if (company.contact !== "" && company.contact !== 0)
                p.headFont= company.contact
            if (company.social !== "")
                a.headFont.comp__loc(href=`${company.social}`)= `${company.social}`
            if (company.email !== "")
                a(href=`mailto:${company.email}`).headFont.comp__loc= company.email
            if (company.serviceTerms)
                p.sec__terms.headFont Terms And Conditions
                .terms__sec.hidden 
                    .termservice__head 
                        h3 Terms of Service 
                        img.hideterms.point(src="/images/cancel.png" alt="cancel__btn")
                    .terms__sec__bod
                        pre.termspoliciespre= company.serviceTerms 
            else 
                .terms__sec.hidden 
                .hideterms.hidden 
                .sec__terms.hidden 
            if (company.privacyPolicies)
                p.sec__policies.headFont Privacy Policies
                .policies__sec.hidden 
                    .privacypolicies__head 
                        h3 Privacy Policies 
                        img.hideprivacypolicies.point(src="/images/cancel.png" alt="cancel__btn")
                    .policies__sec__bod
                        pre.termspoliciespre= company.privacyPolicies
            else 
                .sec__policies.hidden 
                .policies__sec.hidden
                .hideprivacypolicies.hidden

    if (user)
        .return__btn(title="return product") &#9842;
        .return__fill.hidden
        .return__sec.hidden 
            .return__midsec 
                .return__head 
                    h1 Return product 
                    img.returncancel.point(src="/images/cancel.png" alt="cancel")
                    .acclog.hidden
                .return__bod
                    form
                        .form__cont__order
                            label Name :
                            input#returnuser(type="text", name="tableno", value=user.name)
                            #returnuserid.hidden= user.id
                            #returncompid.hidden= company._id
                        .form__cont__order
                            label Product Name : 
                            input#returnname(type="text" required placeholder="drs watch") 
                        .form__cont__order
                            label Message : 
                            textarea#returnmsg(type="text" required placeholder="item doesnot match") 
                        .form__cont__order
                            label Date you ordered : 
                            input#returndate(type="date" required)
                        .form__cont__order 
                            label Contact : 
                            input#returnphn(type="number" required placeholder="9876543127")
                        .form__cont__order
                            button#returnreq.seccatbtn Return
                    h3 Returned Items
                        p.smallfnt Items you have returned so far
                    .returns
    else 
        .return__btn(title="make reservation") &#9842;
        .return__fill.hidden
        .return__sec.hidden
            .return__midsec
                .return__head 
                    h1 Return Item 
                    img.returncancel.point(src="/images/cancel.png" alt="cancel")
                .return__bod
                    h3 Login To Return Item
                    h3.seccatbtn.acclog Login || SignUp
        .returns.hidden
        #returnuser.hidden 
        #returnuserid.hidden 
        #returncompid.hidden 
        #returndate.hidden 
        #returnname.hidden 
        #returnphn.hidden 
        #returnreq.hidden

    script(src="/js/alert.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/catalouge/secCatalouge.js") 
    script(src="/js/usermsg.js") 
    script(src="/js/disFt.js") 