extends baseBrochure

block content 
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span.td vPor
            span.grn t
            span.nocaps.td i
    if (user)
        if (!organization)
            p.hidden.themeUsr= user.theme
            #cataddItemBtn.hidden 
            #updateCompBtn.hidden
            .uname__catal.hidden
            .prev__catal.hidden 
            .next__catal.hidden
            .share__catal__link.hidden
            .comp__id.hidden
            .compimg__id.hidden
            .your__items.hidden 
            #compUpdateImgBtn.hidden
            .whole__menu__sec.hidden
            .currentuid.hidden
            .confirm__pg
                h1.td You have not created your Organization || Hotel || Motel! Create one and come back
                a.lbtn(href="/layouts/porti#crtCataloge") Create Organization
        else
            include ../_header
            p.hidden.themeUsr= user.theme
            .lbtn.hidden
            .whole__menu__sec 
                .menu__section
                    .options 
                        .bigb.sharevporti Share 
                        .bigb.gotoaddsec Add Items
                        .bigb.gotoupdate Update 
                        .bigb.gotobanner Banner 
                        .bigb.gototerm Terms and Policies
                        .bigb.gotodel Delete
                    .menu__messages__btn &#128722;
                    .new__menu__msg.hidden
                    .curcatid.hidden= organization.id
                    audio#catmsgalert.hidden
                        source(src="/noti/msg.mp3")
                    .menu__message__secetion.hidden
                        .menu__message__mid__sec
                            .menu__message__head 
                                h3.scaps Messages (Last 50 Bookings Made)
                                img.cancel__msg__sec.point(src="/images/cancel.png" alt="cancel__btn")
                            .menu__message__bod
                            .menu__message__bod__prev
                        .menu__reveived__msg.hidden
                            .menu__message__head 
                                h3.tablename 
                                img.cancel__reveived__msg.point(src="/images/cancel.png" alt="cancel__btn")
                            .menu__reveived__msg__bod
                    .share__catalouge#openCatalouge.sharesec 
                        h2.form__label Share your Brochure 
                        p.uname__catal.hidden= user.name
                        p.share__catal__link
                    .qrcode__menu.shareqrsec 
                        #catalqrcode 
                    if (brochures.length === 0)
                        h2.banner.up__place__det.form__label You haven't Added Items to your Brochure, Add Few Items!
                    if (organization.theme == "eb6669076ee9537ef67c6a0a789346614a98f7c6")
                        p.scaps.form__label.txtcnt Update Your Brochure Price and Currency
                        form.org__form
                            .org__money__detail
                                .form__bod 
                                    label.form__label Currency : 
                                    input#orgCurrency.form__input(type="text" value=organization.currency)
                                .form__bod 
                                    label.form__label Total Package Price : 
                                    input#orgTotal.form__input(type="number" value=organization.total)
                            button#updateorgcur.blackbtn Update 
                    else 
                        #orgCurrency.hidden 
                        #orgTotal.hidden 
                        #updateorgcur.hidden
                    #item__form.additemsection.hidden
                        form#addCatItem.upItem(action="/api/v1/brochure/" method="post" enctype="multipart/form-data")
                            .itemform__head 
                                h2.scaps.form__label Add To Brochure
                            .form__bod
                                label.form__label(for="item_name") Section Name:
                                input#catitemname.form__input(type="text" name="catalogname" required placeholder="Section Name")
                            if (organization.theme == "65954198f2f59aac9b415952aa9c614fd74245ff")    
                                .form__bod
                                    label.form__label(for="item_name") Currency Sign:
                                    if (brochures[0])
                                        input#catitemcurrency.form__input(type="text" name="catalogcurrency" value=`${brochures[0].currency}` required)
                                    else
                                        input#catitemcurrency.form__input(type="text" name="catalogcurrency" placeholder="$ or Rs. or £" required)
                                .form__bod
                                    label.form__label(for="item_price") Section Price: 
                                    input#catitemprice.form__input(type="number" name="catalogprice" placeholder="400" required)
                            else 
                                #catitemcurrency.hidden 
                                #catitemprice.hidden
                            .form__bod
                                label.form__label(for="item_detail") Section Detail:
                                textarea#catitemdetail.brochureTextarea.form__input(rows="4" cols="50" name="catalogdetail" placeholder="Describe about the section")
                            if (organization.theme == "65954198f2f59aac9b415952aa9c614fd74245ff")
                                .form__bod 
                                    label.form__label Apply Discount(optional):
                                    input#catalitemdiscount.checkbox(type="checkbox" name="catalogdiscount")
                            else 
                                #catalitemdiscount.hidden
                            .form__bod.file_part
                                label.form__label(for="catcoverimage") Section Image:
                                input#catcoverimage.form__input(type="file" name="catcoverimage" accept="image/*")
                            button#cataddItemBtn.blackbtn Add Section
                    .your__item__sec#CatalogeItemSec.hidden
                        h2.items__head.scaps Your Sections 
                        .all__brochure__items
                        .paginate 
                            button.prev__bro.pagibtn.hidden Previous
                            button.next__bro.pagibtn.hidden Next
                        p.currentuid.hidden= user._id
                        if (banner[0])
                            if (banner[0].discountpercent || banner[0].discountpercent !== null)
                                p.itemdiscountpercent.hidden= banner[0].discountpercent
                            else 
                                p.itemdiscountpercent.hidden
                        else 
                            .itemdiscountpercent.hidden
                        .your__item__bod
                            .your__items.sec__items
                        
                    form#upOrganization.upItem.updatesection.hidden
                        .itemform__head 
                            h3.form__label.scaps Update Organization Detail
                        .form__bod
                            label.form__label(for="company_name") Name:
                            input#compname.form__input(type="text" required value=organization.name)
                        .form__bod
                            label.form__label(for="company_email") Email: 
                            input#compemail.form__input(type="email" required value=organization.email)
                        .form__bod
                            label.form__label(for="comapny_social_account") Social Account Link (optional): 
                            input#compsocial.form__input(type="text" value=organization.social)
                        .form__bod
                            label.form__label(for="company_address") Address: 
                            input#compaddress.form__input(type="text" required value=organization.Address)
                        .form__bod
                            label.form__label(for="company_address_link") Address Link (optional): 
                            input#complocationLink.form__input(type="text" value=organization.locationLink)
                        .form__bod
                            label.form__label(for="company_contact") Contact: 
                            input#compcontact.form__input(type="text" required value=organization.contact)
                        .form__bod
                            label.form__label(for="company_slogan") Slogan (optional): 
                            input#compslogan.form__input(type="text", value=organization.slogan)
                        .form__bod
                            label.form__label(for="company_slogan") Type: 
                            input#compType.form__input(type="text", value=organization.orgType)
                        .form__bod 
                            label.form__label Change Theme (optional):
                            select#compTheme.selectsec
                                option.opt(hidden selected)= organization.theme 
                                each item in theme 
                                    if (item.themeType === 'Free' || item.validBrochureUser.includes(user.id))
                                        option.opt(value=`${item.themeId}`)= item.name
                        p.comp__id.hidden= organization._id
                        button#updateCompBtn.blackbtn Update now

                    form#upCompanyImage.upItem.coversec.hidden(action=`/api/v1/brochure/${organization._id}/updateOrganizationImage` method="post" enctype="multipart/form-data")
                        .itemform__head 
                            h3.form__label.scaps Update Enterprise Cover Image
                            p.compimg__id.hidden= organization._id
                        .form__bod.file_part
                            label.form__label(for="compcoverimage") Catalouge Cover Image:
                            input#compcoverimage.form__input(type="file" name="upcatalogcoverimage" accept="image/*"  required)
                        button#compUpdateImgBtn.blackbtn Update Cover Image
                    
                    .createBanner#banrsec.addbannersec.hidden
                        .itemform__head 
                            h3.form__label.scaps Create A Banner
                        form.upItem
                            .form__bod 
                                label.form__label.scaps Banner Information 
                                if (!banner[0])
                                    textarea.form__input#catalogbannerInfo(type="text" placeholder="Holiday Offer !!!! 50% Discount In Our Package")
                                else 
                                    textarea.form__input#catalogbannerInfo(type="text" placeholder="You Can only have one Banner at a time" disabled)
                                label.form__label.scaps Discount Percentage(optional)
                                if (!banner[0])
                                    input.form__input#discountpercent(type="number" placeholder="50 (you dont have to use % sign)")
                                else 
                                    input.form__input#discountpercent(type="number" placeholder="You Can only have ony Banner at a time" disabled)
                            button#catalogbannerbtn.blackbtn Create
                        if (banner[0])
                            .banner__sec 
                                h2= banner[0].bannerInfo
                                p#catalogbannerId.hidden= banner[0]._id
                                if (banner[0].discountpercent || banner[0].discountpercent !== null)
                                    h2= `${banner[0].discountpercent}%`
                                    p.scaps You will have to check apply discount to items, to use it in your product items
                                    .grp__btn 
                                        #updateDiscountToAll.ygbtn Apply Discount In All Items
                                        #removeDiscountToAll.ygbtn Remove Discount In All Items
                                else 
                                    #updateDiscountToAll.hidden 
                                    #removeDiscountToAll.hidden
                                btn#catalogdeletebanner.blackbtn Delete
                        else 
                            .banner__sec 
                                h1.scaps No Banner
                                #catalogdeletebanner.hidden
                                #catalogbannerId.hidden
                                #updateDiscountToAll.hidden 
                                #removeDiscountToAll.hidden
                    h4.upterm.hidden.scaps.form__label.txtcnt Update Your Organizations Terms And Policies
                    .termsandpolicies.hidden 
                        .blackbtn#termsandcond Terms and Conditions 
                        .termservice.hidden 
                            .termservice__head 
                                h3 Your Terms of Service 
                                img.cancelterms.point(src="/images/cancel.png" alt="cancel__btn")
                            .termservice__bod 
                                if (organization.serviceTerms)
                                    textarea#termsValue.big__input(type="text")= organization.serviceTerms
                                else 
                                    textarea#termsValue.big__input(type="text" placeholder="Enter Your Terms and Conditions")
                                #updateTerms.blackbtn Update 

                        .blackbtn#privacypol Privacy Policies
                        .privacypolicies.hidden 
                            .privacypolicies__head 
                                h3 Your Privacy Policies 
                                img.cancelprivacypolicies.point(src="/images/cancel.png" alt="cancel__btn")
                            .privacypolicies__bod 
                                if (organization.privacyPolicies)
                                    textarea#policiesValue.big__input(type="text")= organization.privacyPolicies
                                else 
                                    textarea#policiesValue.big__input(type="text" placeholder="Enter Your Privacy Policies")
                                #updatePolicies.blackbtn Update 
                .delete__sec.hidden 
                    h2.scaps Delete Organization 
                    p.scaps It will delete Everything including all the Brochure Sections
                    .delcompid.hidden= organization._id
                    .delcatalid.hidden= organization.user._id
                    btn#deleteOrganization.blackbtn Delete
                .close__confirm.hidden  
                    h1.txtcnt Are you sure you want to Delete your Organization?
                    h2.txtcnt Everything will be lost!!!
                    .close__btn__grp 
                        .confirmclose Confirm 
                        .cancelclose Cancel
            .to__left
                include ../_footer
    else 
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/account/login") Sign In

    script(src="/js/alert.js")
    script(src="/socket.io/socket.io.js") 
    script(src="/js/brochure/additems.js") 
    script(src="/js/menucatbro.js") 
