.land__update
    button#update_port.redbtn.upMarg Update Portfolio
    #update_form.hidden.upform.land__farst
        .upform__head 
            h1 Update Your Portfolio 
            img.cancel(src="/images/cancel.png", alt="cancel_img")
        form#upPort
            .form__bod
                label.form__label Portfolio Name:
                input#upname.form__input(type="text" name="name" value=`${portfolio.name}` required)
            .form__bod
                label.form__label About You:
                textarea#upabout.form__input(rows="5" cols="50" name="about" required)= portfolio.about
            .form__bod
                label.form__label What You Do:
                textarea#upwhat.form__input(rows="5" cols="50" name="what" required)= portfolio.what
            .form__bod
                label.form__label Why You Do It:
                textarea#upwhy.form__input(rows="5" cols="50" name="why" required)= portfolio.why
            .form__bod
                label.form__label How You deal with Failure? 
                textarea#upfailure.form__input(type="text" rows="4" cols="30" name="failure")= portfolio.failure
            .form__bod
                label.form__label  How you motivate yourself?
                textarea#upmoti.form__input(type="text" rows="4" cols="30" name="motivation")= portfolio.motivation
            .form__bod
                label.form__label You Message: 
                textarea#upmsg.form__input(type="text" rows="4" cols="30" name="mesage")= portfolio.msg
            label Contact Details:
            .form__bod
                label.form__label Phone Number: 
                input#upno.form__input(type="number" value= `${portfolio.phn_no}` name="phn_no" required)
            .form__bod
                label.form__label Show Your Phone Number: 
                if (portfolio.showNo === true)
                    input#upCheck.checkbox(type="checkbox" checked="checked")
                else
                    input#upCheck.checkbox(type="checkbox") 
            .form__bod
                label.form__label Occupation:
                input#upocc.form__input(type="text" name="name" value=`${portfolio.role}` required)
            .form__bod 
                label.form__label Show your Portfolio in Search
                if (portfolio.searchVisible === true)
                    input#upSearchVisible.checkbox(type="checkbox" checked="checked")
                else
                    input#upSearchVisible.checkbox(type="checkbox")
            .form__bod 
                label.form__label Change Theme 
                select#themes
                    option.opt(hidden selected)= portfolio.theme 
                    each item in theme 
                        if (item.themeType === 'Free' || item.validUser.includes(user.id))
                            option.opt(value=`${item.themeId}`)= item.name
            .form__bod
                label.form__label Email Address:
                input#upemail.form__input(type="email" value=`${portfolio.email}` name="email" required)
            .form__bod
                label.form__label Your Social Media Profile Link: 
                input#upFb.form__input(type="text" value=`${portfolio.fb}`)
            .form__bod
                label.form__label Address: 
                input#upLoc.form__input(type="text" value=`${portfolio.location}`)
            .form__bod
                label.form__label Country: 
                input#upcount.form__input(type="text" value=`${portfolio.country}`)
            .form__bod
                label.form__label Detail:
                textarea#upwork.form__input(rows="5" cols="50" name="previous" required)= portfolio.previous
            .form__bod
                label.form__label Problem You faced? 
                textarea#upproblem.form__input(type="text" rows="4" cols="30"  name="problem")= portfolio.problem
            .form__bod
                label.form__label How you solved that problem?
                textarea#upsoln.form__input(type="text" rows="4" cols="30" name="soln")= portfolio.solution
            .form__bod 
                label.form__label Add watermark : 
                if (portfolio.watermark === true)
                    input#upwatermark.checkbox(type="checkbox" checked="checked")
                else
                    input#upwatermark.checkbox(type="checkbox")
            p.form__label watermarks are only on the browser, so you have to use your own watermarks before adding picture
            button#updateBtn.redbtn.bigbtn Update
            
    
    if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7' && portfolio.theme !== '836b9b955a98e0f2e2d678c179696d6ac53356eb' && portfolio.theme !== 'a9993e364706816aba3e25717850c26c9cd0d89d' && portfolio.theme !== "481743d632b80d39bc2771d19be3ca3005b3f8af" && portfolio.theme !== "fc40ac89c9100d87048e2603edcf58adfc94e6c3")
        button#update_Img.redbtn.upMarg Update Portfolio Cover Image
        #update_ImgForm.hidden.upform
            .upform__head 
                h1 Update Your Portfolio Cover Image
                img.cancl(src="/images/cancel.png", alt="cancel_img")
            form#upImage(action=`/updateportImg/${portfolio.id}` method="post" enctype="multipart/form-data")
                .form__bod
                    input#img1(type="file" accept="image/*" name="portcoverImage", required)
                button#updateImgBtn.redbtn.bigbtn Update
    else 
        #update_Img.hidden 
        .cancl.hidden
        #updateImgBtn.hidden


script(src="/js/layouts/landing.js") 
