.land__update#ld__up2
    button#update_invi2.redbtn.upMarg Update Invitation
    #update_inviform2.hidden.upform.land__farst
        .upform__head 
            h1 Update Invitation 
            img.cancelInvi2.pointer(src="/images/cancel.png", alt="cancel_img")
        form#upInvite2.inviF
            .form__bod
                label.form__label First Person Name:
                input#upinname2.form__input(type="text" name="name" value=`${invite.fname}` required)
            .form__bod
                label.form__label Second Person Name:
                input#upinsname2.form__input(type="text" name="name" value=`${invite.sname}` required)
            .form__bod
                label.form__label Your Story:
                textarea#upinabout2.form__input(rows="4" cols="30" name="about" required)= invite.about
            .form__bod
                label.form__label Venue:
                input#upinwhat2.form__input( name="what" value=`${invite.address}` required)
            .form__bod
                label.form__label Date:
                input#upinwhy2.form__input(name="why" value= `${invite.pdate}` required)
            .form__bod
                label.form__label Phone No:
                input#upinphn_no2.form__input(name="why" value= `${invite.phn_no}` required)
            .form__bod 
                label.form__label Change Theme 
                select#upinTheme2.selectsec
                    option.opt(hidden selected)= `${invite.theme}` 
                    each item in theme 
                        if (item.themeType === 'Free' || item.validInviUser.includes(user.id))
                            option.opt(value=`${item.themeId}`)= item.name 
            .form__bod
                label.form__label Time:
                input#upinwork2.form__input(name="previous" value= `${invite.ptime}` required)
            button#updateinBtn2.redbtn.bigbtn Update
    
    button#update_InviImg2.redbtn.upMarg Update Cover Image
    #update_ImgInviForm2.hidden.upform
        form#upInviImage2.inviF(action="/api/v1/invite/updateInviImgCollec" method="post" enctype="multipart/form-data")
            .upform__head 
                h1 Update Your Invitation Images
                img.canclInvi2.pointer(src="/images/cancel.png", alt="cancel_img")
            .form__bod.file_part
                label Cover Image:
                input#in2img(type="file" accept="image/*" name="coverimg" required)
                input.hidden(type="text" value=`${invite.id}` name="uinviid" )
            button#updateinImgBtn2.redbtn.bigbtn Update

script(src="/js/upInvi/inviLand2.js")