.land__update
    button#update_port.redbtn.upMarg Update Portfolio
    #update_form.hidden.upform.land__farst
        .upform__head 
            h1 Update Your Portfolio 
            img.cancel(src="/images/cancel.png", alt="cancel_img")
        form#upPort
            .form__bod
                label Portfolio Name:
                input#upname(type="text" name="name" value=`${portfolio.name}` required)
            .form__bod
                label About You:
                textarea#upabout(rows="5" cols="50" name="about" required)= portfolio.about
            .form__bod
                label What You Do:
                textarea#upwhat(rows="5" cols="50" name="what" required)= portfolio.what
            .form__bod
                label Why You Do It:
                textarea#upwhy(rows="5" cols="50" name="why" required)= portfolio.why
            .form__bod
                    label How You deal with Failure? 
                    textarea#upfailure(type="text" rows="4" cols="30" name="failure")= portfolio.failure
            .form__bod
                label  How you motivate yourself?
                textarea#upmoti(type="text" rows="4" cols="30" name="motivation")= portfolio.motivation
            .form__bod
                label You Message: 
                textarea#upmsg(type="text" rows="4" cols="30" name="mesage")= portfolio.msg
            label Contact Details:
            .form__bod
                label Phone Number: 
                input#upno(type="number" value= `${portfolio.phn_no}` name="phn_no" required)
            .form__bod
                label Show Your Phone Number: 
                if (portfolio.showNo === true)
                    input#upCheck.checkbox(type="checkbox" checked="checked")
                else
                    input#upCheck.checkbox(type="checkbox") 
            .form__bod 
                label Change Theme 
                select#themes
                    option.opt(hidden selected)= portfolio.theme 
                    option.opt(value="a9993e364706816aba3e25717850c26c9cd0d89d") PL Layout 
                    option.opt(value="589c22335a381f122d129225f5c0ba3056ed5811") BG Layout
                    option.opt(value="481743d632b80d39bc2771d19be3ca3005b3f8af") ST Layout
                    option.opt(value="d798d4338adeb553a1089a58e61e18c2fcdf77bb") BS Layout
            .form__bod
                label Email Address:
                input#upemail(type="email" value=`${portfolio.email}` name="email" required)
            .form__bod
                label Your Social Media Profile Link: 
                input#upFb(type="text" value=`${portfolio.fb}`)
            .form__bod
                label Address: 
                input#upLoc(type="text" value=`${portfolio.location}`)
            .form__bod
                label Detail:
                textarea#upwork(rows="5" cols="50" name="previous" required)= portfolio.previous
            .form__bod
                label Problem You faced? 
                textarea#upproblem(type="text" rows="4" cols="30"  name="problem")= portfolio.problem
            .form__bod
                label How you solved that problem?
                textarea#upsoln(type="text" rows="4" cols="30" name="soln")= portfolio.solution
            button#updateBtn.redbtn.bigbtn Update
            
    
    if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7' && portfolio.theme !== '836b9b955a98e0f2e2d678c179696d6ac53356eb')
        button#update_Img.redbtn.upMarg Update Portfolio Cover Image
        #update_ImgForm.hidden.upform
            .upform__head 
                h1 Update Your Portfolio Cover Image
                img.cancl(src="/images/cancel.png", alt="cancel_img")
            form#upImage
                .form__bod.file_part
                    input#img1(type="file" accept="image/*" name="img1", required)
                button#updateImgBtn.redbtn.bigbtn Update
    else 
        #update_Img.hidden 
        .cancl.hidden
        #updateImgBtn.hidden


script(src="/js/layouts/landing.js") 
