.land__update
    button#update_portSec.redbtn.upMarg Update Portfolio
    #update_formSec.hidden.upform.land__secd
        .upform__head 
            h1 Update Your Portfolio 
            img.cancelSec(src="/images/cancel.png", alt="cancel_img")
        form#upPortSec
            .form__bod
                label Portfolio Name:
                input#upnameSec(type="text" name="name" value=`${portfolio.name}` required)
            .form__bod
                label About You:
                textarea#upaboutSec(rows="4" cols="50" name="about" required)= portfolio.about
            .form__bod
                label What You Do:
                textarea#upwhatSec(rows="4" cols="50" name="what" required)= portfolio.what
            .form__bod
                label Why You Do It:
                textarea#upwhySec(rows="4" cols="50" name="why" required)= portfolio.why
            label Contact Details:
            .form__bod
                label Phone Number: 
                input#upnoSec(type="number" value= `${portfolio.phn_no}` name="phn_no" required)
            .form__bod
                label Show Your Phone Number: 
                if (portfolio.showNo === true)
                    input#upCheckSec.checkbox(type="checkbox" checked="checked")
                else
                    input#upCheckSec.checkbox(type="checkbox") 
            .form__bod 
                label Change Theme 
                select#themeSec
                    option.opt(hidden selected)= portfolio.theme
            .form__bod
                label Email Address:
                input#upemailSec(type="email" value=`${portfolio.email}` name="email" required)
            .form__bod
                label Your Social Media Profile Link: 
                input#upFbSec(type="text" value=`${portfolio.fb}`)
            .form__bod
                label Address: 
                input#upLocSec(type="text" value=`${portfolio.location}`)
            button#updateBtnSec.redbtn.bigbtn Update

    button#update_ImgCollec.redbtn.upMarg Update Portfolio Images
    #update_ImgFormCollec.hidden.upform
        .upform__head 
            h1 Update Your Port Images
            img.canclCollec(src="/images/cancel.png", alt="cancel_img")
        form#upImageCollec
            .form__bod.file_part
                input#img1Collec(type="file" accept="image/*" multiple name="img1", required)
            button#updateImgBtnCollec.redbtn.bigbtn Update

script(src="/js/layouts/landing2.js") 
