.land__update#ld__up
    button#update_invi.redbtn.upMarg Update Invitation
    #update_inviform.hidden.upform.land__farst
        .upform__head 
            h1 Update Invitation
            img.cancelInvi.pointer(src="/images/cancel.png", alt="cancel_img")
        form#upInvite.inviF
            .form__bod
                label.form__label First Person Name:
                input#upinname.form__input(type="text" name="name" value=`${invite.fname}` required)
            .form__bod
                label.form__label Second Person Name:
                input#upinsname.form__input(type="text" name="name" value=`${invite.sname}` required)
            .form__bod
                label.form__label Your Story:
                textarea#upinabout.form__input(rows="4" cols="30" name="about" required)= invite.about
            .form__bod
                label.form__label Venue:
                input#upinwhat.form__input( name="what" value=`${invite.address}` required)
            .form__bod
                label.form__label Date:
                input#upinwhy.form__input(name="why" value= `${invite.pdate}` required)
            label Contact Details:
            .form__bod
                label.form__label Phone Number: 
                input#upinno.form__input(type="number" value= `${invite.phn_no}` name="phn_no" required)
            .form__bod 
                label.form__label Change Theme 
                select#upinTheme
                    option.opt(hidden selected)= `${invite.theme}` 
                    each item in theme 
                        if (item.themeType === 'Free' || item.validInviUser.includes(user.id))
                            option.opt(value=`${item.themeId}`)= item.name 
            .form__bod
                label.form__label Time:
                input#upinwork.form__input(name="previous" value= `${invite.ptime}` required)
            button#updateinBtn.redbtn.bigbtn Update
    
    button#update_InviImg.redbtn.upMarg Update Invitation Images
    #update_ImgInviForm.hidden.upform
        form#upInviImage(action="/api/v1/invite/updateInviImg" method="post" enctype="multipart/form-data")
            .upform__head 
                h1 Update Your Invitation Images
                img.canclInvi.pointer(src="/images/cancel.png", alt="cancel_img")
            .form__bod
                label.form__label Your first image will be your Cover Image
            .form__bod
                label.form__label Upload upto 5 images
            .form__bod.file_part
                label.form__label Cover Image:
                input#inimg1(type="file" accept="image/*" name="imgCollec", multiple required)
                input.hidden(type="text" value=`${invite.id}` name="colelcId" )
            button#updateinImgBtn.redbtn.bigbtn Update

script(src="/js/upInvi/inviLand1.js")