.land__update
    button#update_portSix.redbtn Update Portfolio
    #update_formSix.hidden.upform.land__sixth
        .upform__head 
            h1 Update Your Portfolio 
            img.cancelSix(src="/images/cancel.png", alt="cancel_img")
        form#upPortSix
            .form__bod
                label Portfolio Name:
                input#upnameSix(type="text" name="name" value=`${portfolio.name}` required)
            .form__bod
                label About You:
                textarea#upaboutSix(rows="4" cols="50" name="about" required)= portfolio.about
            .form__bod
                label What You Do:
                textarea#upwhatSix(rows="4" cols="50" name="what" required)= portfolio.what
            .form__bod
                label Why You Do It:
                textarea#upwhySix(rows="4" cols="50" name="why" required)= portfolio.why
            .form__bod
                label How You deal with Failure? 
                textarea#fourthImgSix(type="text" rows="4" cols="50" name="fourthImgHead")= portfolio.fourthImgHead
            .form__bod
                label  How you motivate yourself?
                textarea#thirdImgSix(type="text" rows="4" cols="50" name="thirdImgHead")= portfolio.thirdImgHead
            .form__bod
                label You Message: 
                textarea#fifthImgSix(type="text" rows="4" cols="50" name="fifthImgHead")= portfolio.fifthImgHead
            label Contact Details:
            .form__bod
                label Phone Number: 
                input#upnoSix(type="number" value= `${portfolio.phn_no}` name="phn_no" required)
            .form__bod
                label Show Your Phone Number: 
                if (portfolio.showNo === true)
                    input#upCheckSix(type="checkbox" checked="checked")
                else
                    input#upCheckSix(type="checkbox") 
            .form__bod 
                label Change Theme 
                select#themeSix
                    option.opt(hidden selected)= portfolio.theme 
                    option.opt(value="a9993e364706816aba3e25717850c26c9cd0d89d") PL Layout 
                    option.opt(value="589c22335a381f122d129225f5c0ba3056ed5811") BG Layout
                    option.opt(value="481743d632b80d39bc2771d19be3ca3005b3f8af") ST Layout
                    option.opt(value="d798d4338adeb553a1089a58e61e18c2fcdf77bb") BS Layout
            .form__bod
                label Email Address:
                input#upemailSix(type="email" value=`${portfolio.email}` name="email" required)
            .form__bod
                label Your Social Media Profile Link: 
                input#upFbSix(type="text" value=`${portfolio.fb}`)
            .form__bod
                label Detail:
                textarea#upworkSix(rows="4" cols="50" name="previous" required)= portfolio.previous
            .form__bod
                label Problem You faced? 
                textarea#firstImgSix(type="text" rows="4" cols="50"  name="firstImgHead")= portfolio.firstImgHead
            .form__bod
                label How you solved that problem?
                textarea#secondImgSix(type="text" rows="4" cols="50" name="secondImgHead")= portfolio.secondImgHead
            button#updateBtnSix.redbtn Update
script(src="/js/layouts/landing3.js")