extends baselayout

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
    .pageCount.hidden= portfolio.pageCount
    .unqid.hidden= portfolio._id
    if (user)
        if (user.id !== portfolio.user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= portfolio.user.name
                    p.portiuserid.hidden= portfolio.user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .pageCount_sec
                p.opn Page Views : 
                    span= portfolio.pageCount
            .msg__user__btn.hidden 
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= portfolio.user.name 
            .portiuserid.hidden= portfolio.user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= portfolio.user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden
        .msg__user__btn.hidden 
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .main__bod__sec
        .main__cont(id=`${portfolio.fontColor}`)
            .main__fifth__head(id=`${portfolio.fontFam}`)
                h1.ppname.headTop(id=`${portfolio.headColor}`)= portfolio.name
                .main__fifth__sub(id=`${portfolio.backColor}`)
                    a.fifth__a.headTop(href="#fifth__about") About 
                    a.fifth__a.headTop(href="#fifth__cont") Contact 
            .main__pic(id=`${portfolio.focusColor}`)
                each img, i in portfolio.images
                    .picture-box
                        img.picture-box__img.imgFull(src=`${img}`, alt=`Your Creations ${i + 1}`, class=`pic-box__img--${i + 1}`)
        .fifth
            .about__bod#fifth__about
                h2.ppabt.headFont(id=`${portfolio.secHeadColor}`) About 
                    span.headTop=`${portfolio.name}`
                pre.ansFont= portfolio.about 
                h2.headFont What 
                    span.headTop= `${portfolio.name} Do?`
                pre.ansFont= portfolio.what 
                h2.headFont why 
                    span.headTop= `${portfolio.name} Do It?`
                pre.ansFont= portfolio.why
        .fifth
            .contact__bod#fifth__cont
                h2.headFont Contact 
                    span.headTop= `${portfolio.name}`
                .cont__boxbg
                    if (portfolio.showNo === true)
                        .cont__box.fif__box
                            p= `Phone: ${portfolio.phn_no}` 
                    .cont__box.fif__box
                        p= `Email: ${portfolio.email}`
                    if (portfolio.fb != "")
                        .cont 
                            a(href=`${portfolio.fb}`)
                                if (portfolio.user.photo)
                                    img.profPic(src=`${portfolio.user.photo}`, alt="prof__pic")
                                else 
                                    img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                    .cont__box.fif__box
                        p= `Address: ${portfolio.location}`

        a#goup(href="#") 
            img(src="/images/yup.png", alt="go_up")
    
    script(src="/js/alert.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/layouts/fifth.js") 
    script(src="/js/layouts/pgct.js") 
    script(src="/js/usermsg.js") 
    script(src="/js/imgFull.js")
