extends baselayout

block content
    .main
        .navbar
            ul.navbar__list
                <li class="navbar__list__li"> <a href="#about">About</a> </li>
                <li class="navbar__list__li"> <a href="#previous">Previous Works</a> </li>
                <li class="navbar__list__li"> <a href="#contact">Contact</a> </li>
            #heading
                h1= portfolio.name
        .first
            #about
                .about__body
                    h2= `About ${portfolio.name}`
                    p#abdetail= portfolio.about
                    
                    h3= `What ${portfolio.name} Do?`
                    p#abwhat= portfolio.what
                    h3= `Why ${portfolio.name} Do It?`
                    p#abwhy= portfolio.why
        .first
            #previous
                .prev
                    h2 Previous Accomplishment Details
                    p= portfolio.previous
                .prev__cont
                    .prev__cont__sub
                        if (portImage.length === 0)
                            p No Previous Accomplishment Images Yet!!!
                        else 
                            each item in portImage
                                img.imgsnd.imgFull(src=`/images/ports/addedImages/${item.addImage}`, loading="lazy", alt="previous_image")
                                h3.head= item.name
        .first
            #contact
                h2 Contact
                .bgbox
                    if (portfolio.showNo === true)
                        .contbox
                            p= `Phone: ${portfolio.phn_no}`
                    .contbox
                        p= `Email-id: ${portfolio.email}`
                    if (portfolio.fb != "")
                        .cont
                            a(href=`${portfolio.fb}`)
                                if (portfolio.user.photo)
                                    img.profPic(src=`/images/users/${portfolio.user.photo}`, alt="prof__pic")
                                else 
                                    img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                    .contbox
                        p= `Address: ${portfolio.location}`

        #footer 
            p= `${portfolio.name} portfolio`
            a#gtop(href="#")
                img(src="/images/bup.png", alt="up_arrow")

    script(src=`/js/layouts/first.js`) 
    //- script(src=`/js/disFt.js`) 
