extends baselayout

block content
    .main
        .navbar
            ul.navbar__list
                <li class="navbar__list__li"> <a href="#about">About</a> </li>
                <li class="navbar__list__li"> <a href="#previous">Previous Works</a> </li>
                <li class="navbar__list__li"> <a href="#contact">Contact</a> </li>
            #heading
                h1= portfolio.name
        #about
            .about__body
                h2= `About ${portfolio.name}`
                p#abdetail= portfolio.about
                
                h3= `What ${portfolio.name} Do?`
                p#abwhat= portfolio.what
                h3= `Why ${portfolio.name} Do It?`
                p#abwhy= portfolio.why
        #previous
            .prev
                h2 Previous Accomplishment Details
                p= portfolio.previous
            .prev__cont
                img.imgsnd(src=`/images/ports/imageCover/${portfolio.imageCover}`, alt="firs_image")
                h3#zr__head= portfolio.firstImgHead
                img.imgsnd(src=`/images/ports/imageSecond/${portfolio.imageSecond}`, alt="second_img")
                h3#fst__head= portfolio.secondImgHead
                img.imgsnd(src=`/images/ports/imageThird/${portfolio.imageThird}`, alt="third_img")
                h3#send__head= portfolio.thirdImgHead
                img.imgsnd(src=`/images/ports/imageFourth/${portfolio.imageFourth}`, alt="fourth_img")
                h3#thrd__head= portfolio.fourthImgHead
                img.imgsnd(src=`/images/ports/imageFifth/${portfolio.imageFifth}`, alt="fifth_img")
                h3#forth__head= portfolio.fifthImgHead
            h6 You can view image in full screen by right clicking on image and open it in new tab
        #contact
            h2 Contact
            .bgbox
                if (portfolio.showNo === true)
                    .contbox
                        p= `Phone: ${portfolio.phn_no}`
                .contbox
                    p= `Email-id: ${portfolio.email}`
                if (portfolio.fb != "")
                    .contbox
                        a(href=`${portfolio.fb}`)
                            img(src="/images/fb.png", alt="fb__icon")

        #footer 
            p= `${portfolio.name} portfolio`
            a#gtop(href="#")
                img(src="/images/bup.png", alt="up_arrow")

    script(src=`/js/layouts/first.js`) 