extends baselayout

block content
    h1.loader
        img.porti__of__img(src="/images/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    if (user)
        if (user.id !== portfolio.user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= portfolio.user.name
                    p.portiuserid.hidden= portfolio.user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .msg__user__btn.hidden 
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= portfolio.user.name 
            .portiuserid.hidden= portfolio.user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= portfolio.user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden
        .msg__user__btn.hidden 
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .main(id=`${portfolio.fontColor}`)
        .navbar(id=`${portfolio.fontFam}`)
            ul.navbar__list(id=`${portfolio.backColor}`)
                <li class="navbar__list__li"> <a class="headFont" href="#about">About</a> </li>
                <li class="navbar__list__li"> <a class="headFont" href="#previous">Previous Works</a> </li>
                <li class="navbar__list__li"> <a class="headFont" href="#contact">Contact</a> </li>
            #heading
                h1.portfoName.headFont(id=`${portfolio.headColor}`)= portfolio.name
        .first.topFirst(id=`${portfolio.focusColor}`)
            #about
                .about__body(id=`${portfolio.secHeadColor}`)
                    if (portfolio.about !== "")
                        h2.headFont= `About ${portfolio.name}`
                        pre#abdetail.ansFont= portfolio.about
                    if (portfolio.what !== "")
                        h3.headFont= `What ${portfolio.name} Do?`
                        pre#abwhat.ansFont= portfolio.what
                    if (portfolio.why !== "")
                        h3.headFont= `Why ${portfolio.name} Do It?`
                        pre#abwhy.ansFont= portfolio.why
                    if (portfolio.failure !== "")
                        h3.headFont.headFont= `How ${portfolio.name} deals with Failure?`
                        pre.ansFont= portfolio.failure
                    if (portfolio.motivation !== "")
                        h3.headFont= `How ${portfolio.name} stays motivated?`
                        pre.ansFont= portfolio.motivation
                    if (portfolio.msg !== "")
                        h3.headFont= `${portfolio.name} Message`
                        pre.ansFont= portfolio.msg
        .first
            #previous
                .prev
                    p.prof__user__id.hidden= portfolio.user._id
                    if (portfolio.previous !== "" || portImage.length !== 0)
                        h2.headFont Previous Accomplishment Details
                        pre.ansFont= portfolio.previous
                .prev__cont
                    .prev__cont__sub#firstImgCont
                        if (portImage.length === 0)
                            .firstPrev.hidden 
                            .firstNext.hidden
                        else 
                            .accomp__cont
                                each item in portImage
                                    .accomp__cont__card
                                        img.imgsnd.imgFull(src=`${item.addImage}`, loading="lazy", alt="previous_image")
                                        h3.head= item.name
                            .paginate__addimg
                                .group__delbtn 
                                    button.redbtn.firstPrev Prev
                                    button.redbtn.firstNext Next 

        .first
            #contact
                if (portfolio.problem !== "")
                    h3.headFont.dyF= `${portfolio.name} ran into a problem`
                    pre.ansFont= portfolio.problem 
                if (portfolio.solution !== "")
                    h3.headFont.dyF= `How ${portfolio.name} solved the problem?`
                    pre.ansFont= portfolio.solution
                h3.headFont.dyF= `Contact ${portfolio.name}`
                .bgbox
                    if (portfolio.showNo === true && portfolio.phn_no !== "")
                        .contbox
                            p= `Phone: ${portfolio.phn_no}`
                    .contbox
                        p= `Email-id: ${portfolio.email}`
                    if (portfolio.fb != "")
                        .cont
                            a(href=`${portfolio.fb}`)
                                if (portfolio.user.photo)
                                    img.profPic(src=`${portfolio.user.photo}`, alt="prof__pic")
                                else 
                                    img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                    else 
                        .cont 
                            if (portfolio.user.photo)
                                img.profPic(src=`${portfolio.user.photo}`, alt="prof__pic")
                            else 
                                img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                    if (portfolio.location !== "")
                        .contbox
                            p= `Address: ${portfolio.location}`

        #footer 
            p.ansFont= `${portfolio.name} portfolio`
            a#gtop(href="#")
                img(src="/images/rup.png", alt="up_arrow")

    script(src="/js/alert.js") 
    script(src="/js/imgFull.js") 
    script(src="/js/layouts/paginate.js") 
    script(src=`/js/layouts/first.js`) 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/usermsg.js") 
    //- script(src=`/js/disFt.js`) 
