extends baselayout

block content 
    .main
        .bg__imgCov
            img(src=`/images/ports/imageCover/${portfolio.imageCover}`, alt="cover__img") 
        .main__header
            .header__round
            .header__round__inner
                    img.anc__first(src="/images/home.png", alt="home__img") 
                    img.anc.anc__second(src="/images/about.png", alt="about__img") 
                    img.anc.anc__third(src="/images/work.png", alt="work__img") 
                    img.anc__last(src="/images/contact.png", alt="contact__img")

        .main__about__section.hide 
            .main__about__head
                h2 About 
                    span= `${portfolio.name}`
                img#fourthClose(src="/images/cancel.png", alt="cancel__img")
            p= portfolio.about 
            h2= `What ${portfolio.name} Do?`
            p= portfolio.what 
            h2= `Why ${portfolio.name} Do it?`
            p= portfolio.why

        .main__prev__section.hide 
            .main__prev__head 
                h2 Prior Accomplishments
                img#fourthSecClose(src="/images/cancel.png", alt="cancel__img")
            p= portfolio.previous 
            .prev__cont
                img.imgsnd(src=`/images/ports/imageSecond/${portfolio.imageSecond}`, alt="second_img", srcset="")
                h3#first__head= portfolio.secondImgHead
                img.imgsnd(src=`/images/ports/imageThird/${portfolio.imageThird}`, alt="third_img", srcset="")
                h3#second__head= portfolio.thirdImgHead
                img.imgsnd(src=`/images/ports/imageFourth/${portfolio.imageFourth}`, alt="fourth_img", srcset="")
                h3#third__head= portfolio.fourthImgHead
                img.imgsnd(src=`/images/ports/imageFifth/${portfolio.imageFifth}`, alt="fifth_img", srcset="")
                h3#fourth__head= portfolio.fifthImgHead
            h6 You can view image in full screen by right clicking on image and open it in new tab

        .main__cont__section.hide 
            .main__cont__head 
                h2 Contact 
                    span= `${portfolio.name}`
                img#fourthThirdClose(src="/images/cancel.png", alt="cancel__img")
            .cont__boxbg
                if (portfolio.showNo === true)
                    .cont__box
                        p= `Phone: ${portfolio.phn_no}` 
                .cont__box
                    p= `Email: ${portfolio.email}`
                if (portfolio.fb != "")
                    .cont__box 
                        a(href=`${portfolio.fb}`)
                            img(src="/images/fb.png", alt="fb__icon")

        script(src="/js/layouts/fourth.js") 
