extends baselayout

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span.td vPor
            span.grn t
            span.nocaps.td i
    if (!portfolio)
        p.hidden.urTheme= user.theme
        .land__whole__sec.hidden
        .notifier
            h1.grn You have not created a portfolio YET! Create and come back
            a.limebtn(href="/layouts/porti#crtPort") Create Portfolio
    else
        if (user)
            if (portfolio.user.id == user._id)
                include ../_header
                p.hidden.urTheme= user.theme
                .land__whole__sec
                    .land__content
                        .land__nav__main
                        .land__goto
                            h1#port_name= `${portfolio.name}`
                            span.endpoint.hidden= `${portfolio._id}`
                            p.xsf Go to your portfolio
                            .port__link
                                #urlLink
                                    span#endpoint= `${portfolio._id}`
                                    span#user__nam= portfolio.user.name
                                    span#portitheme= portfolio.theme   
                            .copy__link 
                                button#copyLink.redbtn Copy Link
                                button#genportiqr.redbtn Generate QRCode
                                button#downportiqr.redbtn.hidden Download QRCode 
                            p.xsf Share In Social Sites
                            button.redbtn.fbbtn Facebook
                        .qr__sec#qrLanding 
                        if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7' && portfolio.theme !== '836b9b955a98e0f2e2d678c179696d6ac53356eb')
                            if (portImage.length === 0)
                                h3.banner.second__access.form__label No Image Added Yet! Add Your Previous Accomplishment Image, Make Your Portfolio More Appealing ;)
                            .portfolio__tweaks
                                include _addImage
                                if (portImage.length !== 0)
                                    
                                    .portImage__tweak__sec#portImageTweakSec
                                        h2#PrevSection Your Previous Images Tweak Section

                                        .port__card__main
                                            each item in portImage 
                                                .port__images 
                                                    img.port_img.imgFull(src=`${item.addImage}`, loading="lazy" alt="second_img", srcset="")
                                                    h3.first__head.portfolio__item__name= item.name
                                                    .group__btn
                                                        button(type="button" id=`${item._id}` name=`${item.name}`).upPortImageBtn.ygbtn Update
                                                        button(type="button" id=`${item._id}`).delPortImageBtn.redbtn Delete
                                    .paginate__addimg
                                        .group__delbtn
                                            button.redbtn.prev__addimg Prev
                                            button.redbtn.next__addimg Next
                                else 
                                    p.no__img.rm_no_img.form__label You have not Uploaded Any Images Yet :'(
                                    .next__addimg.hidden
                                    .prev__addimg.hidden
                        else 
                            .portfolio__tweaks
                            .port__card__main
                            .next__addimg.hidden
                            .prev__addimg.hidden
                        .del__img__sec.hidden 
                            h3.txtcnt Are You Sure you want to delete it?
                            .group__delbtn
                                button#confirmImgDelete.delbtn Delete 
                                button#cancelImgDelete.delbtn Cancel
                        if (portfolio.theme == "a9993e364706816aba3e25717850c26c9cd0d89d" || portfolio.theme == "da98568d1b2005611973ad49868b38aa8ae68fd7")
                            form.theme__edit#editTheme
                                h2 Edit Theme Preference
                                .form__bod 
                                    label Background Color:
                                    input#portBackColor(type="color" value="#1A1A1A")
                                .form__bod
                                    label Font Color:
                                    input#portFontColor(type="color" value="#808080")
                                .form__bod 
                                    label Heading text Color:
                                    input#portHeadColor(type="color" value="#ffffff")
                                .form__bod 
                                    label Color Second:
                                    input#portSecHeadColor(type="color" value="#ACA547")
                                .form__bod 
                                    label Focus Color:
                                    input#portFocusColor(type="color" value="#6B8E23")
                                .form__bod 
                                    label Font Family 
                                    select#portFontFam
                                        option.opt(hidden selected) Cambria
                                        option.opt(value="cursive") Cursive 
                                        option.opt(value="monospace") Monospace
                                        option.opt(value="Arial") Arial
                                        option.opt(value="Impact") Impact
                                button#changeTheme.redbtn Update Theme 
                        else 
                            #changeTheme.hidden
                            #editTheme.hidden
                    .sec__land__bod
                        .del__port#delPp 
                            .del__bod
                                #portidelid.hidden= `${portfolio._id}`
                                button#delPort.redbtn Delete Portfolio
                        .dt__cf.hidden
                            h1.yllow Are you sure you want to delete Your Portfolio?
                            .delete__Confirm
                                .yesDelete.redbtn(id=`${user._id}`) Confrim
                                .noDelete.redbtn Abort
                        if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7')
                            include _updateOne.pug
                        else
                            include _updateTwo.pug
                        h2.tweak__head Portoflio Content Tweaks
                    include ../_footer
            else 
                .notifier
                    h1 You Dont Belong Here, GET LOST!!!
                    a.redbtn(href="/layouts/porti") Go Back
        else 
            .notifier
                h1 You are not Logged In! Please Log In 
                a.redbtn(href="/account/login") Log In

        script(src="/js/layouts/baseLand.js")      
        script(src="/js/delete.js")
        script(src="/js/layouts/upPortTheme.js")  
    script(src="/js/alert.js")
    script(src="/js/layouts/landThemeConfig.js") 
     