extends baselayout

block content
    if (user)
        if (invite.user.id == user._id)
            .loader.hidden
                .inn__load
                    .inner__loader
            .land__content
                .land__nav__main
                    .land__nav
                        a.land__head.act(href="/me")
                            if (user.photo)
                                img.userdp(src=`/images/users/${user.photo}`, alt="prof__pic")
                            else 
                                img.userdp.satProf(src="/images/hitman.png", alt="prof__pic")
                            p.actg.hidden your account
                        a.port_sec_head.hm(href="/")
                            h1 Tech 
                                span Mafia
                            p.hmtg.hidden home
                        #logout.logout
                            img(src="/images/poweroff.png", alt="signout")
                            p.lgot.hidden logout
                    .land__nav__sub 
                        a.crpt(href="/porti")
                            img(src="/images/plus.png", alt="view_port")
                            p.cp.hidden porti
                        a.ypf(href=`/myportfolio/${user._id}`)
                            img(src="/images/porti.png", alt="view_port")
                            p.pf.hidden your portfolio
                    .breadcrumbs 
                        a.bdcb(href="#") You Are Here |
                        a.bdcb(href="/") Home 
                        a.bdcb(href="#") &#8680;  
                        a.bdcb(href="/porti") Porti 
                        a.bdcb(href="#") &#8680;  
                        a.bdcb(href=`/invitations/${user._id}`) All Invitations
                        a.bdcb(href="#") &#8680;  
                        a.cur(href="#") Your Invitation
                .land__goto
                    h1#invite_name= `${invite.fname} and ${invite.sname}`
                    p View Your Invitation
                    .port__link
                        a#inviteurlLink
                            span#inviteendpoint= `${invite._id}`
                            span#invitetheme= invite.theme    
                    .copy__link 
                        button#copyinviteLink.redbtn Copy Link
            .sec__land__bod
                .del__port#delinvi 
                    .del__bod
                        button#delInvite.redbtn Delete Invitation
                .dt__cf#dt__cf.hidden
                    h1 Are you sure you want to delete Your Invitation?
                    .delete__Confirm
                        .yesDelete#yesdel.redbtn Confrim
                        .noDelete#nodel.redbtn Abort
                if (invite.theme == '4dc50fc3bc007be011b5445f3f79298b9eeb51b7')
                    include _updateInviOne.pug
                else 
                    include _updateInviTwo.pug
        else 
            .notifier
                h1 You Dont Belong Here! GET LOST!
                a.redbtn(href="/porti") Go Back
    else 
        .notifier
            h1 You are not Logged In! Please Log In 
            a.redbtn(href="/login") Log In

    script(src="/js/alert.js")
    script(src="/js/nametag.js") 
    script(src="/js/layouts/inviLand.js")      
    script(src="/js/createInvi/delInvi.js") 
    script(src="/js/logout.js")