extends baselayout

block content
    h1.loader
        img.porti__of__img(src="/images/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    if (user)
        if (invite.user.id == user._id)
            include ../_header
            p.hidden.useerTheme= user.theme
            .whole__invi__content
                .land__nav__main
                .land__content
                    .land__goto
                        h1#invite_name= `${invite.fname} and ${invite.sname}`
                        p.xsf View Your Invitation
                        .port__link
                            #inviteurlLink
                                span#inviteendpoint= `${invite._id}`
                                span#invitetheme= invite.theme
                        .copy__link 
                            button#copyinviteLink.redbtn Copy Link
                            button#geninviqr.redbtn Generate QRCode
                            button#downinviqr.redbtn.hidden Download QRCode
                    .qr__sec#qrLandingSec 
                .sec__land__bod
                    .del__port#delinvi 
                        .del__bod
                            button#delInvite.redbtn Delete Invitation
                    .dt__cf#dt__cf.hidden
                        h1 Are you sure you want to delete Your Invitation?
                        p.inviId.hidden= invite.id
                        .delete__Confirm
                            .yesDelete#yesdel.redbtn Confrim
                            .noDelete#nodel.redbtn Abort
                    if (invite.theme == '4dc50fc3bc007be011b5445f3f79298b9eeb51b7')
                        include _updateInviOne.pug
                    else 
                        include _updateInviTwo.pug
                include ../_footer
        else 
            .notifier
                h1 You Dont Belong Here! GET LOST!
                a.redbtn(href="/porti") Go Back
    else 
        .notifier
            h1 You are not Logged In! Please Log In 
            a.redbtn(href="/login") Log In

    script(src="/js/alert.js")
    script(src="/js/layouts/inviLand.js")      
    script(src="/js/createInvi/delInvi.js") 