extends baselayout

block content 
    h1.loader
        img.porti__of__img(src="/images/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    .main(id=`${portfolio.headColor}`)
        .bgCover(id=`${portfolio.fontColor}`) 
            if (!portfolio.imageCover)
                img#bgcv(src=`/images/party.jpg`, alt="cover__pic")
            else 
                img#bgcv(src=`/images/ports/imageCover/${portfolio.imageCover}`, alt="bgCover")
            ul.bg__list
                li
                    a#hm(href="#").home Home 
                li
                    a(href="#abt").headFont About
                li 
                    a(href="#contat").headFont Contact
            .mid(id=`${portfolio.secHeadColor}`)
                h1.headFont.fontFam(id=`${portfolio.fontFam}`)= 'Welcome, this is '
                    span.portName(id=`${portfolio.focusColor}`)= portfolio.name
                a#prevWork(href="#pre") Previous
            .sec(id=`${portfolio.backColor}`)
                #abt 
                    h3.headFont= `About ${portfolio.name}`
                    pre.ansFont= portfolio.about 
                    h3.headFont= `What ${portfolio.name} Do?`
                    pre.ansFont= portfolio.what 
                    h3.headFont= `Why ${portfolio.name} Do It?`
                    pre.ansFont= portfolio.why
                    h3.headFont= `How ${portfolio.name} deals with Failure?`
                    pre.ansFont= portfolio.failure
                    h3.headFont= `How ${portfolio.name} stays motivated?`
                    pre.ansFont= portfolio.motivation
                    h3.headFont= `${portfolio.name} Message`
                    pre.ansFont= portfolio.msg
            .sec
                #pre 
                    h3.headFont Previous Accomplishment Details
                    pre.ansFont= portfolio.previous
                    .prev__cont
                            if (portImage.length === 0)
                                p.no__img No Previous Accomplishment Images Uploaded Yet!!!
                                .prev__addimgSec.hidden 
                                .next__addimgSec.hidden
                            else
                                .prev__cont__sub#imgCont
                                    each item in portImage
                                        .port__images
                                            img.port_img.imgFull(src=`/images/ports/addedImages/${item.addImage}`, loading="lazy" alt="second_img", srcset="")
                                            h3.first__head= item.name
                                .paginate__addimg
                                    .group__delbtn
                                        button.redbtn.prev__addimgSec Prev
                                        button.redbtn.next__addimgSec Next
            .sec
                #contat 
                    h3.headFont= `${portfolio.name} ran into a problem`
                    pre.ansFont= portfolio.problem 
                    h3.headFont= `How ${portfolio.name} solved the problem?`
                    pre.ansFont= portfolio.solution
                    h3.headFont= `Contact ${portfolio.name}`

                    .cont__boxbg
                        if (portfolio.showNo === true)
                            .cont__box
                                p= `Phone: ${portfolio.phn_no}` 
                        .cont__box
                            p= `Email: ${portfolio.email}`
                        if (portfolio.fb != "")
                            .cont 
                                a(href=`${portfolio.fb}`)
                                    if (portfolio.user.photo)
                                        img.profPic(src=`/images/users/${portfolio.user.photo}`, alt="prof__pic")
                                    else 
                                        img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                        .cont__box
                            p= `Address: ${portfolio.location}`
            a#goup(href="#") 
                img(src="/images/rup.png", alt="go_up")

    script(src="/js/imgFull.js") 
    script(src="/js/alert.js") 
    script(src="/js/layouts/paginate.js")
    script(src="/js/layouts/second.js") 
                    


