extends baselayout

block content 
    .loader
        .out__load
            .inn__load
                .inner__loader
    .main
        .bgCover 
            if (!portfolio.imageCover)
                img#bgcv(src=`/images/party.jpg`, alt="cover__pic")
            else 
                img#bgcv(src=`/images/ports/imageCover/${portfolio.imageCover}`, alt="bgCover")
            ul.bg__list
                li 
                    a#hm(href="#") Home 
                li 
                    a(href="#abt") About
                li 
                    a(href="#contat") Contact
            .mid
                h1= 'Welcome, this is '
                    span= portfolio.name
                a#prevWork(href="#pre") Previous
            .sec
                #abt 
                    h3= `About ${portfolio.name}`
                    pre= portfolio.about 
                    h3= `What ${portfolio.name} Do?`
                    pre= portfolio.what 
                    h3= `Why ${portfolio.name} Do It?`
                    pre= portfolio.why
            .sec
                #pre 
                    h2 Previous Accomplishment Details
                    pre= portfolio.previous
                    .prev__cont
                            if (portImage.length === 0)
                                p.no__img No Previous Accomplishment Images Uploaded Yet!!!
                                .prev__addimgSec.hidden 
                                .next__addimgSec.hidden
                            else
                                .prev__cont__sub#imgCont
                                    each item in portImage
                                        .port__images
                                            img.port_img.imgFull(src=`/images/ports/addedImages/${item.addImage}`, loading="lazy" alt="second_img", srcset="")
                                            h3.first__head= item.name
                                .paginate__addimg
                                    .group__delbtn
                                        button.redbtn.prev__addimgSec Prev
                                        button.redbtn.next__addimgSec Next
            .sec
                #contat 
                    h3= `Contact ${portfolio.name}`

                    .cont__boxbg
                        if (portfolio.showNo === true)
                            .cont__box
                                p= `Phone: ${portfolio.phn_no}` 
                        .cont__box
                            p= `Email: ${portfolio.email}`
                        if (portfolio.fb != "")
                            .cont 
                                a(href=`${portfolio.fb}`)
                                    if (portfolio.user.photo)
                                        img.profPic(src=`/images/users/${portfolio.user.photo}`, alt="prof__pic")
                                    else 
                                        img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                        .cont__box
                            p= `Address: ${portfolio.location}`
            a#goup(href="#") 
                img(src="/images/rup.png", alt="go_up")

    script(src="/js/imgFull.js") 
    script(src="/js/alert.js") 
    script(src="/js/layouts/paginate.js")
                    


