extends baselayout

block content 
    .main
        .bgCover 
            img#bgcv(src=`/images/ports/imageCover/${portfolio.imageCover}`, alt="bgCover")
            ul.bg__list
                li 
                    a#hm(href="#") Home 
                li 
                    a(href="#abt") About
                li 
                    a(href="#contat") Contact
            .mid
                h1= 'Welcome, this is '
                    span= portfolio.name
                a#prevWork(href="#pre") Previous
            .sec
                #abt 
                    h2= `About ${portfolio.name}`
                    p= portfolio.about 
                    h2= `What ${portfolio.name} Do?`
                    p= portfolio.what 
                    h2= `Why ${portfolio.name} Do It?`
                    p= portfolio.why
            .sec
                #pre 
                    h2 Previous Accomplishment Details
                    p= portfolio.previous
                    .prev__cont
                        .prev__cont__sub
                            img.imgsnd.imgFull(src=`/images/ports/imageSecond/${portfolio.imageSecond}`, alt="second_img", srcset="")
                            h3#first__head= portfolio.secondImgHead
                        .prev__cont__sub
                            img.imgsnd.imgFull(src=`/images/ports/imageThird/${portfolio.imageThird}`, alt="third_img", srcset="")
                            h3#second__head= portfolio.thirdImgHead
                        .prev__cont__sub
                            img.imgsnd.imgFull(src=`/images/ports/imageFourth/${portfolio.imageFourth}`, alt="fourth_img", srcset="")
                            h3#third__head= portfolio.fourthImgHead
                        .prev__cont__sub
                            img.imgsnd.imgFull(src=`/images/ports/imageFifth/${portfolio.imageFifth}`, alt="fifth_img", srcset="")
                            h3#fourth__head= portfolio.fifthImgHead
            .sec
                #contat 
                    h2= `Contact ${portfolio.name}`

                    .cont__boxbg
                        if (portfolio.showNo === true)
                            .cont__box
                                p= `Phone: ${portfolio.phn_no}` 
                        .cont__box
                            p= `Email: ${portfolio.email}`
                        if (portfolio.fb != "")
                            .cont 
                                a(href=`${portfolio.fb}`)
                                    if (portfolio.user.photo)
                                        img.profPic(src=`/images/users/${portfolio.user.photo}`, alt="prof__pic")
                                    else 
                                        img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                        .cont__box
                            p= `Address: ${portfolio.location}`
            a#goup(href="#") 
                img(src="/images/rup.png", alt="go_up")

    script(src="/js/imgFull.js") 
                    


