extends baselayout 

block content
    .main__sixth(id=`${portfolio.backColor}`)
        .main__sixth__prev(id=`${portfolio.fontColor}`)
            h1.firstHalf  Prior 
                span.otherHalf.fcolor(id=`${portfolio.focusColor}`) Detail
            .main__prev__bod(id=`${portfolio.headColor}`) 
                pre.ans= portfolio.previous
                h2.secHead= `${portfolio.name} ran into a problem`
                pre.ans= portfolio.problem 
                h2.secHead= `How ${portfolio.name} solved the problem?`
                pre.ans= portfolio.solution
        .main__sixth__about(id=`${portfolio.secHeadColor}`)
            h1.firstHalf About 
                span.otherHalf= `${portfolio.name}`
            .main__about__bod 
                pre.ans= portfolio.about 
                h2.secHead= `What ${portfolio.name} Do?`
                pre.ans= portfolio.what
                h2.secHead= `Why ${portfolio.name} Do it?`
                pre.ans= portfolio.why
                h2.secHead= `How ${portfolio.name} deals with Failure?`
                pre.ans= portfolio.failure
                h2.secHead= `How ${portfolio.name} stays motivated?`
                pre.ans= portfolio.motivation
                h2.secHead= `${portfolio.name} Message`
                pre.ans= portfolio.msg

        .main__sixth__cont(id=`${portfolio.fontFam}`)
            h1.firstHalf Get in 
                span.otherHalf Touch
            .cont__boxbg.main__cont__bod
                if (portfolio.showNo === true)
                    .cont__box.sixth__box
                        p= `Phone: ${portfolio.phn_no}` 
                .cont__box.sixth__box
                    p= `Email: ${portfolio.email}`
                if (portfolio.fb != "")
                    .cont
                        a(href=`${portfolio.fb}`)
                            if (portfolio.user.photo)
                                img.profPic(src=`/images/users/${portfolio.user.photo}`, alt="prof__pic")
                            else 
                                img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                .cont__box.sixth__box
                    p= `Address: ${portfolio.location}`


    script(src="/js/layouts/sixth.js") 