extends baselayout

block content 
    h1.loader
        img.porti__of__img(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    .main(id=`${portfolio.fontColor}`)
        .about__sec(id=`${portfolio.fontFam}`)
            .about__next 
                img#left__next(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/left.png", alt="left__next")
                img#right__next(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/right.png", alt="right__next")
            .about__first
                h1.secHead Greetings! From 
                    span.topHead=  portfolio.name
            .about__sec__other(id=`${portfolio.backColor}`)
                h3.headFont About me
                pre.ansFont= portfolio.about
                h3.headFont= `What ${portfolio.name} Do?`
                pre.ansFont= portfolio.what 
                h3.headFont= `Why ${portfolio.name} Do It?`
                pre.ansFont= portfolio.why
                h3.headFont= `How ${portfolio.name} deals with Failure?`
                pre.ansFont= portfolio.failure
                h3.headFont= `How ${portfolio.name} stays motivated?`
                pre.ansFont= portfolio.motivation
                h3.headFont= `${portfolio.name} Message`
                pre.ansFont= portfolio.msg

        .prev__sec.hidden
            .prev__next(id=`${portfolio.headColor}`)
                img#prevl__next(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/left.png", alt="left__next")
                img#prevr__next(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/right.png", alt="right__next")
            .prev__first(id=`${portfolio.secHeadColor}`)
                h1.topHead= portfolio.name 
                    span.secHead  Accomplishments
            .prev__sec__other(id=`${portfolio.focusColor}`)
                h3.headFont Accomplishments
                pre.ansFont= portfolio.previous
                p.prof__user__id.hidden= portfolio.user._id
                .prev__cont
                    .prev__cont__sub#thirdImgCont
                        if (portImage.length === 0)
                            p No Previous Accomplishment Images Yet!!!
                            .firstPrev.hidden 
                            .firstNext.hidden
                        else 
                            .accomp__cont
                                each item in portImage
                                    .accomp__cont__card
                                        img.imgsnd.imgFull(src=`${item.addImage}`, loading="lazy", alt="previous_image")
                                        h3.head= item.name
                            .paginate__addimg
                                .group__delbtn 
                                    button.redbtn.firstPrev Prev
                                    button.redbtn.firstNext Next
                        
                h3.headFont= `${portfolio.name} ran into a problem`
                pre.ansFont= portfolio.problem 
                h3.headFont= `How ${portfolio.name} solved the problem?`
                pre.ansFont= portfolio.solution

        .contact__sec.hidden
            .contact__next 
                img#cleft__next(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/left.png", alt="left__next")
                img#cright__next(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/right.png", alt="right__next")
            .contact__first
                h1.secHead Contact 
                    span.topHead=  portfolio.name
            .contact__sec__other
                .cont__boxbg
                    h2.headFont Get In Touch
                    if (portfolio.showNo === true)
                        .cont__box.contact__sec__box
                            p= `Phone: ${portfolio.phn_no}` 
                    .cont__box.contact__sec__box
                        p= `Email: ${portfolio.email}`
                    if (portfolio.fb != "")
                        .cont
                            a(href=`${portfolio.fb}`)
                                if (portfolio.user.photo)
                                    img.profPic(src=`${portfolio.user.photo}`, alt="prof__pic")
                                else 
                                    img.profPic.satProf(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/bighitman.png", alt="prof__pic")
                    .cont__box.contact__sec__box
                        p= `Address: ${portfolio.location}`

    script(src="/js/alert.js") 
    script(src="/js/layouts/paginate.js") 
    script(src="/js/layouts/third.js") 