.menu__bar 
    .menu__size
        a.anavi(href="#") &#9830; &#9830; &#9830;
#side__bar.main__navigation
    p.hidden.userTheme= user.theme
    .navigation 
        a.port_sec_head.hm(href="/" title="home")
            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
            span.chr Por
            span.grn t
            span.nocaps.chr i
        a#portiSearch.anavi.search__button(href="/inspire/cafe" title="search") Search
        a(href="/account/me")
            if (user.photo)
                img#menuImg.profPic(src=`${user.photo}`, alt="prof__pic", title=`${user.name}`)
            else 
                img#menuImg.profPic.satProf(src="/images/bighitman.png", alt="prof__pic", title=`${user.name}`)
        a#menuLayouts.anavi(href="/layouts/porti" title="layouts") Layouts
        if (user.accountType === "portfolio")
            a#menuPortfolio.anavi(href=`/myportfolio/${user._id}` title="your portfolio") Portfolio
        else 
            #menuPortfolio.anavi.hidden
        if (user.accountType === "restaurant")
            a#menuMenu.anavi(href=`/menu/${user._id}/additemstomenu` title="your menu") Menu
            a#menuMenuStats.anavi(href=`/api/v1/menu/restrostat/${user._id}` title="your menu statistics") Statistics
        else 
            #menuMenu.anavi.hidden 
            #menuMenuStats.hidden
        if (user.accountType === "business")
            a#menuCataloge.anavi(href=`/catalouge/${user._id}/additems` title="your catalouge") Catalogue
            a#menuCatalogeStats.anavi(href=`/api/v1/catalouge/companystat/${user._id}` title="your catalouge statistics") Statistics
        else 
            #menuCataloge.anavi.hidden
            #menuCatalogeStats.anavi.hidden
        if (user.accountType === "brochure")
            a#menuBrochure.anavi(href=`/brochure/${user._id}/additems` title="your brochure") Brochure 
            a#menuBrochureStats.anavi(href=`/api/v1/brochure/brochurestat/${user._id}` title="your catalouge statistics") Statistics
        else 
            #menuBrochure.anavi.hidden
            #menuBrochureStats.anavi.hidden
        a#menuInvitation.anavi(href=`/invitations/${user._id}` title="your invitation") Invitations
        a#message.anavi(href=`/mymessages/${user._id}` title="your messages") Messages
        #logout.logout.pointer SignOut

script(src="/js/alert.js")  
script(src="/js/logout.js") 
script(src="/js/menubar.js") 