.landing__navbar 
    .landing__navbar__firsthalf 
        a.navbar__logo(href="/")
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
            
        .nav__head__content__left.nav__head__content
            .navbar__services.navhead Create
                i.fa-solid.fa-angle-down.arrowhead.servicearrow
            .service__nav__sec.mini__nav.hidden
                ul 
                    li 
                        a.landinganc(href="/account/login") Portfolio 
                            p Create Portfolio Webpage using Portfolio Builder Feature
                    li  
                        a.landinganc(href="/account/login") Invitation
                            p Create Invitation Webpage Card using Invitation Webpage Feature
                    li 
                        a.landinganc(href="/account/login") Catalog
                            p Create Catalog Webpage using Catalog Builder Feature, Showcase and sell your product digitally, Order product features for your customers
                    li 
                        a.landinganc(href="/account/login") Food Menu
                            p Create Food Menu Webpage using Menu Builder Feature, Scan and load your restaurant Menu digitally, order, reserve, rating features for your customers
                    li 
                        a.landinganc(href="/account/login") Brochure
                            p Create Brochure Webpage using Brochure Builder Feature, Sell your service digitally, booking options for your customers
                    
            .navbar__about.navhead About Us
                i.fa-solid.fa-angle-down.arrowhead.aboutarrow
            .about__nav__sec.mini__nav.hidden
                ul
                    li 
                        a.landinganc(href="/vporti/aboutus") About vPorti 
                            p Learn what's with vPorti
                    li 
                        a.landinganc(href="/vporti/guidelines") Guide
                            p Learn more about how to use our features
            .navbar__reach.navhead Reach Out
                i.fa-solid.fa-angle-down.arrowhead.reacharrow
            .reach__nav__sec.mini__nav.hidden 
                ul 
                    li
                        a.landinganc(href="/vporti/getintouch") Message Us 
                            p Send us a direct message
                
    .landing__navbar__sechalf
        .landing__ham 
            i.fa-solid.fa-bars
        .first__nav__head
            .ham__starter
                .navbar__logo
                    a(href="/")
                        img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
                .close__ham 
                    i.fa-solid.fa-circle-xmark
            .ham__services.navhead Create
                i.fa-solid.fa-angle-down.arrowhead.servicehamarrow
            .service__ham__sec.mini__nav.hidden
                ul 
                    li Portfolio 
                    li Invitation
                    li Catalog
                    li Food Menu
                    li Brochure
            .ham__about.navhead About Us
                i.fa-solid.fa-angle-down.arrowhead.abouthamarrow
            .about__ham__sec.mini__nav.hidden
                ul
                    li 
                        a.landinganc(href="/vporti/aboutus") About vPorti 
                    li 
                        a.landinganc(href="/vporti/guidelines") Guide 
            .ham__reach.navhead Reach Out
                i.fa-solid.fa-angle-down.arrowhead.reachhamarrow
            .reach__ham__sec.mini__nav.hidden 
                ul 
                    li 
                        a.landinganc(href="/vporti/getintouch") Message Us 
            .ham__starter
                if (!user)
                    a.landinganc.navbar__login.navhead(href="/account/login") Login 
                    a.navbar__start.navhead.landinganc(href="/account/signup") Get Started
                else 
                    a.landinganc.navhead(href="/layouts/porti") Layouts
                    if (user.accountType == "portfolio")
                        a.navbar__start.navhead.landinganc.portlink(id=`${user._id}`) Portfolio
                    if (user.accountType === "restaurant")
                        a.navbar__start.navhead.landinganc(href=`/menu/${user._id}/additemstomenu`) Food Menu
                    if (user.accountType === "business")
                        a.navbar__start.navhead.landinganc(href=`/catalouge/${user._id}/additems`) Catalouge
                    if (user.accountType === "brochure")
                        a.navbar__start.navhead.landinganc(href=`/brochure/${user._id}/additems`) Brochure
        .nav__head__content
            if (!user)
                a.landinganc.navbar__login.navhead(href="/account/login") Login 
                a.navbar__start.navhead.landinganc(href="/account/signup") Get Started
            else 
                a.landinganc.navhead(href="/layouts/porti") Layouts
                if (user.accountType == "portfolio")
                    a.navbar__start.navhead.landinganc.portlink(id=`${user._id}`) Portfolio
                if (user.accountType === "restaurant")
                    a.navbar__start.navhead.landinganc(href=`/menu/${user._id}/additemstomenu`) Food Menu
                if (user.accountType === "business")
                    a.navbar__start.navhead.landinganc(href=`/catalouge/${user._id}/additems`) Catalouge
                if (user.accountType === "brochure")
                    a.navbar__start.navhead.landinganc(href=`/brochure/${user._id}/additems`) Brochure