extends base

block content
    if (user)
        h1.loader
            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
        include _header
        //- .port__nav__sub 
        //-     a.ypf.smallest__cont(href=`/myportfolio/${user._id}` title="your portfolio")
        //-         img(src="/images/porti.png", alt="view_portfolio")
        //-         p.name__tag Portfolio
        //-     a.yin.smallest__cont(href=`/invitations/${user._id}` title="your invitation")
        //-         img(src="/images/invite.png", alt="view_invitations")
        //-         p.name__tag Invitations
        //-     a.smallest__cont(href=`/menu/${user._id}/additemstomenu` title="your menu")
        //-         img(src="/images/menu.png", alt="items__menu")
        //-         p.name__tag Food Menu
        //-     a.smallest__cont(href=`/catalouge/${user._id}/additems` title="your catalouge")
        //-         img(src="/images/catalouge.png", alt="items__catalouge")
        //-         p.name__tag Catalouge
        .update__account__form 
            form#upAccImg
                if (user.photo)
                    img.profPic(src=`images/users/${user.photo}`, alt="prof__pic")
                else 
                    img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                label.form__label(for='upPic') Change DP
                input#upPic.form__input(type="file" accept="image/*" name="upPic", required)
                button#upProfPic.redbtn Update Picture 
            form#upInfo
                h2 Update Your Account Details 
                label.form__label(for='name') Name
                input#upname.form__input(type='text', placeholder=`${user.name}`, required)
                label.form__label(for='email') Email Address 
                input#upemail.form__input(type='email', placeholder=`${user.email}`, required)
                button.update__account.redbtn Update Info

            .update__account__password
                form#upPass
                    h2 Update Your Password 
                    label.form__label(for='password') Current Password 
                    input#pwdCurrent.form__input(type='password', placeholder='********', required, minlength='8')
                    label.form__label(for='password') New Password 
                    p Note: Password Must be atleast 9 Characters long
                    input#up_password.form__input(type='password', placeholder='********', required, minlength='8')
                    label.form__label(for='password') Confirm Password
                    input#up_passwordConfirm.form__input(type='password', placeholder='********', required, minlength='8')
                    button.btn__pwd.redbtn Update

            h1#acHead= `Greetings, ${user.name}`

    else 
        h1 You are not Logged In, Please Log In 
        a.redbtn(href="/login") LogIn

    script(src="/js/alert.js") 
    script(src="/js/account.js") 