extends base

block content
    if (user)
        h1.loader
            .bink
                img.porti__off__img(src="/images/smalport.png", alt="porti__img")
                span.td Por
                span.grn t
                span.nocaps.td i
        include _header
        .update__account__form 
            p.hidden.backTheme= user.theme
            h2 Change Background Color
            p.hidden#currentId= user.id
            .update__background 
                .bg__fix
                    #defaultBack.up__bg
                        img.bg__opt(src="/images/grn.png", alt="grn__background")
                        p Porti Background
                    #darkBack.up__bg
                        img.bg__opt(src="/images/dark.png", alt="grn__background")
                        p Dark Background
                    #whiteBack.up__bg
                        img.bg__opt(src="/images/white.png", alt="grn__background")
                        p White Background
                    #redBack.up__bg
                        img.bg__opt(src="/images/red.png", alt="grn__background")
                        p Lakhey Background
            #upAccImg
                if (user.photo)
                    img.profPic(src=`${user.photo}`, alt="prof__pic")
                else 
                    img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                form(action="/api/users/updateDP" method="post" enctype="multipart/form-data")
                    .form__acc__dp
                        label.form__label(for='upPic') Change DP
                        input#upPic.form__input(type="file" accept="image/*" name="upPic", required)
                        button#upProfPic.redbtn.btnpad Update Picture 
            form#upInfo
                h2 Update Your Account Details 
                label.form__label(for='name') Name
                input#upname.form__input(type='text', value=`${user.name}`, required)
                p.sami__user__warn.maf.warn.hidden User with this name already exits. Please use a different one!
                p.whiti__space.maf.warn.hidden You cannot use space in name!!!
                p.onallowed__charc.maf.warn.hidden special characters ~`!#$%^&*+=-[]\\\';,/{}|\":<>? are not allowed
                label.form__label(for='email') Email Address 
                input#upemail.form__input.inpt__disable(type='email', value=`${user.email}`, disabled, required)
                button.update__account.redbtn.btnpad Update Info

            .update__account__password
                form#upPass
                    h2 Update Your Password 
                    label.form__label(for='password') Current Password 
                    input#pwdCurrent.form__input(type='password', placeholder='********', required, minlength='8')
                    label.form__label(for='password') New Password 
                    p Note: Password Must be atleast 9 Characters long
                    input#up_password.form__input(type='password', placeholder='********', required, minlength='8')
                    label.form__label(for='password') Confirm Password
                    input#up_passwordConfirm.form__input(type='password', placeholder='********', required, minlength='8')
                    button.btn__pwd.redbtn.btnpad Update        
            
            h1#acHead= `Greetings, ${user.name}`
            include _footer
    else 
        h1 You are not Logged In, Please Log In 
        a.redbtn(href="/login") LogIn
        p.hidden#currentId

    script(src="/js/alert.js") 
    script(src="/js/account.js") 