extends base

block content
    h1.loader
        .bink
            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
            span.portDet Por
            span.grn t
            span.nocaps.portDet i

    if (!user)
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/account/login") Sign In
    else 
        include _header
        #usId.hidden= user._id
        #uiId.hidden= user._id
        .creation__body
            include _footer
            #uTheme.hidden= user.theme
            .invi__section#crtInvi.shinesec
                h2 Create Invitation
                p Pick any of the layouts below and build your Invitation Card in just minutes! Fill the Form and Your All Set
                p Need tips Creating Your Portfolio Go To 
                        a.portDet(href="/#iHelper") Invitation Helper
                .gGroup 
                    .freeSec.whitebtn.invitebtn#freeInviBtn Unlocked
                    .paidSec.whitebtn.invitebtn#lockedInviBtn Locked
                .layout__main#freeInviSec
                    each item in theme
                        if (item.themeCategory === "Invitation" && item.themeType === 'Free' || item.validInviUser.includes(user.id))
                            .unl.invi__layouts(id=`${item.themeId}`)
                                .un_layout_log
                                    img(src=`${item.picture}`, loading="lazy", alt="invi1")
                                    p.portDet= item.name
                .layout__main#lockedInviSec 
                    .unl
            if (user.accountType === "brochure")
                .brochure__section.newsec.shinesec#crtBrochure
                    if (!organization)
                        h2 Create Brochure for your Hotels, Motels Any Organization
                        p Pick any of the layouts below and build a Brochure 
                        p Need tips Creating Your Brochure Go To 
                            a.portDet(href="/#bHelper") Brochure Helper
                        .gGroup 
                            .freeSec.whitebtn.brochurebtn#freebrochureBtn Unlocked
                            .paidSec.whitebtn.brochurebtn#lockedbrochureBtn Locked
                        .layout__main#freeBrochureSec
                            each item in theme
                                if (item.themeCategory === "Brochure" && item.themeType === 'Free' || item.validBrochureUser.includes(user.id))
                                    .unl.brochure_layouts(id=`${item.themeId}`)
                                        .un_layout_log
                                            img(src=`${item.picture}`, loading="lazy", alt="brochure")
                                            p.portDet= item.name
                        .layout__main#lockedBrochureSec 
                            .unl
                    else 
                        .noti__sec
                            .sticky__section
                                h2 You Already have A Brochure!
                                p.warn You can't have more than one Brochure!
                            if (!brochure)
                                .sticky__section 
                                    h2.warn You Haven't added items to your Brochure!
                        .gGroup 
                            .freeSec.whitebtn.brochurebtn#freebrochureBtn Unlocked
                            .paidSec.whitebtn.brochurebtn#lockedbrochureBtn Locked
                        .layout__main#freeBrochureSec 
                            each item in theme
                                if (item.themeCategory === "Brochure" && item.themeType === 'Free' || item.validBrochureUser.includes(user.id))
                                    .un_layout
                                        img(src=`${item.picture}`, loading="lazy", alt="brochure")
                                        p.portDet= item.name
                        .layuot__main#lockedBrochureSec 
                            .un_layout
            else 
                #brochureCataloge.hidden 
                .brochurebtn.hidden
                #lockedBrochureSec.hidden 
                #freeBrochureSec.hidden 
                #freebrochureBtn.hidden 
                #lockedbrochureBtn.hidden  
                .brochure__section.hidden
            if (user.accountType === "business")
                .catalouge__section.newsec.shinesec#crtCataloge
                    if (!company)
                        h2 Create Catalog For Your Business 
                        p Pick any of the layouts below and build a Catalog 
                        p Need tips Creating Your Catalog Go To 
                            a.portDet(href="/#cHelper") Catalog Helper
                        .gGroup 
                            .freeSec.whitebtn.catalgbtn#freeCatalgBtn Unlocked
                            .paidSec.whitebtn.catalgbtn#lockedCatalgBtn Locked
                        .layout__main#freeCatalgSec
                            //- #catal1.unl
                            each item in theme
                                if (item.themeCategory === "Cataloge" && item.themeType === 'Free' || item.validCatalogeUser.includes(user.id))
                                    .unl.cataloge_layouts(id=`${item.themeId}`)
                                        .un_layout_log
                                            img(src=`${item.picture}`, loading="lazy", alt="cataloge1")
                                            p.portDet= item.name
                        .layout__main#lockedCatalgSec 
                            .unl
                    else 
                        .noti__sec
                            .sticky__section
                                h2 You Already have A Catalouge!
                                p.warn You can't have more than one Catalouge!
                            if (!catalouge)
                                .sticky__section 
                                    h2.warn You Haven't added items to your cataloge!
                        .gGroup 
                            .freeSec.whitebtn.catalgbtn#freeCatalgBtn Unlocked
                            .paidSec.whitebtn.catalgbtn#lockedCatalgBtn Locked
                        .layout__main#freeCatalgSec 
                            each item in theme
                                if (item.themeCategory === "Cataloge" && item.themeType === 'Free' || item.validCatalogeUser.includes(user.id))
                                    .un_layout
                                        img(src=`${item.picture}`, loading="lazy", alt="cataloge1")
                                        p.portDet= item.name
                        .layuot__main#lockedCatalgSec 
                            .un_layout
            else 
                #crtCataloge.hidden 
                .catalgbtn.hidden
                #lockedCatalgSec.hidden 
                #freeCatalgSec.hidden 
                #freeCatalgBtn.hidden 
                #lockedCatalgBtn.hidden  
                .catalouge__section.hidden
            if (user.accountType === "restaurant")
                .menu__section#crtMenu.shinesec
                    if (!restro)
                        h2 Create Restro for your Menu 
                        p Pick any of the layouts below and build a menu for your restro 
                        p Need tips Creating Your Restaurant || Bakery || Food Spot Go To 
                            a.portDet(href="/#mHelper") Menu Helper
                        .gGroup 
                            .freeSec.whitebtn.menubtn#freeMenuBtn Unlocked
                            .paidSec.whitebtn.menubtn#lockedMenuBtn Locked
                        .layout__main#freeMenuSec
                            //- #menu1.unl
                            each item in theme
                                if (item.themeCategory === "Menu" && item.themeType === 'Free' || item.validMenuUser.includes(user.id))
                                    .unl.menu_layouts(id=`${item.themeId}`)
                                        .un_layout_log
                                            img(src=`${item.picture}`, loading="lazy", alt="menu1")
                                            p.portDet= item.name
                        .layout__main#lockedMenuSec 
                            .unl
                    else 
                        .noti__sec
                            .sticky__section
                                h2 You Already have A Menu!
                                p.warn You can't have more than one Menu!
                            if (!menu)
                                .sticky__section 
                                    h2.warn You Haven't added items to your menu!
                        .gGroup 
                            .freeSec.whitebtn.menubtn#freeMenuBtn Unlocked
                            .paidSec.whitebtn.menubtn#lockedMenuBtn Locked
                        .layout__main#freeMenuSec
                            each item in theme
                                if (item.themeCategory === "Menu" && item.themeType === 'Free' || item.validMenuUser.includes(user.id))
                                    .un_layout
                                        img(src=`${item.picture}`, loading="lazy", alt="menu1")
                                        p.portDet= item.name
                        .layout__main#lockedMenuSec 
                            .un_layout
            else 
                #crtMenu.hidden
                .menubtn.hidden
                #lockedMenuSec.hidden 
                #freeMenuSec.hidden 
                #freeMenuBtn.hidden 
                #lockedMenuBtn.hidden
                .menu__section.hidden
            
            if (user.accountType !== "portfolio")
                #crtPort.hidden 
                #layout5.hidden
                .glassbtn.hidden
                #freePortSec.hidden 
                #lockedPortSec.hidden 
                #freeItems.hidden 
                #lockedItems.hidden
                .port__bod.hidden
                .port__section.hidden
            else
                if (portfolio)
                    .port__bod.port__section.shinesec
                        .noti__sec
                            .sticky__section
                                h2 You Already have A Portfolio!
                                p.warn You can't have more than one portfolio!
                            if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7' && portfolio.theme !== '836b9b955a98e0f2e2d678c179696d6ac53356eb')
                                if (!portfolioImage)
                                    .sticky__section 
                                        h2.warn You Haven't Uploaded Any Previous Work Image 
                        p Need tips Creating Your Portfolio Go To 
                            a.portDet(href="/#pHelper") Porti Helper
                        .gGroup 
                            .freeSec.whitebtn.glassbtn#freePortSec Unlocked
                            .paidSec.whitebtn.glassbtn#lockedPortSec Locked
                        .layout__main#freeItems
                            each item in theme
                                if (item.themeCategory === "Portfolio" && item.themeType === 'Free' || item.validUser.includes(user.id))
                                    .un_layout
                                        img(src=`${item.picture}`, loading="lazy", alt="layout1")
                                        p.portDet= item.name
                            .un_layout
                                img(src="/images/layout5.png", loading="lazy", alt="layout5")
                                p AT Layout (you can upload upto 20 images)
                        .layout__main#lockedItems
                            each item in theme
                                if (item.themeCategory === "Portfolio" && item.paid === false)
                                    if (!item.validUser.includes(user.id))
                                        .un_layout
                                            a(href=`/paywith/${item.themeId}`)
                                                img(src=`${item.picture}`, loading="lazy", alt="layout1")
                                            p.portDet= item.name
                                            p.layout__price.portDet= item.price
                                            a.redbtn(href=`/paywith/${item.themeId}`) Unlock
                else
                    .port__bod.port__section#crtPort.shinesec
                        h2 Create a portfolio
                        p Pick any of the layouts below and build your portfolio in just minutes! Fill the Form and Your All Set
                        p Need tips Creating Your Portfolio Go To 
                            a.portDet(href="/#pHelper") Portfolio Helper
                        .gGroup 
                            .freeSec.whitebtn.glassbtn#freePortSec Unlocked
                            .paidSec.whitebtn.glassbtn#lockedPortSec Locked
                        .layout__main#freeItems
                            each item in theme
                                if (item.themeCategory === "Portfolio" && item.themeType === 'Free' || item.validUser.includes(user.id))
                                    .portunl(id=`${item.themeId}`)
                                        .un_layout_log
                                            img(src=`${item.picture}`, loading="lazy", alt="layout1")
                                            p.layout__name.portDet(id=`${item.name}`)= item.name
                            #layout5.unl
                                .un_layout_log
                                    img(src="/images/layout5.png", loading="lazy", alt="layout5")
                                    p AT Layout (you can upload upto 20 images)

                        .layout__main#lockedItems
                            each item in theme
                                if (item.themeCategory === "Portfolio" && item.paid === false)
                                    if (!item.validUser.includes(user.id))
                                        .un_layout 
                                            a(href=`/paywith/${item.themeId}`)
                                                img(src=`${item.picture}`)
                                            p.layout__name.portDet= item.name 
                                            p.layout__price.portDet= item.price
                                            a.redbtn(href=`/paywith/${item.themeId}`) Unlock
                 
                script(src="/js/createPort/createForm.js") 
                script(src="/js/createPort/createport.js")
                script(src="/js/createPort/createport5.js")  
            script(src="/js/createInvi/createInviForm.js") 
            script(src="/js/createInvi/createinvi.js")
            script(src="/js/createrestro/createRestroForm.js")  
            script(src="/js/createrestro/createRestro.js")
            script(src="/js/createcompany/createCatalogeForm.js")
            script(src="/js/createcompany/createcataloge.js")  
            script(src="/js/createbrochure/createBrochureForm.js")
            script(src="/js/createbrochure/createBrochure.js")  
    script(src="/js/layouts/portForAll.js") 
    script(src="/js/alert.js")