extends base

block content
    .loader
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
    if (!user)
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/login") Sign In
    else 
        .port__nav#portNav
            .port__nav__first
                a.port__head.act.smallest__cont(href="/me")
                    if (user.photo)
                        img.userDp.profPic(src=`/images/users/${user.photo}`, alt="prof__pic", title=`${user.name}`)
                        p.name__tag Account
                    else 
                        img.userDp.profPic.satProf(src="/images/hitman.png", alt="prof__pic", title=`${user.name}`)
                        p.name__tag Account
                a.port_sec_head.hm(href="/" title="home")
                    h1 Tech 
                        span Mafia
                #logout.logout.smallest__cont
                    img(src="/images/poweroff.png", alt="signout" title="Signout")
                    p.name__tag Signout
            .port__nav__sub 
                a.ypf.smallest__cont(href=`/myportfolio/${user._id}` title="your portfolio")
                    img(src="/images/porti.png", alt="view_portfolio")
                    span#usId.hidden= user._id
                    p.name__tag Portfolio
                a.yin.smallest__cont(href=`/invitations/${user._id}` title="your invitation")
                    img(src="/images/invite.png", alt="view_invitations")
                    span#uiId.hidden= user._id
                    p.name__tag Invitations
                a.smallest__cont(href=`/menu/${user._id}/additemstomenu` title="your menu")
                    img(src="/images/menu.png", alt="items__menu")
                    p.name__tag Food Menu
                a.smallest__cont(href=`/catalouge/${user._id}/additems` title="your catalouge")
                    img(src="/images/catalouge.png", alt="items__catalouge")
                    p.name__tag Catalouge
            .breadcrumbs 
                .bdcb(title="porti") You Are Here |
                a.bdcb(href="/") Home 
                .bdcb.arr &#8680;  
                .cur
                    img.porti__off__img(src="/images/smalport.png" alt="porti__img")
                span.grn Porti  
        .creation__body
            .catalouge__section.newsec
                if (!company && !catalouge)
                    h2 Create Catalouge For Your Business 
                    p Pick any of the layouts below and buid a Catalouge 
                    .layout__main
                        #catal1.unl
                            .un_layout_log
                                a(href=`/catalouge/${user._id}/additems`)
                                    img(src="/images/catal1.png", loading="lazy", alt="catalouge1")
                                p CT Layout
                else 
                    .noti__sec
                        .sticky__section
                            h2 You Already have A Catalouge!
                            p.warn You can't have more than one Catalouge!
                        if (!company)
                            .sticky__section 
                                h2.warn You Haven't Updated Your Company Details! 
                        if (!catalouge)
                            .sticky__section 
                                h2.warn You Haven't added items to your cataloge!
                    .layout__main 
                        .un_layout 
                            img(src="/images/catal1.png", loading="lazy", alt="invi2")
                            p CT Layout
            .menu__section
                if (!restro && !menu)
                    h2 Create Menu For Your Restro 
                    p Pick any of the layouts below and buid a menu for your restro 
                    .layout__main
                        #menu1.unl
                            .un_layout_log
                                a(href=`/menu/${user._id}/additemstomenu`)
                                    img(src="/images/menu1.png", loading="lazy", alt="menu1")
                                p DC Layout
                else 
                    .noti__sec
                        .sticky__section
                            h2 You Already have A Menu!
                            p.warn You can't have more than one Menu!
                        if (!restro)
                            .sticky__section 
                                h2.warn You Haven't Updated Your Restro Details! 
                        if (!menu)
                            .sticky__section 
                                h2.warn You Haven't added items to your menu!
                    .layout__main
                        .un_layout
                            img(src="/images/menu1.png", loading="lazy", alt="menu1")
                            p DC Layout
            .invi__section#crtInvi
                h2 Create Invitation
                p Pick any of the layouts below and build your Invitation Card in just minutes! Fill the Form and Your All Set
                .layout__main
                    #invi1.unl
                        .un_layout_log
                            img(src="/images/invi1.png", loading="lazy", alt="invi1")
                            p MRG Layout (5 Images required)
                    #invi2.unl
                        .un_layout_log
                            img(src="/images/invi2.png", loading="lazy", alt="invi2")
                            p INI Layout (1 | No Image required)
            if (portfolio)
                .port__bod.port__section
                    .noti__sec
                        .sticky__section
                            h2 You Already have A Portfolio!
                            p.warn You can't have more than one portfolio!
                        if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7' && portfolio.theme !== '836b9b955a98e0f2e2d678c179696d6ac53356eb')
                            if (!portfolioImage)
                                .sticky__section 
                                    h2.warn You Haven't Uploaded Any Previous Work Image 
                    p Need tips Creating Your Portfolio Go To 
                        a.portDet(href="/#portiHelper") Porti Helper
                    .layout__main
                        .un_layout
                            img(src="/images/layout1.png", loading="lazy", alt="layout1")
                            p PL Layout
                        .un_layout
                            img(src="/images/layout2.png", loading="lazy", alt="layout2")
                            p BG Layout
                        .un_layout
                            img(src="/images/layout3.png", loading="lazy", alt="layout3")
                            p ST Layout
                        .un_layout 
                            img(src="/images/layout4.png", loading="lazy", alt="layout1")
                            p BS Layout
                        .un_layout
                            img(src="/images/layout5.png", loading="lazy", alt="layout5")
                            p AT Layout (you can upload upto 20 images)
                        .un_layout
                            img(src="/images/layout6.png", loading="lazy", alt="layout6")
                            p NI Layout (no image required)

            else
                .port__bod.port__section#crtPort
                    h2 Create a portfolio
                    p Pick any of the layouts below and build your portfolio in just minutes! Fill the Form and Your All Set
                    p Need tips Creating Your Portfolio Go To 
                        a.portDet(href="/#portiHelper") Porti Helper
                    .layout__main
                        .portunl(id="a9993e364706816aba3e25717850c26c9cd0d89d")
                            .un_layout_log
                                img(src="/images/layout1.png", loading="lazy", alt="layout1")
                                p.layout__name(id="PL Layout") PL Layout
                        .portunl(id="589c22335a381f122d129225f5c0ba3056ed5811")
                            .un_layout_log
                                img(src="/images/layout2.png", loading="lazy", alt="layout2")
                                p.layout__name(id="BG Layout") BG Layout
                        .portunl(id="481743d632b80d39bc2771d19be3ca3005b3f8af")
                            .un_layout_log
                                img(src="/images/layout3.png", loading="lazy", alt="layout3")
                                p.layout__name(id="ST Layout") ST Layout
                        .portunl(id="d798d4338adeb553a1089a58e61e18c2fcdf77bb")
                            .un_layout_log
                                img(src="/images/layout4.png", loading="lazy", alt="layout4")
                                p.layout__name(id="BS Layout") BS Layout
                        #layout5.unl
                            .un_layout_log
                                img(src="/images/layout5.png", loading="lazy", alt="layout5")
                                p AT Layout (you can upload upto 20 images)
                        .portunl(id="836b9b955a98e0f2e2d678c179696d6ac53356eb")
                            .un_layout_log
                                img(src="/images/layout6.png", loading="lazy", alt="layout6")
                                p.layout__name(id="NI Layout") NI Layout (No Image required)
                script(src="/js/createPort/createForm.js") 
                script(src="/js/createPort/createport.js")
                script(src="/js/createPort/createport5.js")  
            script(src="/js/createInvi/createinvi.js")
            script(src="/js/createInvi/createinvi2.js")  
            script(src="/js/logout.js")  
    script(src="/js/alert.js")