extends base

block content 
    h1.loader
        .bink
            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
            span.res Por
            span.grn t
            span.nocaps.res i
    if (!user)
        .confirm__pg
            h1 Please Sign In To Your Account !
            a.limebtn(href="/account/login") Sign In
    else
        include _header
        p.resorderslen.hidden= resorders.length
        p.comorderslen.hidden= comorders.length 
        p.bookingslen.hidden= bookings.length
        p.resreservelen.hidden= resreserve.length 
        p.comreturnlen.hidden= comreturn.length
        p.totalres.hidden= totalresexp
        p.totalcom.hidden= totalcomexp
        p.curuserid.hidden= user._id
        p.expUserTheme.hidden= user.theme
        .expense__sec
            .exp__bod
                .exp__nav 
                    ul 
                        li 
                            a.txt(href="#res__exp") Food 
                        li 
                            a.txt(href="#com__exp") Product 
                        li 
                            a.txt(href="#org__exp") Booking 
                        li 
                            a.txt(href="#reserve__exp") Reservations 
                        li 
                            a.txt(href="#return__exp") Returns
                h1.txt Your Activity Inside Porti
                .exp__charts
                    canvas#expPie.pie
                    canvas#expBar.bar

                #res__exp.exp__bod__inner
                    h2 Food Orders You Requested
                    #exp__res__val
                        for item in resorders 
                            .exp__items 
                                h4= item.restroName
                                p= `Order : ${item.message}`
                                .exp__items__grp
                                    p= item.table 
                                    p= `Total : ${item.total}`
                                    p= `Status : ${item.orderInfo}`
                                p.gry= item.createdAt
                    .exp__paginate 
                        .resprev.exppagibtn.hidden Previous 
                        .resNext.exppagibtn.hidden Next
                #com__exp.exp__bod__inner 
                    h2 Product Orders You Requested
                    #exp__com__val
                        for item in comorders 
                            .exp__items 
                                h4= item.companyName 
                                p= `Order : ${item.message}` 
                                .exp__items__grp
                                    p= `Total : ${item.total}`
                                    p= `Status : ${item.orderInfo}` 
                                p.gry= item.createdAt
                    .exp__paginate 
                        .comprev.exppagibtn.hidden Previous 
                        .comNext.exppagibtn.hidden Next
                #org__exp.exp__bod__inner 
                    h2 Bookings You Requested
                    #exp__org__val
                        for item in bookings 
                            .exp__items 
                                h4= item.organizationName 
                                p= `Message : ${item.message}`
                                .exp__items__grp
                                    p= `Status : ${item.bookingInfo}`
                                    p.gry= `From : ${item.date}` 
                                    p.gry= `To : ${item.todate}`
                                p.gry= item.createdAt
                    .exp__paginate 
                        .bookprev.exppagibtn.hidden Previous 
                        .bookNext.exppagibtn.hidden Next
                #reserve__exp.exp__bod__inner 
                    h2 Reservations You Requested
                    #exp__reserve__val
                        for item in resreserve 
                            .exp__items 
                                h4= item.restroName 
                                .exp__items__grp
                                    p= `Status : ${item.bookingInfo}`
                                    p= `Time : ${item.time}`
                                    p= `Date : ${item.date}`
                                p.gry= item.createdAt
                    .exp__paginate 
                        .reserveprev.exppagibtn.hidden Previous 
                        .reserveNext.exppagibtn.hidden Next
                #return__exp.exp__bod__inner 
                    h2 Product Returns You Requested
                    #exp__return__val
                        for item in comreturn 
                            .exp__items 
                                h4= item.companyName 
                                .exp__items__grp
                                    p= `Product : ${item.product}`
                                    p= `Status : ${item.returnInfo}`
                                    p= `Purchased Date : ${item.date}`
                                p= `Message : ${item.message}`
                                p.gry= item.createdAt
                    .exp__paginate 
                        .returnprev.exppagibtn.hidden Previous 
                        .returnNext.exppagibtn.hidden Next
        .exp_foot
            include _footer

    script(type="module" src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="/js/alert.js")
    script(type="text/javascript" src="/js/expense.js")  