extends base

block content 
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span.td vPor
            span.grn t
            span.nocaps.td i
    .whole__homepage
        .main__content 
            if (!user)
                h1.newusersignup.pointer(title="Let's Start")  Let's Start&#10162;
            else 
                .newusersignup.hidden
            .main__content__nav
                if (user)
                    a.crPr.framebtn(href="/layouts/porti")
                        p#go__create.wite Let's  
                            span.orng Suit Up
                else 
                    #go__create.hidden
            .main__content__learn
                .learn__content 
                    a.effectbtn(href="#abtPorti") 
                        span.whte About 
                        span vPor
                        span.grn t
                        span.wite i 
                    a.effectbtn(href="#pGuide") vPor
                        span.grn t
                        span.wite i 
                        span.whte Guide
            .main__content__logo 
                .quote 
                    h1.qttxt.gry  "Creating A Website Can Be Such A Rip Off, 
                        span.wite Create vPOR
                        span.grn T
                        span.wite i"
                if (!user)
                    .logo__grp
                        img.porti__off__img(src="/images/portii.png", alt="porti__img")
                        span.wite vPor
                        span.grn T
                        span.nocaps.wite i
                else 
                    a.logo__grp.pointer(href="/account/me") 
                        img.porti__off__img(src="/images/portii.png", alt="porti__img")
                        span.wite vPor
                        span.grn T
                        span.nocaps.wite i
        .bod 
            .view__tm 
                #abtPorti.padder.darkgreen
                    .bottom__nav
                        h2 About 
                            span.wite vPor
                            span.grn t
                            span.wite.nocaps i
                        if (!user)
                            p.usrTheme.hidden
                            a.bottom__anch(href="/account/login") 
                                h3 Login | SignUp&#10162;
                            .menuPortfolio.hidden
                        else
                            p.usrTheme.hidden= user.theme
                            .bottom__nav__inner 
                                if (user.accountType == "portfolio")
                                    a.menuPortfolio.bottom__anch.text__shadow(id=`${user._id}`) 
                                        h3 &#10070;Portfolio
                                else 
                                    a.menuPortfolio.hidden(id="#")
                                if (user.accountType === "restaurant")
                                    a.bottom__anch.text__shadow(href=`/menu/${user._id}/additemstomenu`) 
                                        h3 &#10070;Menu
                                if (user.accountType === "business")
                                    a.bottom__anch.text__shadow(href=`/catalouge/${user._id}/additems`) 
                                        h3 &#10070;Catalouge
                                if (user.accountType === "brochure")
                                    a.bottom__anch.text__shadow(href=`/brochure/${user._id}/additems`)
                                        h3 &#10070;Brochure
                                a.bottom__anch.text__shadow(href=`/invitations/${user._id}`) 
                                    h3 &#10020;Invitation
                                .bottom__anch.text__shadow.logout 
                                    h3 &#10162;SignOut
                    .first__abt__cont.containr#apS 
                        .first__half__cont 
                            h1 About 
                                span.wite vPor
                                span.grn t
                                span.mid.nocapsB i
                        .second__half__cont
                            .second__half__head
                                h2.gry CREATE VIRTUAL 
                                    span.wite PORTFOLIO, 
                                h2.wite INVITATION, MENU,  
                                h2.wite CATALOG, BROCHURE 
                                h2.gry FOR 
                                    span.wite FREE
                            button#showAboutPorti.shwbtn Know About vPorti
                    #abtPortiSection.second__abt__cont.hidden
                        p Lakhey De Tech Presents vPorti. In Czech "V" means "In" and in Spanish "Por ti" means "For You", "In For You", Well thats what google said. Things are easy acces via internet then storing it locally or using it physically, vPorti is here to help you with situations that can really be a drag.
                        h3 Why vPorti?
                        p Is your Interview Coming near still have no CV? Do not know what you should include and how you should present yourself? Well! vPORTI is here to save the day :). Create Your portfolio within few minutes. Just answer the questions given and your all set.
                        p Is a big event coming and dont want to waste time energy and money on making invitation card. Well with vporti you can create Invitation card. Create it share it to your guests.
                        p Do you have to change price and details of your Menu every now and then. Then Go for vPorti, Create your menu, easily update it any time.
                        p vPorti menu comes with statistic options where you can find all your analytics of your food spot (orders made, reservation made)
                        p vPorti is here for Business owners who are selling products or services. If you have alot of items or services use our catalog feature.
                        p vPorti catalog comes with statistic options where you can find all your analytics of your business (orders made, returns requested)
                        p vPorti is here for Business owners who are looking for brochures.
                        p vPorti catalog comes with statistic options where you can find all your analytics of your business (booking made)
                        p vPorti Brings you varities of Theme Select and Just Focus on your Content, Make yourself stand out. Create Here Access it AnyWhere!!!
                        p With the help of vPorti sharing is more easy, forget the hassle of saving storing and printing your CV, Invitation, Menu, Catalouge. Access them with your QR code or Link. Also showing your previous works gets easy, updating your details gets easy. 
                        p Creating a website can be such a rip off while you are just starting out, vporti is here with similar working mechanism for free.
                        h3 Who vPorti is For :
                        ul  
                            li Applying For Work | Showcasing Your Work
                            li Hosting A Party | Organizing A Event
                            li Food Spot | Food | Drinks Cafe Owner
                            li Business Owner | Shop Owner
                            li For Anyone | Everyone who needs a Portfolio, Invitation Card, Food Menu, Catalogue, Brochure
                .padder.darkgreen#pGuide
                    .containr 
                        .second__half__cont 
                            .second__half__head.to__left
                                h1 Easy 
                                    span.wite Create,  
                                    span.grn Share 
                                h1 No 
                                    span Recurring 
                                    span.maf Charges,
                                h1 No 
                                    span.maf Hassle 
                                h1 Short Easy 
                                    span.grn Link
                                p.porti_all_link.guidlink vporti.com/user
                            button#showGuide.shwbtn vPorti Processes 
                        .first__half__cont 
                            h1.wite 
                                span vPor
                                span.grn t
                                span.mid.nocapsB i  
                                span.gry Guide
                    #guidePorti.hidden 
                        h2 To Start Using  
                            span.wite vPor
                            span.grn t
                            span.wite i 
                            span.gry Services 
                            span.lst ?
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 Step 1
                                .gbox__bod
                                    p Create Your Account, Go to Login | SignUp to create Your Account 
                                    p Username should not contain space or any special characters 
                                    p The username you put will be your endpoint to your vporti. vporti.com/username
                                    p Password must be 9 Characters long
                            .gbox 
                                .gbox__head 
                                    h3 Step 2
                                .gbox__bod
                                    p You will be redirected to your account, from where pick your account type.
                                    p Browse Through the theme from layout and select one
                            .gbox 
                                .gbox__head 
                                    h3 Step 3
                                .gbox__bod
                                    p After Selecting a theme, Fill up the form 
                                    p Hit Create And You are All Set!
                            .gbox 
                                .gbox__head 
                                    h3 Step 4
                                .gbox__bod
                                    p To view your created vporti Click on My Portfolio || My Invitation || My Menu || My Cataloge || My Brochure
                                    p To share your portfolio click copy link and share it or you can click generate qrcode and share your qrcode
                .padder#pHelper
                    .containr 
                        .first__half__cont 
                            h1.wite Port
                                span.gry  folio 
                                span Helper
                        .second__half__cont
                            .second__half__head
                                h2 Interview 
                                    span.wite Solution
                                h2.gry Your Work 
                                    span.wite Showcase
                                h2.gry Your Art 
                                    span.wite Showcase
                                h2.gry Easy With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i
                            button#showPortHelper.shwbtn Portfolio Helper
                    #portiHelper.hidden
                        h3.wite Portfolio 
                            span.lst Helper
                        p Do not Know What To Write In Your Portfolio? Here are Few Tips
                        p Just the tips cause only you can tell the world who you really are ;) 
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 About You
                                .gbox__bod
                                    p Describe yourself detaily. About Who you are Porfessionally
                                    p If the theme | form has no your strength weakness option include these in about me section.
                            .gbox 
                                .gbox__head 
                                    h3 What You Do?
                                .gbox__bod
                                    p Describe What you professionally Do.  
                                    p Show you are fully aware of what you do and can handle the task if given in this position.
                            .gbox 
                                .gbox__head 
                                    h3 Why You Do it?
                                .gbox__bod
                                    p Describe Why you do what you professionally Do.  
                                    p Tell Why you do it? May be you love doing it, may be you were born for it, may be you see lots of money in this line of profession be honest and tell your story.
                            .gbox 
                                .gbox__head 
                                    h3 Your Failoure | Probelem You faced While Doing What you do?
                                .gbox__bod
                                    p Describe The time when you hit rock bottom and how you got yourself back up This kind of points shows how mentally strong you are, how you dont run away from your problems.  
                                    p If the form | Theme doesnt have this section feel free to add it in About me section.
                            .gbox 
                                .gbox__head 
                                    h3 Previous Work | Accomplishments
                                .gbox__bod
                                    p Describe What you have done, achieved so far in your line of carreer.  
                                    p If you have acheived nothing, flex out your certificates, degrees, your prides your glory days relevent to your profession.
                            .gbox 
                                .gbox__head 
                                    h3 Image Section
                                .gbox__bod
                                    p You can add image from add image section after creating your portfolio.
                                    p If your theme has cover image, To update your cover image go to update cover image button and you will be able to change your portfolio cover image.
                            .gbox 
                                .gbox__head 
                                    h3 Image Heading Section
                                .gbox__bod
                                    p Give your Image a heading or if you want to price your art work you can type in Rs. Amount  
                            .gbox
                                .gbox__head 
                                    h3 Access your portfolio
                                .gbox__bod
                                    p you can use the link copy paste it to browser and open your protfolio.
                                    p you can use my portfolio button to open your portfoio directly.
                                    p you can click generate qrcode button to get your portfolio qr code, just scan it and open your portfolio.
                        .link__helper 
                            h2 You Portfolio link will be 
                                span.mid.nocaps /yourusername
                            .link__format
                                p.porti_all_link vporti.com/user
                .darkgreen.padder#iHelper
                    .containr 
                        .second__half__cont
                            .second__half__head.to__left
                                h2 Party, Function 
                                    span.wite Solution
                                h2.gry Create 
                                    span.wite Unlimited Invitation
                                h2.gry Easy With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i
                            button#showInviHelper.shwbtn Invitation Helper
                        .first__half__cont 
                            h1.wite Invi
                                span.gry  tation 
                                span Helper
                    #portiinviHelper.hidden
                        h3.wite Invitation 
                            span.lst Helper
                        p Follow these steps below and you are all set!
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 First Person Name
                                .gbox__bod
                                    p Provide your name || Party Type (Birthday, House Party)
                            .gbox 
                                .gbox__head 
                                    h3 Second Person Name
                                .gbox__bod
                                    p If its your marriage or some function that include your mate, bud, use his or her name else use the organizer name 
                            .gbox 
                                .gbox__head 
                                    h3 Your Story
                                .gbox__bod
                                    p Story TIme, Tell your story, if marriage about your love life, if other function, describe about the function 
                            .gbox 
                                .gbox__head 
                                    h3 Venue
                                .gbox__bod
                                    p Place where you are organizing your party/function
                            .gbox 
                                .gbox__head 
                                    h3 Date
                                .gbox__bod
                                    p Function Date. when is the party 
                            .gbox 
                                .gbox__head 
                                    h3 Time onwards
                                .gbox__bod
                                    p At what time do you want your guests to arrive? fill In accordingly 
                            .gbox 
                                .gbox__head 
                                    h3 Phone Number
                                .gbox__bod
                                    p Just incase if your guests gets lost or wants more detail provide your phone number
                .darkgreen.padder#mHelper
                    .containr 
                        .first__half__cont 
                            h1.wite Menu 
                                span.gry Helper
                        .second__half__cont
                            .second__half__head
                                h2 Food Spot 
                                    span.wite Solution
                                h2.gry Your Food 
                                    span.wite Showcase
                                h2 Keep Track Of Your Food Spot 
                                    span.wite Intel 
                                h2.wite Orders 
                                    span.gry Made
                                h2.wite Reservation 
                                    span.gry Made
                                h2.gry Grow With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i
                            button#showMenuHelper.shwbtn Menu Helper
                    #portimenuHelper.hidden
                        h3.wite Food Menu 
                            span.lst Helper
                        h4 Creating a Food Spot
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 Food Spot Name
                                .gbox__bod
                                    p Your registered Food Spot Name.
                            .gbox 
                                .gbox__head 
                                    h3 Food Spot Address
                                .gbox__bod
                                    p Provide your food spot location.
                            .gbox 
                                .gbox__head 
                                    h3 Food Spot Slogan
                                .gbox__bod
                                    p If your food spot has any slogan you can use it but this field is optional you can leave it blank.
                        h4 Adding Items to Menu.
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 Food Name
                                .gbox__bod
                                    p First give your food a name.
                            .gbox
                                .gbox__head 
                                    h3 Food Price 
                                .gbox__bod 
                                    p Please provide a price to your food. You can use Rs. 150 or $150 your country currency and price.
                            .gbox 
                                .gbox__head 
                                    h3 Food Category 
                                .gbox__bod 
                                    p In category section use the category of the food, "Burger", "Pizza".
                                    p Use same category "Burger" for all burgers ("chicken burger", "veg buger"). Note: the category spelling must be exactly same. you cant use burger for chicken burger and burgers for veg burger. use the same spelling.
                            .gbox   
                                .gbox__head 
                                    h3 Food Details 
                                .gbox__bod
                                    p Detail section is optional you can add detail of the food you are presenting or you can just leave it blank. 
                            .gbox 
                                .gbox__head 
                                    h3 Food Image 
                                .gbox__bod
                                    p Food Image section, its more appealing if you provide the exact image to the food.
                            .gbox
                                .gbox__head 
                                    h3 Access your menu
                                .gbox__bod
                                    p you can use the link copy paste it to browser and open your menu.
                                    p you can use my menu button to open your menu directly.
                                    p you can click generate qrcode button to get your menu qr code, just scan it and open your menu.
                        .link__helper 
                            h2 You Menu link will be 
                                span.mid.nocaps /yourusername
                            .link__format
                                p.porti_all_link vporti.com/user
                .padder.darkgreen#cHelper
                    .containr 
                        .second__half__cont
                            .second__half__head.to__left
                                h2 Your Product 
                                    span.wite Solution
                                h2.gry Your Product 
                                    span.wite Showcase
                                h2 Your Business 
                                    span.wite Growth
                                h2 Keep Track Of Your Business 
                                    span.wite Intel 
                                h2.wite Orders 
                                    span.gry Made
                                h2.wite Return 
                                    span.gry Requested
                                h2.gry Grow With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i
                            button#showCatalogHelper.shwbtn Catalog Helper
                        .first__half__cont 
                            h1.wite Cata  
                                span.gry log  
                                span.gry Helper
                    #porticatalogeHelper.hidden
                        h3.wite Cataloge 
                            span.lst Helper
                        h4 Creating a Company 
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 Company Name
                                .gbox__bod
                                    p Your Registered Company name.
                            .gbox 
                                .gbox__head 
                                    h3 Company Email
                                .gbox__bod
                                    p Your Company Email Address.
                            .gbox 
                                .gbox__head 
                                    h3 Company Social Account Link
                                .gbox__bod
                                    p Your company social media link where people can find you. Like Facebook, LinkediN, instagram, twitter etc.
                            .gbox 
                                .gbox__head 
                                    h3 Company Address
                                .gbox__bod
                                    p Your Company Location.
                            .gbox 
                                .gbox__head 
                                    h3 Company Address Link
                                .gbox__bod
                                    p This field is a optional field but if you want to add then copy your location link from map and paste it here. It will help people find you easily.
                            .gbox 
                                .gbox__head 
                                    h3 Company Contact
                                .gbox__bod
                                    p Your Company Contact details, phone number or mobile number.
                            .gbox 
                                .gbox__head 
                                    h3 Company Slogan
                                .gbox__bod
                                    p This field is a optional field so if only if your company is using a slong add it here.
                        h4 Adding Items to your Cataloge.
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 Product Name
                                .gbox__bod
                                    p First give your product a name
                            .gbox 
                                .gbox__head 
                                    h3 Product Price
                                .gbox__bod
                                    p Please provide a price to your prodct. You can use Rs. 150 or $150 your country currency and price.
                            .gbox 
                                .gbox__head 
                                    h3 Product Serial No.
                                .gbox__bod
                                    p If your product has a serial no then use it else. you can leave it blank.
                            .gbox 
                                .gbox__head 
                                    h3 Product Category
                                .gbox__bod
                                    p In the category section use your product category, "Tiles" for all the types of tiles. the category spelling for all the tiles must be same, you cant use tile for porcelian tile and tiles for graphite tile. if you want all the different tiles to show up in same tiles use the same spelling.
                            .gbox 
                                .gbox__head 
                                    h3 Product Sub-Category
                                .gbox__bod
                                    p In sub-category section use your product sub category, if it belongs to "Tiles" and its sub category can be "porcelian tile". please use the same spelling for all types of porcelian tile, so that it show up in porcelian tile when user clicks it.
                            .gbox 
                                .gbox__head 
                                    h3 Product Detail
                                .gbox__bod
                                    p item detail is a optional field if you want to add detail about the product then use it else you can leave it blank.
                            .gbox 
                                .gbox__head 
                                    h3 Product Image
                                .gbox__bod
                                    p item image section, it helps user to see what the product looks like so its good to use the product image.
                            .gbox
                                .gbox__head 
                                    h3 Access your cataloge
                                .gbox__bod
                                    p you can use the link copy paste it to browser and open your cataloge.
                                    p you can use my cataloge button to open your cataloge directly.
                                    p you can click generate qrcode button to get your cataloge qr code, just scan it and open your cataloge.
                        .link__helper 
                            h2 You Catalog link will be 
                                span.mid.nocaps /yourusername
                            .link__format
                                p.porti_all_link vporti.com/user
                .padder.darkgreen#bHelper
                    .containr 
                        .second__half__cont
                            .second__half__head.to__left
                                h2 Your Product 
                                    span.wite Solution
                                h2.gry Your Hotel 
                                    span.wite Showcase
                                h2 Your Business 
                                    span.wite Growth
                                h2 Keep Track Of Your Business 
                                    span.wite Intel
                                h2.wite Bookings 
                                    span.gry Made
                                h2.gry Grow With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i
                            button#showBrochureHelper.shwbtn Brochure Helper
                        .first__half__cont 
                            h1.wite Bro  
                                span.gry chure  
                                span.gry Helper
                    #portibrochureHelper.hidden
                        h3.wite Brochure 
                            span.lst Helper
                        h4 Creating a Organization 
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 Name
                                .gbox__bod
                                    p Your Registered Organization Name.
                            .gbox 
                                .gbox__head 
                                    h3 Email
                                .gbox__bod
                                    p Your Organization Email Address.
                            .gbox 
                                .gbox__head 
                                    h3 Organization Social Account Link
                                .gbox__bod
                                    p Your Organization social media link where people can find you. Like Facebook, LinkediN, instagram, twitter etc.
                            .gbox 
                                .gbox__head 
                                    h3 Organization Address
                                .gbox__bod
                                    p Your Organization Location.
                            .gbox 
                                .gbox__head 
                                    h3 Organization Address Link
                                .gbox__bod
                                    p This field is a optional field but if you want to add then copy your location link from map and paste it here. It will help people find you easily.
                            .gbox 
                                .gbox__head 
                                    h3 Organization Contact
                                .gbox__bod
                                    p Your Organization Contact details, phone number or mobile number.
                            .gbox 
                                .gbox__head 
                                    h3 Organization Slogan
                                .gbox__bod
                                    p This field is a optional field so if only if your company is using a slong add it here.
                        h4 Adding Items to your Brochure.
                        .guide__box
                            .gbox 
                                .gbox__head 
                                    h3 Product Name
                                .gbox__bod
                                    p First give your product a name
                            .gbox 
                                .gbox__head 
                                    h3 Product Price
                                .gbox__bod
                                    p Please provide a price to your prodct. You can use Rs. 150 or $150 your country currency and price.
                            .gbox 
                                .gbox__head 
                                    h3 Product Detail
                                .gbox__bod
                                    p item detail is a optional field if you want to add detail about the product then use it else you can leave it blank.
                            .gbox 
                                .gbox__head 
                                    h3 Product Image
                                .gbox__bod
                                    p item image section, it helps user to see what the product looks like so its good to use the product image.
                            .gbox
                                .gbox__head 
                                    h3 Access your Brochure
                                .gbox__bod
                                    p you can use the link copy paste it to browser and open your Brochure.
                                    p you can use my Brochure button to open your Brochure directly.
                                    p you can click generate qrcode button to get your Brochure qr code, just scan it and open your cataloge.
                        .link__helper 
                            h2 You Brochure link will be 
                                span.mid.nocaps /yourusername
                            .link__format
                                p.porti_all_link vporti.com/user
                .padder.darkgreen#aTM
                    .containr 
                        .first__half__cont 
                            h1 About 
                                span.maf Lakhey  
                                span.gry De 
                                span.wite Tech
                        .second__half__cont
                            .second__half__head
                                h2.gry Easy With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i 
                                h2.gry Grow With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i
                                h2.gry Free With 
                                    span.wite vPOR
                                    span.grn T
                                    span.wite.nocaps i
                            button#showLDT.shwbtn Show More
                    #aboutTM.hidden
                        h2.gry About 
                            span.maf Lakhey 
                                span.gry De 
                                    span.mid Tech
                        p Lakhey De Tech is the creator of 
                            span.wite vPOR
                            span.grn T
                            span.wite i. 
                        h3 What Lakhey De Tech Do?
                        ul 
                            li Lakhey De Tech is constantly creating new Themes || skin and new features.  
                            li Lakhey De Tech will add new features in our updates to make things easy for you.
                        h3 What Lakhey De Tech Do It For?
                        ul 
                            li Lakhey De Tech is in it For You!!!
                        h3 Copyright Notice 
                        p The entire vPorti.com Web Site is Copyright © 2022 by Lakhey De Tech. All Rights Reserved. The vporti.com site may not be copied or duplicated in whole or part by any means without express prior agreement in writing or unless specifically noted on the site.
                        p Some photographs, icons contained on the site may be the copyrighted property of others; acknowledgement of those copyrights is hereby given. All such material is used with the permission of the owner. 
                .padder.darkgreen#cTM
                    .containr 
                        .second__half__cont
                            .second__half__head.to__left
                                h2.gry Feel Free To Text Lakhey De Tech 
                                h2 Lakhey De Tech is Here For You
                            button#showContactTM.shwbtn Message Lakhey De Tech
                        .first__half__cont 
                            h1 Reach 
                                span.maf Lakhey 
                                span.gry De 
                                span.wite Tech
                    #contactTM.hidden
                        h2.gry Contact 
                            span.maf Lakhey 
                                span.gry De 
                                    span.mid Tech
                        if (!user)
                            p You need to Login || SignUp to message.  
                            br  
                            a.greybtn(href="/account/login") Login || SignUp
                            .send__msg 
                            .loader.hidden
                        else
                            p Please feel free to rate, give Lakhey De Tech your valuable feedback. Your feedbacks will help vPorti get better ;)
                            .sender
                                .msg-form
                                    h3.heading-secondary.ma-bt-lg Send Message To Lakhey De Tech
                                    form.msg__form
                                        label.form__label(for='name') Name
                                        input#msgname.form__input(type='text', name="name", value=user.name, disabled,  required)
                                        label.form__label(for='email') Email address
                                        input#msgemail.form__input(type='email', name="email", value=user.email, disabled, required)
                                        label.form__label(for='siteType') Query Type 
                                        select.form__select(type='select', name="siteType", id="siteType")
                                                option(value="query") Query
                                                option(value="review") Review
                                                option(value="bug") Bug report 
                                                option(value="payment") Payment Problem 
                                                option(value="theme") Theme Problem
                                                option(value="unlock") Theme Unlock Problem 
                                                option(value="Other") Other
                                        label.form__label(for='message') Message 
                                        textarea#msgmessage.form__input(type="text", name="message", placeholder="vPorti is this and that...", rows="5", cols="40", required)
                                        .form__group
                                        button.send__msg.greybtn Send
                .fot_sec
                    include _footer
        
        a.go__top(href="#" title="go to top")
            h1 &#916;

        .new__signup__sec.hidden 
            .signupbod
                .signup__name__sec.signup__innersec
                    h3 Enter Your UserName 
                    p.gry.infotag Please Do Not Use SPACE, or any special characters ~`!#$%^&*+=-[]\\\';,/{}|\":<>?
                    input#m_name.signup__input(type="text" placeholder="username")
                    p.validinfo.infotag.gry.hidden.bink validating username....
                    .toemailsec.signupbtn.circle &#8921;
                .signup__email__sec.hidden.signup__innersec
                    h3 Enter Your Email Address
                    input#m_email.signup__input(type="email" placeholder="you@email.com")
                    p.validemail.infotag.gry.hidden.bink validating email....
                    .btnGroup
                        .toname.signupbtn.circle &#8920;
                        .topasssec.signupbtn.circle &#8921;
                    p.grn.infotag 40% complete
                .signup__password__sec.hidden.signup__innersec 
                    h3 Enter Your Password 
                    p.gry Password must be 9 Characters Long
                    input#m_password.signup__input(type="password" placeholder="*********")
                    h3 Confirm Password 
                    input#passwordConfirm.signup__input(type="password" placeholder="*********")
                    .btnGroup
                        .toemailad.signupbtn.circle &#8920;
                        .tocountrysec.signupbtn.circle &#8921;
                    p.grn.infotag 60% complete
                .signup__country__sec.hidden.signup__innersec 
                    h3 Select Your Country 
                    select#country(name="country")
                        <option value="0" label="Select a country ... " selected="selected">Select A Country ... </option>
                        <optgroup id="country-optgroup-Africa" label="Africa">
                            <option value="DZ" label="Algeria">Algeria</option>
                            <option value="AO" label="Angola">Angola</option>
                            <option value="BJ" label="Benin">Benin</option>
                            <option value="BW" label="Botswana">Botswana</option>
                            <option value="BF" label="Burkina Faso">Burkina Faso</option>
                            <option value="BI" label="Burundi">Burundi</option>
                            <option value="CM" label="Cameroon">Cameroon</option>
                            <option value="CV" label="Cape Verde">Cape Verde</option>
                            <option value="CF" label="Central African Republic">Central African Republic</option>
                            <option value="TD" label="Chad">Chad</option>
                            <option value="KM" label="Comoros">Comoros</option>
                            <option value="CG" label="Congo - Brazzaville">Congo - Brazzaville</option>
                            <option value="CD" label="Congo - Kinshasa">Congo - Kinshasa</option>
                            <option value="CI" label="Côte d’Ivoire">Côte d’Ivoire</option>
                            <option value="DJ" label="Djibouti">Djibouti</option>
                            <option value="EG" label="Egypt">Egypt</option>
                            <option value="GQ" label="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="ER" label="Eritrea">Eritrea</option>
                            <option value="ET" label="Ethiopia">Ethiopia</option>
                            <option value="GA" label="Gabon">Gabon</option>
                            <option value="GM" label="Gambia">Gambia</option>
                            <option value="GH" label="Ghana">Ghana</option>
                            <option value="GN" label="Guinea">Guinea</option>
                            <option value="GW" label="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="KE" label="Kenya">Kenya</option>
                            <option value="LS" label="Lesotho">Lesotho</option>
                            <option value="LR" label="Liberia">Liberia</option>
                            <option value="LY" label="Libya">Libya</option>
                            <option value="MG" label="Madagascar">Madagascar</option>
                            <option value="MW" label="Malawi">Malawi</option>
                            <option value="ML" label="Mali">Mali</option>
                            <option value="MR" label="Mauritania">Mauritania</option>
                            <option value="MU" label="Mauritius">Mauritius</option>
                            <option value="YT" label="Mayotte">Mayotte</option>
                            <option value="MA" label="Morocco">Morocco</option>
                            <option value="MZ" label="Mozambique">Mozambique</option>
                            <option value="NA" label="Namibia">Namibia</option>
                            <option value="NE" label="Niger">Niger</option>
                            <option value="NG" label="Nigeria">Nigeria</option>
                            <option value="RW" label="Rwanda">Rwanda</option>
                            <option value="RE" label="Réunion">Réunion</option>
                            <option value="SH" label="Saint Helena">Saint Helena</option>
                            <option value="SN" label="Senegal">Senegal</option>
                            <option value="SC" label="Seychelles">Seychelles</option>
                            <option value="SL" label="Sierra Leone">Sierra Leone</option>
                            <option value="SO" label="Somalia">Somalia</option>
                            <option value="ZA" label="South Africa">South Africa</option>
                            <option value="SD" label="Sudan">Sudan</option>
                            <option value="SZ" label="Swaziland">Swaziland</option>
                            <option value="ST" label="São Tomé and Príncipe">São Tomé and Príncipe</option>
                            <option value="TZ" label="Tanzania">Tanzania</option>
                            <option value="TG" label="Togo">Togo</option>
                            <option value="TN" label="Tunisia">Tunisia</option>
                            <option value="UG" label="Uganda">Uganda</option>
                            <option value="EH" label="Western Sahara">Western Sahara</option>
                            <option value="ZM" label="Zambia">Zambia</option>
                            <option value="ZW" label="Zimbabwe">Zimbabwe</option>
                        </optgroup>
                        <optgroup id="country-optgroup-Americas" label="Americas">
                            <option value="AI" label="Anguilla">Anguilla</option>
                            <option value="AG" label="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="AR" label="Argentina">Argentina</option>
                            <option value="AW" label="Aruba">Aruba</option>
                            <option value="BS" label="Bahamas">Bahamas</option>
                            <option value="BB" label="Barbados">Barbados</option>
                            <option value="BZ" label="Belize">Belize</option>
                            <option value="BM" label="Bermuda">Bermuda</option>
                            <option value="BO" label="Bolivia">Bolivia</option>
                            <option value="BR" label="Brazil">Brazil</option>
                            <option value="VG" label="British Virgin Islands">British Virgin Islands</option>
                            <option value="CA" label="Canada">Canada</option>
                            <option value="KY" label="Cayman Islands">Cayman Islands</option>
                            <option value="CL" label="Chile">Chile</option>
                            <option value="CO" label="Colombia">Colombia</option>
                            <option value="CR" label="Costa Rica">Costa Rica</option>
                            <option value="CU" label="Cuba">Cuba</option>
                            <option value="DM" label="Dominica">Dominica</option>
                            <option value="DO" label="Dominican Republic">Dominican Republic</option>
                            <option value="EC" label="Ecuador">Ecuador</option>
                            <option value="SV" label="El Salvador">El Salvador</option>
                            <option value="FK" label="Falkland Islands">Falkland Islands</option>
                            <option value="GF" label="French Guiana">French Guiana</option>
                            <option value="GL" label="Greenland">Greenland</option>
                            <option value="GD" label="Grenada">Grenada</option>
                            <option value="GP" label="Guadeloupe">Guadeloupe</option>
                            <option value="GT" label="Guatemala">Guatemala</option>
                            <option value="GY" label="Guyana">Guyana</option>
                            <option value="HT" label="Haiti">Haiti</option>
                            <option value="HN" label="Honduras">Honduras</option>
                            <option value="JM" label="Jamaica">Jamaica</option>
                            <option value="MQ" label="Martinique">Martinique</option>
                            <option value="MX" label="Mexico">Mexico</option>
                            <option value="MS" label="Montserrat">Montserrat</option>
                            <option value="AN" label="Netherlands Antilles">Netherlands Antilles</option>
                            <option value="NI" label="Nicaragua">Nicaragua</option>
                            <option value="PA" label="Panama">Panama</option>
                            <option value="PY" label="Paraguay">Paraguay</option>
                            <option value="PE" label="Peru">Peru</option>
                            <option value="PR" label="Puerto Rico">Puerto Rico</option>
                            <option value="BL" label="Saint Barthélemy">Saint Barthélemy</option>
                            <option value="KN" label="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="LC" label="Saint Lucia">Saint Lucia</option>
                            <option value="MF" label="Saint Martin">Saint Martin</option>
                            <option value="PM" label="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                            <option value="VC" label="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="SR" label="Suriname">Suriname</option>
                            <option value="TT" label="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="TC" label="Turks and Caicos Islands">Turks and Caicos Islands</option>
                            <option value="VI" label="U.S. Virgin Islands">U.S. Virgin Islands</option>
                            <option value="US" label="United States">United States</option>
                            <option value="UY" label="Uruguay">Uruguay</option>
                            <option value="VE" label="Venezuela">Venezuela</option>
                        </optgroup>
                        <optgroup id="country-optgroup-Asia" label="Asia">
                            <option value="AF" label="Afghanistan">Afghanistan</option>
                            <option value="AM" label="Armenia">Armenia</option>
                            <option value="AZ" label="Azerbaijan">Azerbaijan</option>
                            <option value="BH" label="Bahrain">Bahrain</option>
                            <option value="BD" label="Bangladesh">Bangladesh</option>
                            <option value="BT" label="Bhutan">Bhutan</option>
                            <option value="BN" label="Brunei">Brunei</option>
                            <option value="KH" label="Cambodia">Cambodia</option>
                            <option value="CN" label="China">China</option>
                            <option value="GE" label="Georgia">Georgia</option>
                            <option value="HK" label="Hong Kong SAR China">Hong Kong SAR China</option>
                            <option value="IN" label="India">India</option>
                            <option value="ID" label="Indonesia">Indonesia</option>
                            <option value="IR" label="Iran">Iran</option>
                            <option value="IQ" label="Iraq">Iraq</option>
                            <option value="IL" label="Israel">Israel</option>
                            <option value="JP" label="Japan">Japan</option>
                            <option value="JO" label="Jordan">Jordan</option>
                            <option value="KZ" label="Kazakhstan">Kazakhstan</option>
                            <option value="KW" label="Kuwait">Kuwait</option>
                            <option value="KG" label="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="LA" label="Laos">Laos</option>
                            <option value="LB" label="Lebanon">Lebanon</option>
                            <option value="MO" label="Macau SAR China">Macau SAR China</option>
                            <option value="MY" label="Malaysia">Malaysia</option>
                            <option value="MV" label="Maldives">Maldives</option>
                            <option value="MN" label="Mongolia">Mongolia</option>
                            <option value="MM" label="Myanmar [Burma]">Myanmar [Burma]</option>
                            <option value="NP" label="Nepal">Nepal</option>
                            <option value="NT" label="Neutral Zone">Neutral Zone</option>
                            <option value="KP" label="North Korea">North Korea</option>
                            <option value="OM" label="Oman">Oman</option>
                            <option value="PK" label="Pakistan">Pakistan</option>
                            <option value="PS" label="Palestinian Territories">Palestinian Territories</option>
                            <option value="YD" label="People's Democratic Republic of Yemen">People's Democratic Republic of Yemen</option>
                            <option value="PH" label="Philippines">Philippines</option>
                            <option value="QA" label="Qatar">Qatar</option>
                            <option value="SA" label="Saudi Arabia">Saudi Arabia</option>
                            <option value="SG" label="Singapore">Singapore</option>
                            <option value="KR" label="South Korea">South Korea</option>
                            <option value="LK" label="Sri Lanka">Sri Lanka</option>
                            <option value="SY" label="Syria">Syria</option>
                            <option value="TW" label="Taiwan">Taiwan</option>
                            <option value="TJ" label="Tajikistan">Tajikistan</option>
                            <option value="TH" label="Thailand">Thailand</option>
                            <option value="TL" label="Timor-Leste">Timor-Leste</option>
                            <option value="TR" label="Turkey">Turkey</option>
                            <option value="TM" label="Turkmenistan">Turkmenistan</option>
                            <option value="AE" label="United Arab Emirates">United Arab Emirates</option>
                            <option value="UZ" label="Uzbekistan">Uzbekistan</option>
                            <option value="VN" label="Vietnam">Vietnam</option>
                            <option value="YE" label="Yemen">Yemen</option>
                        </optgroup>
                        <optgroup id="country-optgroup-Europe" label="Europe">
                            <option value="AL" label="Albania">Albania</option>
                            <option value="AD" label="Andorra">Andorra</option>
                            <option value="AT" label="Austria">Austria</option>
                            <option value="BY" label="Belarus">Belarus</option>
                            <option value="BE" label="Belgium">Belgium</option>
                            <option value="BA" label="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="BG" label="Bulgaria">Bulgaria</option>
                            <option value="HR" label="Croatia">Croatia</option>
                            <option value="CY" label="Cyprus">Cyprus</option>
                            <option value="CZ" label="Czech Republic">Czech Republic</option>
                            <option value="DK" label="Denmark">Denmark</option>
                            <option value="DD" label="East Germany">East Germany</option>
                            <option value="EE" label="Estonia">Estonia</option>
                            <option value="FO" label="Faroe Islands">Faroe Islands</option>
                            <option value="FI" label="Finland">Finland</option>
                            <option value="FR" label="France">France</option>
                            <option value="DE" label="Germany">Germany</option>
                            <option value="GI" label="Gibraltar">Gibraltar</option>
                            <option value="GR" label="Greece">Greece</option>
                            <option value="GG" label="Guernsey">Guernsey</option>
                            <option value="HU" label="Hungary">Hungary</option>
                            <option value="IS" label="Iceland">Iceland</option>
                            <option value="IE" label="Ireland">Ireland</option>
                            <option value="IM" label="Isle of Man">Isle of Man</option>
                            <option value="IT" label="Italy">Italy</option>
                            <option value="JE" label="Jersey">Jersey</option>
                            <option value="LV" label="Latvia">Latvia</option>
                            <option value="LI" label="Liechtenstein">Liechtenstein</option>
                            <option value="LT" label="Lithuania">Lithuania</option>
                            <option value="LU" label="Luxembourg">Luxembourg</option>
                            <option value="MK" label="Macedonia">Macedonia</option>
                            <option value="MT" label="Malta">Malta</option>
                            <option value="FX" label="Metropolitan France">Metropolitan France</option>
                            <option value="MD" label="Moldova">Moldova</option>
                            <option value="MC" label="Monaco">Monaco</option>
                            <option value="ME" label="Montenegro">Montenegro</option>
                            <option value="NL" label="Netherlands">Netherlands</option>
                            <option value="NO" label="Norway">Norway</option>
                            <option value="PL" label="Poland">Poland</option>
                            <option value="PT" label="Portugal">Portugal</option>
                            <option value="RO" label="Romania">Romania</option>
                            <option value="RU" label="Russia">Russia</option>
                            <option value="SM" label="San Marino">San Marino</option>
                            <option value="RS" label="Serbia">Serbia</option>
                            <option value="CS" label="Serbia and Montenegro">Serbia and Montenegro</option>
                            <option value="SK" label="Slovakia">Slovakia</option>
                            <option value="SI" label="Slovenia">Slovenia</option>
                            <option value="ES" label="Spain">Spain</option>
                            <option value="SJ" label="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                            <option value="SE" label="Sweden">Sweden</option>
                            <option value="CH" label="Switzerland">Switzerland</option>
                            <option value="UA" label="Ukraine">Ukraine</option>
                            <option value="SU" label="Union of Soviet Socialist Republics">Union of Soviet Socialist Republics</option>
                            <option value="GB" label="United Kingdom">United Kingdom</option>
                            <option value="VA" label="Vatican City">Vatican City</option>
                            <option value="AX" label="Åland Islands">Åland Islands</option>
                        </optgroup>
                        <optgroup id="country-optgroup-Oceania" label="Oceania">
                            <option value="AS" label="American Samoa">American Samoa</option>
                            <option value="AQ" label="Antarctica">Antarctica</option>
                            <option value="AU" label="Australia">Australia</option>
                            <option value="BV" label="Bouvet Island">Bouvet Island</option>
                            <option value="IO" label="British Indian Ocean Territory">British Indian Ocean Territory</option>
                            <option value="CX" label="Christmas Island">Christmas Island</option>
                            <option value="CC" label="Cocos [Keeling] Islands">Cocos [Keeling] Islands</option>
                            <option value="CK" label="Cook Islands">Cook Islands</option>
                            <option value="FJ" label="Fiji">Fiji</option>
                            <option value="PF" label="French Polynesia">French Polynesia</option>
                            <option value="TF" label="French Southern Territories">French Southern Territories</option>
                            <option value="GU" label="Guam">Guam</option>
                            <option value="HM" label="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                            <option value="KI" label="Kiribati">Kiribati</option>
                            <option value="MH" label="Marshall Islands">Marshall Islands</option>
                            <option value="FM" label="Micronesia">Micronesia</option>
                            <option value="NR" label="Nauru">Nauru</option>
                            <option value="NC" label="New Caledonia">New Caledonia</option>
                            <option value="NZ" label="New Zealand">New Zealand</option>
                            <option value="NU" label="Niue">Niue</option>
                            <option value="NF" label="Norfolk Island">Norfolk Island</option>
                            <option value="MP" label="Northern Mariana Islands">Northern Mariana Islands</option>
                            <option value="PW" label="Palau">Palau</option>
                            <option value="PG" label="Papua New Guinea">Papua New Guinea</option>
                            <option value="PN" label="Pitcairn Islands">Pitcairn Islands</option>
                            <option value="WS" label="Samoa">Samoa</option>
                            <option value="SB" label="Solomon Islands">Solomon Islands</option>
                            <option value="GS" label="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                            <option value="TK" label="Tokelau">Tokelau</option>
                            <option value="TO" label="Tonga">Tonga</option>
                            <option value="TV" label="Tuvalu">Tuvalu</option>
                            <option value="UM" label="U.S. Minor Outlying Islands">U.S. Minor Outlying Islands</option>
                            <option value="VU" label="Vanuatu">Vanuatu</option>
                            <option value="WF" label="Wallis and Futuna">Wallis and Futuna</option>
                        </optgroup> 
                    .terms__cond
                        input#termbox(type="checkbox", required)
                        label#termsandcond I agree to all of the given Terms and Conditions
                    .topassw.signupbtn.circle &#8920;
                    button#signmeup.signupbtn Sign Up
                    p.grn.infotag 80% complete
                p.same__user__warn.maf.hidden User with this name already exits. Please use a different one!
                p.white__space.maf.hidden You cannot use space in name!!!
                p.unallowed__charc.maf.hidden special characters ~`!#$%^&*+=-[]\\\';,/{}|\":<>? are not allowed
                p.same__email__warn.maf.hidden Email already in Use. Please use a different one or go to 
                    a(href="/account/login") Forgot Password!
                
        .termsandconditions.hidden 
            .term__main
                .terms__head
                    h1 Terms and Conditions
                    img#termCancel.pointer(src="/images/cancel.png" alt="cancel_img") 
                .terms__bod
                    h2 Welcome to Vporti
                    p These terms of service outline the rules and regulations for the use of Vporti's Website.
                    p By accessing this website we assume you accept these terms of service in full. Do not continue to use 
                        span Vporti's website if you do not accept all of the terms of service stated on this page.
                    p The following terminology applies to these Terms of Service, Privacy Statement and Disclaimer Notice and 
                        span any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website
                        span and accepting the Company's terms of service. "The Company", "Ourselves", "We", "Our" and "Us", refers
                        span to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client
                        span or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
                        span the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
                        span of a fixed duration, or any other means, for the express purpose of meeting the Client's needs in respect
                        span of provision of the Company's stated services/products, in accordance with and subject to, prevailing law
                        span of . Any use of the above terminology or other words in the singular, plural,
                        span capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                    h2 Cookies 
                    p We employ the use of cookies. By using Vporti's website you consent to the use of cookies
                        span in accordance with Vporti's privacy policy.
                    p Most of the modern day interactive web sites
                        span use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
                        span to enable the functionality of this area and ease of use for those people visiting. Some of our
                        span affiliate / advertising partners may also use cookies.


                    h2 License
                    p Unless otherwise stated, Vporti and/or it's licensors own the intellectual property rights for
                        span all material on Vporti. All intellectual property rights are reserved. You may view and/or print
                        span pages from www.vporti.com for your own personal use subject to restrictions set in these terms of service.
                    p You must not:
                    ol
                        li Republish material from www.vporti.com
                        li Sell, rent or sub-license material from www.vporti.com
                        li Reproduce, duplicate or copy material from www.vporti.com
                    p Redistribute content from Vporti (unless content is specifically made for redistribution).


                    h2 User Comments
                    ol
                        li This Agreement shall begin on the date hereof.
                        li Certain parts of this website offer the opportunity for users to post and exchange opinions, information,
                            span material and data ('Comments') in areas of the website. Vporti does not screen, edit, publish
                            span or review Comments prior to their appearance on the website and Comments do not reflect the views or
                            span opinions of Vporti, its agents or affiliates. Comments reflect the view and opinion of the
                            span person who posts such view or opinion. To the extent permitted by applicable laws Vporti shall
                            span not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused
                            span and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this
                            span website.
                        li Vporti reserves the right to monitor all Comments and to remove any Comments which it considers
                            span in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms of Service.
                        li You warrant and represent that:
                            ol
                                li You are entitled to post the Comments on our website and have all necessary licenses and consents to
                                    span do so;
                                li The Comments do not infringe any intellectual property right, including without limitation copyright,
                                    span patent or trademark, or other proprietary right of any third party;
                                li The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material
                                    span or material which is an invasion of privacy
                                li The Comments will not be used to solicit or promote business or custom or present commercial activities
                                    span or unlawful activity.
                        li
                        li You hereby grant to 
                            strong Vporti 
                            span a non-exclusive royalty-free license to use, reproduce,
                            span edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats
                            span or media.
                    h2 Hyperlinking to our Content
                    ol
                        li The following organizations may link to our Web site without prior written approval:
                            ol
                                li Government agencies;
                                li Search engines;
                                li News organizations;
                                li Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink to the Web sites of other listed businesses; and
                                li Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.
                    ol(start="2")
                        li These organizations may link to our home page, to publications or to other Web site information so long
                            span as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or
                            span approval of the linking party and its products or services; and (c) fits within the context of the linking
                            span party's site.
                        li We may consider and approve in our sole discretion other link requests from the following types of organizations:
                            ol
                                li commonly-known consumer and/or business information sources such as Chambers of Commerce, American
                                    span Automobile Association, AARP and Consumers Union;
                                li dot.com community sites;
                                li associations or other groups representing charities, including charity giving sites,
                                li online directory distributors;
                                li internet portals;
                                li accounting, law and consulting firms whose primary clients are businesses; and
                                li educational institutions and trade associations.
                    p We will approve link requests from these organizations if we determine that: (a) the link would not reflect
                        span unfavorably on us or our accredited businesses (for example, trade associations or other organizations
                        span representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
                        span to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from
                        span the visibility associated with the hyperlink outweighs the absence of Vporti; and (d) where the
                        span link is in the context of general resource information or is otherwise consistent with editorial content
                        span in a newsletter or similar product furthering the mission of the organization.

                    p These organizations may link to our home page, to publications or to other Web site information so long as
                        span the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval
                        span of the linking party and it products or services; and (c) fits within the context of the linking party's
                        span site.

                    p If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
                        span you must notify us by sending an e-mail to 
                        a(href="mailto:lakheydetech@gmail.com" title="send an email to lakheydetech@gmail.com") lakheydetech@gmail.com.
                        span Please include your name, your organization name, contact information (such as a phone number and/or e-mail
                        span address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
                        span and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.

                    p Approved organizations may hyperlink to our Web site as follows:

                    ol
                        li By use of our corporate name; or
                        li By use of the uniform resource locator (Web address) being linked to; or
                        li By use of any other description of our Web site or material being linked to that makes sense within the
                            span context and format of content on the linking party's site.
                    p No use of Vporti's logo or other artwork will be allowed for linking absent a trademark license agreement.
                    h2 Iframes
                    p Without prior approval and express written permission, you may not create frames around our Web pages or
                        span use other techniques that alter in any way the visual presentation or appearance of our Web site.
                    h2 Content Liability
                    p We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
                        span and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
                        span page on your Web site or within any context containing content or materials that may be interpreted as
                        span libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
                        span other violation of, any third party rights.
                    h2 Reservation of Rights
                    p We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
                        span link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
                        span reserve the right to amend these terms of service and its linking policy at any time. By continuing
                        span to link to our Web site, you agree to be bound to and abide by these linking terms of service.
                    h2 Removal of links from our website
                    p If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
                        span us about this. We will consider requests to remove links but will have no obligation to do so or to respond
                        span directly to you.
                    p Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
                        span or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
                        span website is kept up to date.
                    h2 Disclaimer
                    p To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:
                    ol
                        li limit or exclude our or your liability for death or personal injury resulting from negligence;
                        li limit or exclude our or your liability for fraud or fraudulent misrepresentation;
                        li limit any of our or your liabilities in any way that is not permitted under applicable law; or
                        li exclude any of our or your liabilities that may not be excluded under applicable law.
                    p The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
                        span are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
                        span in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
                        span (including negligence) and for breach of statutory duty.
                    p To the extent that the website and the information and services on the website are provided free of charge,
                        span we will not be liable for any loss or damage of any nature.
                        span 
                            h2 Future Update
                            p Terms of use will be changed accordingly to update in application structure in future.
                            span Credit &amp; Contact Information
                    p This Terms of service page was created at 
                        span 
                            a(href="https://privacyterms.io/terms-conditions-generator/") privacyterms.io terms &amp; conditions generator. 
                        spanIf you have
                        span any queries regarding any of our terms, please contact us.
    script(src="/js/alert.js")
    script(src="/js/home.js")  
    script(src="/js/logout.js") 