extends base

block content
    .loader
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
    if (invites.length == "" || invites.length == null || invites.length == undefined)
        .confirm__pg 
            h1 You have not Created Any Invitation YET!!! Create One and Come Back 
            a.redbtn(href="/porti#crtInvi") Create One 
    else
        if (user)
            .port__nav
                .port__nav__first
                    a.port__head.act(href="/me")
                        if (user.photo)
                            img.userDp.profPic(src=`/images/users/${user.photo}`, alt="prof__pic", title=`${user.name}`)
                        else 
                            img.userDp.profPic.satProf(src="/images/hitman.png", alt="prof__pic", title=`${user.name}`)
                    a.port_sec_head.hm(href="/" title="home")
                        h1 Tech 
                            span Mafia
                    #logout.logout
                        img(src="/images/poweroff.png", alt="signout", title="logout")
                .port__nav__sub 
                    a.crpt(href="/porti" title="porti")
                        img(src="/images/plus.png", alt="view_port")
                    a.ypf(href=`/myportfolio/${user._id}` title="your portfolio")
                        img(src="/images/porti.png", alt="view_port")
                    a(href=`/menu/${user._id}/additemstomenu` title="your menu")
                        img(src="/images/menu.png", alt="items__menu")
                .breadcrumbs 
                        a.bdcb(href="#" title="All Invitation") You Are Here |
                        a.bdcb(href="/") Home 
                        a.bdcb(href="#") &#8680;  
                        a.bdcb(href="/porti") Porti 
                        a.bdcb(href="#") &#8680;  
                        a.cur(href="#") All Invitations
                .invi__grp
                    .card__main 
                        each invite in invites
                            if (invite.user.id == user._id)
                                a.card(href=`/myinvi/${invite._id}`)
                                    .card__head
                                        h1= invite.fname
                                        p View Invitation

        else
            .confirm__pg 
                h1 You are not logged In!
                a.redbtn(href="/login") LogIn

    script(src="/js/alert.js") 