extends baseinvi 

block content 
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
    if (user)
        if (user.id !== invite.user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= invite.user.name
                    p.portiuserid.hidden= invite.user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .msg__user__btn.hidden 
            .msg__dot.hidden
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= invite.user.name 
            p.portiuserid.hidden= invite.user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= invite.user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden
        .msg__user__btn.hidden 
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .invite__main 
        if (invite.imgs[0])
            img.mrg__cover(src=`${invite.imgs[0]}`, alt="cover__pic")
        else 
            img.mrg__cover(src="/images/bg.png" alt="cover__pic")
        .invite__main__sub
            h2.coupleName= invite.fname 
                span  &hearts; 
                    span= invite.sname
            h3.mrg__invi Invitation
            .invite__bod
                h3 Our Story 
                .invite__bod__cont
                    .invite__bod__abt
                        pre= invite.about
                    if (invite.imgs[1])
                        img.imgFull(src=`${invite.imgs[1]}`, loading="lazy", alt="snd__img")
                    else 
                        img.imgFull(src="/images/bg.png")
                if (invite.imgs[2])
                    h3 We keep this love in a Photograph :)
                .invite__bod__pic
                    if (invite.imgs[2])
                        img.imgFull(src=`${invite.imgs[2]}`, loading="lazy", alt="thrd__img")
                    if (invite.imgs[3])
                        img.imgFull(src=`${invite.imgs[3]}`, loading="lazy", alt="forth__img")
                    if (invite.imgs[4])
                        img.imgFull(src=`${invite.imgs[4]}`, loading="lazy", alt="fith__img")
                .invite__bod__details 
                    h4.partyDate= `Date: ${invite.pdate }`
                    h4.partyVenue= `Venue: ${invite.address}` 
                    h4.partyVenue= `Contact: ${invite.phn_no}` 
                    h4.partyTime= `Time: ${invite.ptime}`

    script(src="/js/alert.js") 
    script(src="/js/imgFull.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/usermsg.js") 


