extends baseinvi

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
    if (user)
        if (user.id !== invite.user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= invite.user.name
                    p.portiuserid.hidden= invite.user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .msg__user__btn.hidden 
            .msg__dot.hidden
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= invite.user.name 
            p.portiuserid.hidden= invite.user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= invite.user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden
        .msg__user__btn.hidden 
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .ini__invi__main 
        if (!invite.imgCover)
            img.invi__cover(src="/images/bg.png", alt="cover__img")
        else 
            img.invi__cover(src=`${invite.imgCover}`, alt="cover__img")
        .ini__invi__bod
            .ini__invi__head 
                h1= invite.fname
                h1.intation Invitation
            .ini__invi__bod__sub 
                h2= `${invite.fname} of ${invite.sname}`
            .ini__invi__abt
                p= invite.about
            .ini__invi__ven 
                h3= `Venue : ${invite.address}`
            .ini__invi__dat 
                h3= `Date : ${invite.pdate}`
            .ini__invi__tim 
                h3= `Time : ${invite.ptime}`
            .ini__invi__ven 
                h3= `Contact : ${invite.phn_no}`

    script(src="/js/alert.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/usermsg.js") 
