extends baseinvi

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
    .ini__invi__main 
        if (!invite.imgCover)
            img.invi__cover(src="/images/bg.png", alt="cover__img")
        else 
            img.invi__cover(src=`${invite.imgCover}`, alt="cover__img")
        .ini__invi__bod
            .ini__invi__head 
                h1= invite.fname
                h1.intation Invitation
            .ini__invi__bod__sub 
                h2= `${invite.fname} of ${invite.sname}`
            .ini__invi__abt
                p= invite.about
            .ini__invi__ven 
                h3= `Venue : ${invite.address}`
            .ini__invi__dat 
                h3= `Date : ${invite.pdate}`
            .ini__invi__tim 
                h3= `Time : ${invite.ptime}`
            .ini__invi__ven 
                h3= `Contact : ${invite.phn_no}`

    script(src="/js/alert.js") 
