extends baseinvi

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
    .pageCount.hidden= invite.pageCount
    .unqid.hidden= invite._id
    if (user)
        if (user.id !== invite.user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= invite.user.name
                    p.portiuserid.hidden= invite.user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .pageCount_sec
                p.opn Page Views : 
                    span= invite.pageCount
            .msg__user__btn.hidden 
            .msg__dot.hidden
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= invite.user.name 
            .portiuserid.hidden= invite.user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= invite.user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .third__invi__sec 
        .third__invi__card
            .third__invi__border 
                .third__invi__top-border
                    img.corner(src="/images/corner.jpg")
                    img.centre(src="/images/centr.png")
                    img.corner__right(src="/images/corner.jpg")
                .third__invi__half 
                    h1.third__invi__head Invitation
                    .eighth__invi__abt
                        p= invite.about
                .third__invi__sechalf
                    .eighth__invi__bod__sub 
                        h3= `${invite.fname} of `
                            span.skin= invite.sname
                    .eighth__invi__ven 
                        h4= `Venue : ${invite.address}`
                    .eighth__invi__dat 
                        h4= `Date : ${invite.pdate}`
                    .eighth__invi__tim 
                        h4= `Time : ${invite.ptime}`
                    .eighth__invi__ven 
                        h4= `Contact : ${invite.phn_no}`
                .third__invi__bottom-border
                    img.corner-bottom(src="/images/corner.jpg")
                    img.centre__bottom(src="/images/centr.png")
                    img.corner__right-bottom(src="/images/corner.jpg")

    script(src="/js/alert.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/usermsg.js") 
    script(src="/js/upinvi/invi.js") 