extends baseMenu 

block content
    .loader
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
    .first__menu__bod
        .menu__border
            .menu__secborder
                if (restro[0])
                    h1.menu__head.res__name= restro[0].name
                    p.menu__head.res__add= restro[0].Address
                h1.menu__head Me n u
                form.search
                    input.searchbar(type="text", required, placeholder="Search Items...")
                button(type="button" name="darkmode").darkmode 
                    img(src="/images/on.png" alt="darkmode__image")
                if (restro[0])
                    p.menu__head.res__slogan= restro[0].slogan
                .menu__bod
                    h3.grab__all ALL
                    .category
                .sub__item__bod#foodItem
                    .sub__items.row__items
                        each menu in menus 
                            .menu__card
                                img.menu__card__img(src=`/images/menu-pic/${menu.coverImage}`  alt="menu__item__img")
                                .menu__card__det
                                    h3.menu__card__head= menu.name
                                    p.menu__card__price= menu.price
                                    p.menu__card__detail= menu.detail
                    .paginate 
                        button(type="button" name="prev").prev Previous
                        button(type="button" name="next").next.hidden Next              

    script(src="/js/alert.js") 
    script(src="/js/logout.js") 
    script(src="/js/menu/itemCat.js") 
    