extends baseMenu 

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
    .pageCount.hidden= restro[0].pageCount
    .rsid.hidden= restro[0]._id
    if (user)
        if (user.id !== restro[0].user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= restro[0].user.name
                    p.portiuserid.hidden= restro[0].user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .msg__user__btn.hidden 
            .msg__dot.hidden
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= restro[0].user.name 
            .portiuserid.hidden= restro[0].user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= restro[0].user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .first__menu__bod
        .menu__border
            .menu__secborder
                if (restro[0])
                    h1.menu__head.res__name= restro[0].name
                    p.menu__head.res__add= restro[0].Address
                    p.menu__head.res__add= restro[0].phn_no
                    p.menu__user__id.hidden= restro[0].user.id
                h1.menu__head Me n u
                form.search
                    input.searchbar(type="text", required, placeholder="Search Items...")
                button(type="button" name="darkmode").darkmode 
                    img(src="/images/on.png" alt="darkmode__image")
                if (restro[0])
                    p.menu__head.res__slogan= restro[0].slogan
                .menu__bod
                    h3.grab__all ALL
                    .category
                .sub__item__bod#foodItem
                    .sub__items.row__items
                        each menu in menus 
                            .menu__card
                                if (!menu.coverImage)
                                    img.menu__card__img(src="/images/noimg.png" loading="lazy"  alt="menu__item__img")
                                else 
                                    img.menu__card__img(src=`${menu.coverImage}` loading="lazy"  alt="menu__item__img")
                                .menu__card__det
                                    h3.menu__card__head= menu.name
                                    p.menu__card__price= menu.price
                                    p.menu__card__detail= menu.detail
                    .paginate 
                        button(type="button" name="prev").prev Previous
                        button(type="button" name="next").next.hidden Next              

    script(src="/js/alert.js") 
    script(src="/js/menu/itemCat.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/usermsg.js") 
    