extends baseMenu 

block content 

    h1.loader
        .bink
            img.porti__of__img(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/smalport.png", alt="porti__img")
            span.td Por
            span.grn t
            span.nocaps.td i
    if (user)
        if (!restro[0])
            p.themeUser.hidden= user.theme
            #addItemBtn.hidden
            .prev.hidden 
            .next.hidden
            .sub__items.hidden
            .uname__menu.hidden
            .share__link.hidden
            .restro__id.hidden
            #updateResBtn.hidden
            #qrcode
            .whole__menu__sec.hidden
            .confirm__pg
                h1.td You have not created a restaurant! Create and come back
                    a.lbtn(href="/porti#crtMenu") Create Restaurante
        else
            include ../_header
            p.themeUser.hidden= user.theme
            .lbtn.hidden
            .whole__menu__sec
                .menu__section
                    if (menus.length === 0)
                        h2.banner.up__place__det.form__label You haven't Added Items to your Menu, Add Few Items!
                    #item__form
                        .itemform__head 
                            h2.form__label Add Items To Menu
                            h2
                                a.form__label(href="#openMenu") Menu Link
                        form#addItem(action="/api/v1/menu" method="post" enctype="multipart/form-data")
                            .form__bod
                                label.form__label Food Name:
                                input#itemname.form__input(type="text"  name="menuname" required placeholder="Chicken Burger")
                            .form__bod
                                label.form__label Price: 
                                input#itemprice.form__input(type="text" name="menuprice" required placeholder="Rs. 150")
                            .form__bod
                                label.form__label Category: 
                                input#itemcat.form__input(type="text", name="menucategory" required placeholder="Burger")
                            .form__bod
                                label.form__label Detail (optional):
                                textarea#itemdetail.form__input(rows="4" cols="50" name="menudetail" placeholder="You can Describe about your food only if you want to, this field is optional...")
                            .form__bod.file_part
                                label.form__label(for="coverimage") Food Image:
                                input#coverimage.form__input(type="file" name="menuimage" accept="image/*"  required)
                            button#addItemBtn.blackbtn Add Item
                    .your__item__sec#foodItemSec
                        h2.items__head Your Items 
                        p.currentid.hidden= user._id
                        .sub__item__bod
                            .sub__items.sec__items
                            .paginate 
                                button.prev Previous
                                button.next.hidden Next
                    .share__menu 
                        h2.form__label Share your menu 
                        p.uname__menu.hidden= user.name
                        p.share__link

                    .qrcode__menu 
                        #qrcode 
                    .itemform__head 
                        h2.form__label Update Restaurant Detail
                    form#upRestro.upItem
                        .form__bod
                            label.form__label Restaurant Name:
                            input#resname.form__input(type="text" required value=restro[0].name)
                        .form__bod
                            label.form__label Address: 
                            input#resaddress.form__input(type="text" required value=restro[0].Address)
                        .form__bod
                            label.form__label Slogan (optional): 
                            input#resslogan.form__input(type="text", value=restro[0].slogan)
                        .form__bod
                            label.form__label Restaurant Type: 
                            input#resType.form__input(type="text", value=restro[0].resType)
                        .form__bod
                            label.form__label Contact: 
                            input#resContact.form__input(type="number", value=restro[0].phn_no)
                        .form__bod 
                            label.form__label Change Theme (optional):
                            select#menuThemes
                                option.opt(hidden selected)= restro[0].theme 
                                each item in theme 
                                    if (item.themeType === 'Free' || item.validMenuUser.includes(user.id))
                                        option.opt(value=`${item.themeId}`)= item.name
                        p.restro__len.hidden= restro.length
                        if (restro.length !== 0)
                            p.restro__id.hidden= restro[0]._id
                        else 
                            p.restro__id.hidden
                        button#updateResBtn.blackbtn Update Restaurant
                include ../_footer
    else 
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/login") Sign In

    //- script(src="/js/alert.js") 
    script(src="/js/menu/additem.js") 
    script(src="/js/qr.js")