extends baseMenu 

block content 

    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span.td vPor
            span.grn t
            span.nocaps.td i
    if (user)
        if (!restro[0])
            p.themeUser.hidden= user.theme
            #addItemBtn.hidden
            .prev.hidden 
            .next.hidden
            .sub__items.hidden
            .uname__menu.hidden
            .share__link.hidden
            .restro__id.hidden
            #updateResBtn.hidden
            #qrcode
            .whole__menu__sec.hidden
            .discountpercen.hidden
            .menu__messages__btn.hidden
            .confirm__pg
                h1.td You have not created a restaurant! Create and come back
                    a.lbtn(href="/layouts/porti#crtMenu") Create Restaurante
        else
            include ../_header
            p.themeUser.hidden= user.theme
            .lbtn.hidden
            .whole__menu__sec
                .menu__section
                    .options 
                        a(href='#item__form') Add Items
                        a(href="#upRestro") Update 
                        if (restro[0].theme !== "40bd001563085fc35165329ea1ff5c5ecbdbbeef")
                            a(href="#banrsec") Banner 
                        a(href="#termsandcond") Terms and Policies
                        a(href="#deleteCompany") Delete
                    if (menus.length === 0)
                        h2.banner.up__place__det.form__label You haven't Added Items to your Menu, Add Few Items!
                    
                    .menu__messages__btn &#127869; 
                    .new__menu__msg.hidden
                    .curressid.hidden= restro[0]._id
                    audio#msgalert.hidden
                        source(src="/noti/msg.mp3")
                    .menu__message__secetion.hidden
                        .menu__message__mid__sec
                            .menu__message__head 
                                h3.scaps Messages (Last 50 Orders Made)
                                img.cancel__msg__sec.point(src="/images/cancel.png" alt="cancel__btn")
                            .menu__message__bod
                            .menu__message__bod__prev
                        .menu__reveived__msg.hidden
                            .menu__message__head 
                                h3.tablename 
                                img.cancel__reveived__msg.point(src="/images/cancel.png" alt="cancel__btn")
                            .menu__reveived__msg__bod
                    .menu__reserve__btn &#129348; 
                    .new__menu__reserve.hidden
                    .menu__reserve__secetion.hidden
                        .menu__reserve__mid__sec
                            .menu__reserve__head 
                                img.cancel__reserve__sec.point(src="/images/cancel.png" alt="cancel__btn")
                                h3.scaps Reservations (Last 50 Reservation Made)
                            .menu__reserve__bod
                            .menu__reserve__bod__prev
                        .menu__reveived__reserve.hidden
                            .menu__reserve__head 
                                h3.reservename 
                                img.cancel__reveived__reserve.point(src="/images/cancel.png" alt="cancel__btn")
                            .menu__reveived__reserve__bod
                    .share__menu 
                        h2.form__label Share your menu 
                        p.uname__menu.hidden= user.name
                        p.share__link

                    .qrcode__menu 
                        #qrcode 
                    #item__form
                        .itemform__head 
                            h3.form__label.scaps Add Items To Menu
                            h3
                                a.scaps(href="#upRestro") Update Food Hub
                        form#addItem(action="/api/v1/menu" method="post" enctype="multipart/form-data")
                            .form__bod
                                label.form__label Food Name:
                                input#itemname.form__input(type="text"  name="menuname" required placeholder="Chicken Burger")
                            .form__bod
                                label.form__label Currency Sign: 
                                if (menus[0])
                                    input#itemcurrency.form__input(type="text" name="menucurrency" required value=menus[0].currency)
                                else
                                    input#itemcurrency.form__input(type="text" name="menucurrency" required placeholder="$ or Rs. or £")
                            .form__bod
                                label.form__label Price: 
                                input#itemprice.form__input(type="number" name="menuprice" required placeholder="150")
                            .form__bod
                                label.form__label Category: 
                                input#itemcat.form__input(type="text", name="menucategory" required placeholder="Burger")
                            .form__bod
                                label.form__label Detail (optional):
                                textarea#itemdetail.form__input(rows="4" cols="50" name="menudetail" placeholder="You can Describe about your food only if you want to, this field is optional...")
                            if (restro[0].theme !== "40bd001563085fc35165329ea1ff5c5ecbdbbeef")
                                .form__bod 
                                    label.form__label Apply Discount(optional):
                                    input#itemdiscount.checkbox(type="checkbox" name="menudiscount")
                            else 
                                #upcatalitemdiscount.hidden
                            .form__bod.file_part
                                label.form__label(for="coverimage") Food Image:
                                input#coverimage.form__input(type="file" name="menuimage" accept="image/*")
                            button#addItemBtn.blackbtn Add Item
                    .your__item__sec#foodItemSec
                        h3.items__head.scaps Your Items 
                        p.currentid.hidden= user._id
                        if (banner[0])
                            if (banner[0].discountpercent || banner[0].discountpercent !== null)
                                p.discountpercen.hidden= banner[0].discountpercent
                            else 
                                p.discountpercen.hidden
                        else 
                            p.discountpercen.hidden
                        .sub__item__bod
                            .sub__items.sec__items
                            .paginate 
                                button.prev Previous
                                button.next.hidden Next
                    
                    .itemform__head 
                        h3.form__label.scaps Update Food Hub Detail
                    form#upRestro.upItem
                        .form__bod
                            label.form__label Food Hub Name:
                            input#resname.form__input(type="text" required value=restro[0].name)
                        .form__bod
                            label.form__label Address: 
                            input#resaddress.form__input(type="text" required value=restro[0].Address)
                        .form__bod
                            label.form__label Slogan (optional): 
                            input#resslogan.form__input(type="text", value=restro[0].slogan)
                        .form__bod
                            label.form__label Food Hub Type: 
                            input#resType.form__input(type="text", value=restro[0].resType)
                        .form__bod
                            label.form__label Contact: 
                            input#resContact.form__input(type="number", value=restro[0].phn_no)
                        .form__bod
                            label.form__label Home Delivery:
                            if (restro[0].homedelivery === true) 
                                input#reshomedel.checkbox(type="checkbox", checked="checked")
                            else 
                                input#reshomedel.checkbox(type="checkbox")
                            label Checking the box will update order form so people can add their personal details
                        .form__bod 
                            label.form__label Change Theme (optional):
                            select#menuThemes.selectsec
                                option.opt(hidden selected)= restro[0].theme 
                                each item in theme 
                                    if (item.themeType === 'Free' || item.validMenuUser.includes(user.id))
                                        option.opt(value=`${item.themeId}`)= item.name
                        p.restro__len.hidden= restro.length
                        if (restro.length !== 0)
                            p.restro__id.hidden= restro[0]._id
                        else 
                            p.restro__id.hidden
                        button#updateResBtn.blackbtn Update Food Hub
                    form(action=`/api/v1/menu/${restro[0].id}/updateResImage` method="post" enctype="multipart/form-data").upItem
                        .form__bod.file_part
                        label.form__label(for="upcoverimage").scaps Update Food Hub Cover Image
                        input.form__input(type="file" accept="image/*" name="upmenuimage" required)
                        button.blackbtn Update Cover Image 
                    if (restro[0].theme !== "40bd001563085fc35165329ea1ff5c5ecbdbbeef")
                        .createBanner#banrsec
                            .itemform__head 
                                h3.form__label.scaps Create A Banner
                            form.upItem
                                .form__bod 
                                    label.form__label.scaps Banner Information 
                                    if (!banner [0])
                                        textarea.form__input#bannerInfo(type="text" placeholder="Holiday Offer !!!! 50% Discount On Every Food Item")
                                    else 
                                        textarea.form__input#bannerInfo(type="text" placeholder="You Can only have one Banner at a time" disabled)
                                    label.form__label Discount Percentage(optional)
                                    if (!banner[0])
                                        input.form__input#dscountpercent(type="number" placeholder="50 (you dont have to use % sign)")
                                    else 
                                        input.form__input#dscountpercent(type="number" placeholder="You Can only have one Banner at a time" disabled)
                                button#bannerbtn.blackbtn Create
                            if (banner[0])
                                .banner__sec 
                                    h2= banner[0].bannerInfo
                                    p#bannerId.hidden= banner[0]._id
                                    if (banner[0].discountpercent || banner[0].discountpercent !== null)
                                        h2= `${banner[0].discountpercent}%`
                                        p.scaps You will have to check apply discount to items, to use it in your product items
                                        .grp__btn 
                                            #updateDiscountToAll.ygbtn Apply Discount In All Items
                                            #removeDiscountToAll.ygbtn Remove Discount In All Items
                                    else 
                                        #updateDiscountToAll.hidden 
                                        #removeDiscountToAll.hidden
                                    btn#deletebanner.blackbtn Delete
                            else 
                                .banner__sec 
                                    h1.scaps No Banner
                                    #deletebanner.hidden
                                    #bannerId.hidden
                                    #updateDiscountToAll.hidden 
                                    #removeDiscountToAll.hidden
                    else 
                        #bannerbtn.hidden 
                        #dscountpercent.hidden
                        #bannerInfo.hidden 
                        #bannerId.hidden 
                        #deletebanner.hidden
                        #updateDiscountToAll.hidden 
                        #removeDiscountToAll.hidden
                        .bannerresid.hidden
                    h4.scaps.txtcent Update Your Organizations Terms And Policies
                    .termsandpolicies 
                        .blackbtn#termsandcond Terms and Conditions 
                        .termservice.hidden 
                            .termservice__head 
                                h3 Your Terms of Service 
                                img.cancelterms.point(src="/images/cancel.png" alt="cancel__btn")
                            .termservice__bod 
                                if (restro[0].serviceTerms)
                                    textarea#termsValue.big__input(type="text")= restro[0].serviceTerms
                                else 
                                    textarea#termsValue.big__input(type="text" placeholder="Enter Your Terms and Conditions")
                                #updateTerms.blackbtn Update 

                        .blackbtn#privacypol Privacy Policies
                        .privacypolicies.hidden 
                            .privacypolicies__head 
                                h3 Your Privacy Policies 
                                img.cancelprivacypolicies.point(src="/images/cancel.png" alt="cancel__btn")
                            .privacypolicies__bod 
                                if (restro[0].privacyPolicies)
                                    textarea#policiesValue.big__input(type="text")= restro[0].privacyPolicies
                                else 
                                    textarea#policiesValue.big__input(type="text" placeholder="Enter Your Privacy Policies")
                                #updatePolicies.blackbtn Update 
                .delete__sec 
                    h2.scaps Delete Food Hub 
                    p.scaps It will delete Everything including all the Menu items
                    .delrestroid.hidden= restro[0]._id
                    .delmenuid.hidden= restro[0].user._id
                    btn#deleteCompany.blackbtn Delete
                .close__confirm.hidden  
                    h1.txtcnt Are you sure you want to Delete your Food Hub?
                    h2.txtcnt Everything will be lost!!!
                    .close__btn__grp 
                        .confirmclose Confirm 
                        .cancelclose Cancel
                include ../_footer
    else 
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/account/login") Sign In

    script(src="/socket.io/socket.io.js") 
    script(src="/js/menu/additem.js") 
    script(src="/js/qr.js")