extends baseMenu 

block content 

    .loader
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
    if (user)
        .port__nav
            .port__nav__first
                a.port__head.act(href="/me")
                    if (user.photo)
                        img.userDp.profPic(src=`/images/users/${user.photo}`, alt="prof__pic", title=`${user.name}`)
                    else 
                        img.userDp.profPic.satProf(src="/images/hitman.png", alt="prof__pic", title=`${user.name}`)
                a.port_sec_head.hm(href="/" title="home")
                    h1 Tech 
                        span Mafia
                .logout
                    img.pointer(src="/images/poweroff.png", alt="signout" title="logout")
            .port__nav__sub 
                a.ypf(href=`/myportfolio/${user._id}` title="your portfolio")
                    img(src="/images/porti.png", alt="view_port")
                    span#usId.hidden= user._id
                a.yin(href=`/invitations/${user._id}` title="your invitations")
                    img(src="/images/invite.png", alt="view_port")
                    span#uiId.hidden= user._id
            .breadcrumbs 
                a.bdcb(href="#" title="additemstomenu") You Are Here |
                a.bdcb(href="/") Home 
                a.bdcb(href="#") &#8680;
                a.bdcb(href="/porti") Porti
                a.bdcb(href="#") &#8680;   
                a.cur(href="#") Add Items To Menu
        #item__form
            .itemform__head 
                h2 Add Items To Menu
                h2
                    a(href=`/${user.name}/menu/${user._id}/40bd001563085fc35165329ea1ff5c5ecbdbbeef` title="My Menu") My Menu
            form#addItem
                .form__bod
                    label Food Name:
                    input#itemname(type="text" required placeholder="Chicken Burger")
                .form__bod
                    label Price: 
                    input#itemprice(type="text" required placeholder="Rs. 150")
                .form__bod
                    label Category: 
                    input#itemcat(type="text", required placeholder="Burger")
                .form__bod
                    label Detail (optional):
                    textarea#itemdetail(rows="4" cols="50" placeholder="You can Describe about your food only if you want to, this field is optional...")
                .form__bod.file_part
                    input#coverimage(type="file" accept="image/*"  required)
                button#addItemBtn.blackbtn Add Item
        .your__item__sec
            h2.items__head Your Items 
            .sub__items
                each menu in menus 
                    if (menu.user.id == user._id)
                        .menu__card
                            img.menu__card__img(src=`/images/menu-pic/${menu.coverImage}`)
                            .menu__card__det
                                h3.itemname.menu__card__head= menu.name
                                p.itemprice.menu__card__price= menu.price
                                p.itemdetail.menu__card__detail= menu.detail
                                a(href=`/${menu._id}/tweaks?update`).ygbtn Update
                                a(href=`/${menu._id}/tweaks?delete`).redbtn Delete
            .paginate 
                button.prev Previous
                button.next.hidden Next       
    else 
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/login") Sign In

    script(src="/js/alert.js") 
    script(src="/js/logout.js") 
    script(src="/js/menu/additem.js") 