extends baseMenu 

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i
    .pageCount.hidden= restro[0].pageCount
    .pageName.hidden= restro[0].name
    if (user)
        if (user.id !== restro[0].user.id)
            h1.msg__user__btn &#9993;
            .msg__dot.hidden
            audio.usermsgalert.hidden
                source(src="/noti/msg.mp3")
            .msg__user__sec.hidden 
                .msg__user__head 
                    h2.portfoliouser= restro[0].user.name
                    p.portiuserid.hidden= restro[0].user.id
                    p.curlogusername.hidden= user.name
                    p.curloguser.hidden= user._id 
                    img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
                .msg__user__bod 
                    .cur__user__msg
                form.msg__inpt__sec
                    input.curusermessage(type="text" placeholder="type your message") 
                    img(src="/images/send.png" class="sendusermessagebtn")
        else 
            .msg__user__btn.hidden 
            .msg__dot.hidden
            .usermsgalrt.hidden 
            .msg__user__sec.hidden 
            .cancelmsgusersec.hidden 
            .curusermessage.hidden 
            .sendusermessagebtn.hidden
            .portfoliouser.hidden= restro[0].user.name 
            .portiuserid.hidden= restro[0].user.id
            .curlogusername.hidden= user.name 
            .curloguser.hidden= user._id
            .cur__user__msg.hidden
    else 
        h1.msg__user__btn &#9993;
        .msg__dot.hidden
        .msg__user__sec.hidden 
            .msg__user__head 
                h2.portfoliouser= restro[0].user.name
                img.cancelmsgusersec(src="/images/cancel.png" alt="cancelbtn")
            .msg__user__bod 
                p You Are Not Logged In 
                    span.goToLoginPage Login || SignUp
                .cur__user__msg.hidden 
        .usermsgalrt.hidden 
        .msg__user__sec.hidden 
        .curusermessage.hidden 
        .sendusermessagebtn.hidden
        .curlogusername.hidden
        .curloguser.hidden
        .portiuserid.hidden
    .sec__menu__sec 
        if (restro[0])
            .sec__menu__usr__id.hidden= restro[0].user.id
        else 
            .sec__menu__usr__id.hidden
        .resdetail(title="contact info") &#9743;
        .restro__info.hidden
            .restrodeatilmidsec
                .res__detail__head 
                    p Contact Us 
                    img.cancel__detail.point(src="/images/cancel.png" alt="cancel__btn")
                .restro__info__bod.sec__contact__detail 
                    p= restro[0].Address
                    p= restro[0].phn_no
                    if (restro[0].serviceTerms)
                        p.sec__terms Terms And Conditions
                        .terms__sec.hidden 
                            .termservice__head 
                                h3 Terms of Service 
                                img.hideterms.point(src="/images/cancel.png" alt="cancel__btn")
                            .terms__sec__bod
                                pre.termspoliciespre= restro[0].serviceTerms 
                    else 
                        .terms__sec.hidden 
                        .hideterms.hidden 
                        .sec__terms.hidden 
                    if (restro[0].privacyPolicies)
                        p.sec__policies Privacy Policies
                        .policies__sec.hidden 
                            .privacypolicies__head 
                                h3 Privacy Policies 
                                img.hideprivacypolicies.point(src="/images/cancel.png" alt="cancel__btn")
                            .policies__sec__bod
                                pre.termspoliciespre= restro[0].privacyPolicies
                    else 
                        .sec__policies.hidden 
                        .policies__sec.hidden
                        .hideprivacypolicies.hidden
        #thiscurrentrestroid.hidden= restro[0]._id
        #thiscurrentrestrouser.hidden= restro[0].user.name
        if (user)
            #thisusrid.hidden= user._id
        else 
            #thisusrid.hidden
        .resorder(title="order") &#127869;
        .resorderfill.hidden
        audio#secmsgalert.hidden
            source(src="/noti/msg.mp3")
        .resorder__info.hidden 
            .restromidsec
                .res__detail__head 
                    p Order 
                    img.cancel__order.point(src="/images/cancel.png" alt="cancel__btn")
                if (user)
                    #gotoLogin.hidden
                    .restro__info__bod
                        form
                            .form__cont__order
                                label Tabel No :
                                input#tableno(type="text", name="tableno", placeholder="rc11 Or Home Delivery")
                                #uniqueusername.hidden= user.name
                                #uniqueuserid.hidden= user.id
                            .form__item__display__sec 
                                
                            .form__cont__order
                                textarea#resordermsg.hidden(type="text", name="resordermsg", placeholder="1 Chicken Pizza") 
                                input#uniquerestroname.hidden(type="text" value=`${restro[0]._id}`)
                            if (restro[0].homedelivery === true)
                                p.hminfo If Home Delivery click 
                                    span#showHomeDelOpt Home Delivery
                                .showhomesec.hidden
                                    .form__cont__order 
                                        label Address :
                                        input#resordadd(type="text", placeholder="your address")
                                    .form__cont__order 
                                        label Phone Number :
                                        input#resordphn(type="number", placeholder="976456132498")
                            else 
                                .showhomesec.hidden
                                input#resordadd.hidden 
                                input#resordphn.hidden
                                #showHomeDelOpt.hidden
                            .form__cont__order
                                button#sendorderreq.lonbtn Order
 
                        h3 Your Order
                        p.smallfnt Your last 10 orders
                        .foods__order__his

                else 
                    .restro__info__bod 
                        h4 You are Not Logged In Please Log in to Order Food 
                        .lonbtn#gotoLogin Login || SignUp
                        #sendorderreq.hidden 
                        #uniquerestroname.hidden
                        #uniqueusername.hidden
                        #uniqueuserid.hidden
                        #resordermsg.hidden
                        .form__item__display__sec.hidden 
                        .foods__order__his.hidden
        .sec__menu__banner.hidden 
            if (banner[0])
                p.bannerinfo= banner[0].bannerInfo
                img.removebanner.point(src="/images/cancel.png", alt="cancel__btn")
            else 
                .sec__menu__banner.hidden
                .removebanner.hidden 
        .sec__menu__cover 
            h1.resname= `${restro[0].name} Menu`
            if (restro[0].coverImage)
                img(src=`${restro[0].coverImage}`, alt="cover__img")
            else
                img(src="/images/menubacksmall.jpg", alt="cover__img")
            .sec__menu__cate 
                .sec__menu__cate__first
                    if (allmenus.length >= "3")
                        p.sec__menu__cate__names.point= allmenus[0]
                        p.sec__menu__cate__names.point= allmenus[1]
                        p.sec__menu__cate__names.point= allmenus[2]
                    else 
                        p.sec__menu__cate__names.point Add Item
                        p.sec__menu__cate__names.point Add Item
                        p.sec__menu__cate__names.point Add Item
                p.viewallcate.point View All 
        .sec__menu__viewall.hidden 
            .sec__menu__viewall__head
                p All Food Types 
                img.cancel__Cat(src="/images/cancel.png", alt="cancel__btn")
            .sec__menu__viewall__bod
                if (allmenus[0])
                    each menu in allmenus 
                        p.sec__menu__cate__names.point= menu
                else 
                    p.sec__menu__cate__names.point Add Item
        .sec__menu__allfood.hidden 
            .sec__menu__allfood__head 
            
            .sec__menu__allfood__bod 

        if (banner[0])
            if (banner[0].bannerpercent || banner[0].discountpercent !== null)
                p.bannerpercent.hidden= banner[0].discountpercent
            else
                .bannerpercent.hidden
        else 
            .bannerpercent.hidden
        .sec__item__sec.hidden

    if (user)
        .reserve__btn(title="make reservation") &#129348;
        .reserve__fill.hidden
        .reserve__sec.hidden 
            .reserve__midsec 
                .reserve__head 
                    h1 Make Reservation 
                    img.reservecancel.point(src="/images/cancel.png" alt="cancel")
                    .acclog.hidden
                .reserve__bod
                    form
                        .form__cont__order
                            label Name :
                            input#reserveuser(type="text", name="tableno", value=user.name)
                            #reserveuserid.hidden= user.id
                            #reserverestroid.hidden= restro[0]._id
                        .form__cont__order
                            label Total People : 
                            input#reserveno(type="number" required placeholder="2") 
                        .form__cont__order
                            label Date : 
                            input#reservedate(type="date" required) 
                        .form__cont__order
                            label Time : 
                            input#reservetime(type="time" required)
                        .form__cont__order 
                            label Contact : 
                            input#reservephn(type="number" required placeholder="9876543127")
                        .form__cont__order
                            button#reservereq.lonbtn Reserve
                    h3 Your Reservations
                        p.smallfnt Your last 10 Reservations with 
                            span= restro[0].name
                    .reservations
    else 
        .reserve__btn(title="make reservation") &#129348;
        .reserve__fill.hidden
        .reserve__sec.hidden
            .reserve__midsec
                .reserve__head 
                    h1 Make Reservation 
                    img.reservecancel.point(src="/images/cancel.png" alt="cancel")
                .reserve__bod
                    h3 Login To Make Reservation
                    h3.lonbtn.acclog Login || SignUp
        .reservations.hidden
        #reserveuser.hidden 
        #reserveuserid.hidden 
        #reserverestroid.hidden 
        #reservedate.hidden 
        #reservetime.hidden 
        #reservephn.hidden 
        #reservereq.hidden

            
    script(src="/js/alert.js") 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/menu/secmenu.js") 
    script(src="/js/usermsg.js") 


