extends baseMenu 

block content 

    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span.td Por
            span.grn t
            span.nocaps.td i
    if (user)
        include ../_header
        .statUserTheme.hidden= user.theme
        .pageCount_sec
            p.txt.opn Page Views : 
                span.txt= restro[0].pageCount
        .restro__stat__sec
            .restro__stat__bod
                h1.txt.stathead= `${restro[0].name} Statistics`
                .restro__thirtyday__graph
                    h2.txt Orders Made in Last 30 Days
                    .chart__back
                        canvas#myChart
                .restro__allorders__chart 
                    h2.txt All Time Order Chart 
                    p.txt.txtcent.alltimetotalorder
                    .restro__graph__grp
                        canvas#myPie
                        canvas#myBar.bar
                        canvas#resPie
                h2.txtcent Most Liked Items
                .likedItem.grntag
                h2.txtcent Most Dis-Liked Items
                .disLikedItem.rdtag
                h2.txt.txtcent View Your Orders Using the Filters Below
                .restro__stat__btns 
                    .currentrestroid.hidden= restro[0]._id
                    .currentusrid.hidden= restro[0].user._id
                    button#getPerDay.statbtn Today 
                    button#getPerWeek.statbtn Last 7 Days
                    button#getPerMonth.statbtn Last 30 Days
                    button#getAllHome.statbtn All Home Orders 
                    button#getAllRestro.statbtn All Restro Orders
                    button#getAllReserve.statbtn All Reservation
                h2.txt.txtcent Find By Month 
                .restro__stat__month   
                    .res__stat__inpt
                        input#getyear(type="number", name="perdate" value="2023")
                        select#months
                            option.opt(hidden selected) ----
                            option.opt(value="Jan") Jan
                            option.opt(value="Feb") Feb
                            option.opt(value="Mar") Mar
                            option.opt(value="Apr") Apr
                            option.opt(value="May") May
                            option.opt(value="Jun") Jun
                            option.opt(value="Jul") Jul
                            option.opt(value="Aug") Aug
                            option.opt(value="Sep") Sep
                            option.opt(value="Oct") Oct
                            option.opt(value="Nov") Nov
                            option.opt(value="Dec") Dec
                    button#getByMonth.statbtn Find
                #restro__order__data
                    .restro__order__count
                    .pie__per__deman
                        .restro__graph__grp#today__sec.hidden
                        .restro__graph__grp#week__sec.hidden
                        .restro__graph__grp#month__sec.hidden
                        .restro__graph__grp#bymonths__pie.hidden

                    .restro__order__list#order_list
                    .allreservesec.paginate.hidden
                        .allreserveprev.hidden.statbtn Previous 
                        .allreservenext.hidden.statbtn Next
                    .restosec.paginate.hidden
                        .restoprev.hidden.statbtn Previous 
                        .restonext.hidden.statbtn Next
                    .homesec.paginate.hidden
                        .homeprev.hidden.statbtn Previous 
                        .homenext.hidden.statbtn Next
                    .bymonthsec.paginate.hidden 
                        .bymonthprev.hidden.statbtn Previous 
                        .bymonthnext.hidden.statbtn Next
                    .monthsec.paginate.hidden
                        .monthprev.hidden.statbtn Previous 
                        .monthnext.hidden.statbtn Next
                    .weeksec.paginate.hidden
                        .weekprev.hidden.statbtn Previous 
                        .weeknext.hidden.statbtn Next
                    .daysec.paginate.hidden
                        .dayprev.hidden.statbtn Previous 
                        .daynext.hidden.statbtn Next
        .footsec
            include ../_footer
    else
        .confirm__pg
            h1 Please Sign In To Your Account !
            a(href="/account/login") Sign In

    script(type="module" src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="/js/alert.js") 
    script(type="text/javascript" src="/js/menu/stats.js") 